<% content_for :title, title_with_error_prefix(t('page_titles.which_study_mode'), @wizard.current_step.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @wizard.current_step,
          url: candidate_interface_edit_continuous_applications_course_study_mode_path(@application_choice.id, @application_choice.current_course.id),
          method: :patch,
        ) do |f| %>
      <%= render 'form_fields', f: %>
    <% end %>
  </div>
</div>
