@use "../base/govuk";

.app-count {
  display: inline-block;

  color: govuk.govuk-colour("blue");

  @include govuk.govuk-media-query($from: tablet) {
    display: block;
  }
}

.app-count__item {
  display: flex;

  flex-direction: column-reverse;

  margin-right: govuk.govuk-spacing(4);

  text-decoration: none;

  @include govuk.govuk-media-query($from: tablet) {
    @include govuk.govuk-responsive-margin(4, "bottom");
  }
}

.app-count__key {
  @include govuk.govuk-font($size: 24, $weight: bold);
  text-transform: lowercase;
}

.app-count__value {
  @include govuk.govuk-font(
    $size: 80,
    $weight: bold,
    $line-height: 0.75,
    $tabular: true
  );
  margin: 0;
}
