@use "../base/govuk";

.app-email-preview {
  padding: govuk.govuk-spacing(4);
  margin-top: govuk.govuk-spacing(4);
  margin-bottom: govuk.govuk-spacing(6);

  border-color: govuk.$govuk-border-colour;
  border-style: solid;
  border-width: $govuk-border-width;
}
