@use "../base/govuk";

.app-interviews {
  margin-bottom: govuk-spacing(4);

  .app-interview-card {
    display: flex;

    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);

    border-bottom: 1px solid govuk.govuk-colour("mid-grey");
  }

  h2 + .app-interview-card {
    border-top: 1px solid govuk.govuk-colour("mid-grey");
  }

  .app-interview-card__time {
    box-sizing: border-box;

    width: 15%;

    padding-right: govuk-spacing(2);
  }

  .app-interview-card__candidate {
    box-sizing: border-box;

    width: 40%;

    padding-right: govuk-spacing(2);
  }

  .app-interview-card__course {
    box-sizing: border-box;

    width: 45%;
  }
}
