@use "../base/govuk";

.app-offer-panel {
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6, "bottom");
  border: $govuk-border-width solid govuk.govuk-colour("mid-grey");
}

.app-offer-panel--no-border {
  padding: 0;

  border: none;
}
