.app-rejection {
  position: relative;

  padding-right: 70px;
  margin-bottom: govuk-spacing(6);

  p {
    margin-bottom: 0;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  ul:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .app-rejection__actions {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
  }
}

.govuk-summary-list__value p {
  margin-top: 0;
}
