<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">Privacy policy</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Who we are</h2>
      <p class="govuk-body">This work is being carried out by Department for Education (DfE) Digital, which is a part of DfE. For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of ‘Find postgraduate teacher training’.</p>

      <h2 class="govuk-heading-l">How we will use your information</h2>
      <p class="govuk-body">We receive your personal data in the form of your IP address and are processing it in order to track traffic to the service and continuously improve our service to better meet users’ needs. In some instances, we may also collect your email address for similar purposes. More information about this work is available if you wish to contact us at <a href="mailto:becomingateacher@digital.education.gov.uk" class="govuk-link">becomingateacher@digital.education.gov.uk</a>.
      </p>

      <h3 class="govuk-heading-m">The nature of your personal data we will be using</h3>
      <p class="govuk-body">The categories of your personal data that we will be using for this project are: IP address and contact information - email address.
      </p>

      <h2 class="govuk-heading-l">Why our use of your personal data is lawful</h2>
      <p class="govuk-body">In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this project, this processing is necessary to complete a task in the public interest.
      </p>

      <h2 class="govuk-heading-l">How long we will keep your personal data</h2>
      <p class="govuk-body">We will only keep your personal data for as long as we need it for the purpose(s) of this piece of work, after which point it will be securely destroyed. Please note that under data protection legislation and in compliance with the relevant data processing conditions, we can lawfully keep personal data processed purely for research and statistical purposes indefinitely.
      </p>

      <h2 class="govuk-heading-l">Your data protection rights</h2>
      <p class="govuk-body">You have the right:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to ask us for access to information about you that we hold</li>
        <li>to have your personal data rectified, if it is inaccurate or incomplete</li>
        <li>to request the deletion or removal of personal data where there is no compelling reason for its continued processing</li>
        <li>to restrict our processing of your personal data (i.e. permitting its storage but no further processing)</li>
        <li>to object to direct marketing (including profiling) and processing for the purposes of scientific/historical research and statistics</li>
        <li>not to be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you</li>
      </ul>

      <p class="govuk-body">
        You can <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights" class="govuk-link">find out more about your data protection rights</a> on the Information Commissioner’s website.
      </p>

      <h2 class="govuk-heading-l">The right to lodge a complaint</h2>

      <p class="govuk-body">You have the right to raise any concerns with the Information Commissioner’s Office (ICO) via their website at <a href="https://ico.org.uk/concerns/" class="govuk-link">https://ico.org.uk/concerns/</a>.
      </p>
      <h2 class="govuk-heading-l">Last updated</h2>
      <p class="govuk-body">This version was last updated on 30 April 2018.
      </p>
      <h2 class="govuk-heading-l">Contact us</h2>

      <p class="govuk-body">
        Email <a href="mailto:becomingateacher@digital.education.gov.uk" class="govuk-link">becomingateacher@digital.education.gov.uk</a> if you have any questions about how your personal information will be processed.
      </p>
    </div>
  </div>
</div>
