<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Terms and conditions</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Using our website</h2>
        <p class="govuk-body">
          The ‘Find postgraduate teacher training’ service is maintained for your personal use and viewing. Access and use by you of this site constitutes your acceptance of these terms and conditions. This takes effect from the date on which you first use this website.
        </p>

        <h2 class="govuk-heading-l">Hyperlinking to Find postgraduate teacher training </h2>
        <p class="govuk-body">
          We do not object to you linking directly to pages on this site and you do not need to ask permission to do so. However, we do not permit our pages to be loaded into frames on your site. The ‘Find postgraduate teacher training’ pages must be displayed in the user’s entire browser window.
        </p>

        <h2 class="govuk-heading-l">Hyperlinking from Find postgraduate teacher training</h2>
        <p class="govuk-body">
          We are not responsible for the content or reliability of the websites we link to and do not necessarily endorse the views expressed within them. We aim to replace broken links to other sites but cannot guarantee that these links will always work as we have no control over the availability of other sites.
        </p>

        <h2 class="govuk-heading-l">Virus protection</h2>
        <p class="govuk-body">
          We make every effort to check and test material at all stages of production. It is always wise for you to run an anti-virus program on all material downloaded from the Internet. We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website.
        </p>

        <h2 class="govuk-heading-l">Disclaimer</h2>
        <p class="govuk-body">‘Find postgraduate teacher training’ and material relating to government information, products and services (or to third party information, products and services), is provided ‘as is’, without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</p>

        <p class="govuk-body">We do not warrant that the functions contained in the material contained in this site will be uninterrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or represent the full functionality, accuracy, reliability of the materials. In no event will we be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from use or loss of use of, data or profits arising out of or in connection with the use of the ‘Find postgraduate teacher training’.</p>

        <p class="govuk-body">These terms and conditions shall be governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
      </div>
    </div>
  </div>
