<% content_for :title, t('authentication.confirm_authentication.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: candidate_interface_authenticate_path(path: @authentication_token.path), method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('authentication.confirm_authentication.heading') %>
      </h1>
      <p class="govuk-body">
        Click below to sign in
      </p>
      <%= hidden_field_tag :token, params[:token], html: { autocomplete: 'off' } %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
