<% content_for :title, t('authentication.expired_token.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: candidate_interface_create_expired_sign_in_path, method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('authentication.expired_token.heading') %>
      </h1>
      <p class="govuk-body">
        The sign in link expires after one hour and only works once, so you need a new link.
      </p>

      <%= hidden_field_tag :token, params[:token], html: { autocomplete: 'off' } %>

      <%= f.govuk_submit t('page_titles.sign_in') %>
    <% end %>
  </div>
</div>
