<% content_for :title, t('authentication.expired_token.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @candidate, url: candidate_interface_sign_in_path, method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('authentication.expired_token.heading') %>
      </h1>
      <p class="govuk-body">
        Sign in links only work for one hour, so you need to request a new one. We'll send this by email.
      </p>

      <%= hidden_field_tag :u, params[:u] %>

      <%= f.govuk_submit t('authentication.expired_token.button') %>
    <% end %>
  </div>
</div>
