<%= stylesheet_link_tag 'application-publications' %>
<div>
  <%= render Publications::DataTableComponent.new(caption: 'Applications by Age', title: local_assigns[:age_title], data: local_assigns[:age_data]) %>
</div>
<div>
  <%= render Publications::DataTableComponent.new(caption: 'Applications by Phase', title: local_assigns[:phase_title], data: local_assigns[:phase_data]) %>
</div>
