<% content_for :context, 'UCAS match' %>
<% content_for :title, @match.candidate.email_address %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Candidates: support_interface_candidates_path,
    'UCAS matches': support_interface_ucas_matches_path,
    @match.candidate.email_address => support_interface_ucas_match_path(@match),
  }.merge(title != 'Details' ? { title => nil } : {})) %>
<% end %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_ucas_match_path(@match) },
  { name: 'History', url: support_interface_ucas_match_audit_path(@match) },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
