<% if @reason == :email_bounced %>
<h1 class="govuk-heading-m">Referee request did not reach<%= @referee.name %></h1>

Check you gave the correct email address and request the reference again.
<% elsif @reason == :refused %>
<h1 class="govuk-heading-m"><%= @referee.name %> has declined your reference request</h1>
<% else %>
<h1 class="govuk-heading-m"><%= @referee.name %> has not responded yet</h1>
<% end %>

You can add as many referees as you like to increase the chances of getting 2 references quickly.

You can also send one reminder to each referee from your account.

Manage your references:

<%= candidate_magic_link(@candidate) %>

You cannot submit your application without 2 references. Courses can become full anytime - get your references as soon as possible.
