<h1 class="govuk-heading-m">You have a reference from<%= @referee.name %></h1>

<% if current_application.application_references.feedback_provided > 1 %>
You’ve got 2 references back now.

When you’re ready, you can send your application to training providers.

Sign in to continue your application:
<% else %>
You need to get another reference back before you can send your application to training providers.

You can add as many referees as you like to increase the chances of getting 2 references quickly.

Manage your references:
<% end %>

<%= @candidate_magic_link %>
