@use "../base/govuk";

.app-task-list {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  padding-left: 0;

  list-style: none;
}

.app-task-list__item {
  @include govuk-clearfix;
  padding-top: govuk.govuk-spacing(1);
  padding-bottom: govuk.govuk-spacing(1);

  border-bottom: 1px solid $govuk-border-colour;

  .govuk-tag {
    margin-top: govuk.govuk-spacing(1);
    margin-bottom: govuk.govuk-spacing(1);

    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }

  .app-task-list__content {
    @include govuk-clearfix;
  }

  .app-task-list__content + .app-task-list__content {
    margin-top: govuk.govuk-spacing(2);
  }

  .app-task-list__content > *:last-child {
    margin-bottom: 0;
  }
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;

  padding: govuk.govuk-spacing(1);
  padding-right: govuk.govuk-spacing(2);
  padding-left: 0;

  @include govuk-media-query($from: tablet) {
    float: left;
  }
}

@media print {
  .app-task-list__task-name::after {
    display: none;
  }
}
