<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Users
    </h1>
    <h2 class="govuk-heading-l">
      Support users
    </h2>
    <p class="govuk-body">
      <%= link_to 'Manage support users', support_interface_support_users_path %>
    </p>

    <h2 class="govuk-heading-l">
      Provider users
    </h2>
    <p class="govuk-body">
      <%= link_to 'Manage provider users', support_interface_provider_users_path %>
    </p>
  </div>
</div>
