<% content_for :title, 'Users' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Support users', support_interface_support_users_path %>
    </h2>
    <p class="govuk-body">
      Manage who can use Support for Apply
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      <%= govuk_link_to 'Provider users', support_interface_provider_users_path %>
    </h2>
    <p class="govuk-body">
      Manage who has access to each provider
    </p>
  </div>
</div>
