
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="app-grid-column--grey">
      <h1 class="govuk-heading-l">You are eligible for a free teacher training adviser</h1>
    </div>
  </div>
</div>
