<%= render 'settings_navigation', title: 'Recruitment cycles' %>

<% unless HostingEnvironment.production? %>
<!--  https://trello.com/c/MJpXHWn1-->
  <h2 class="govuk-heading-m">The Cycle Switcher is temporarily unavailable</h2>

  <p class="govuk-body">
    We are making improvements to this tool and it is currently unavailable.
  </p>
<% end %>

<h2 class="govuk-heading-m">Cycle years</h2>

<%= render SummaryListComponent.new(rows: {
  'Previous cycle year' => RecruitmentCycle.previous_year,
  'Current cycle year' => RecruitmentCycle.current_year,
  'Next cycle year' => RecruitmentCycle.next_year,
  'Years visible to providers' => RecruitmentCycleTimetable.years_visible_to_providers.to_sentence,
  'Current cycle week' => CycleTimetable.current_cycle_week,
}) %>

<h2 class="govuk-heading-m">Deadlines</h2>

<p class="govuk-body">(Today is <%= CycleTimetable.current_date.to_date.to_fs(:govuk_date) %>)</p>

<%= render SummaryListComponent.new(rows: {
  'Apply deadline' => CycleTimetable.apply_deadline.to_fs(:govuk_date_and_time),
  'Find closes on' => CycleTimetable.find_closes.to_fs(:govuk_date_and_time),
  'Find reopens on' => CycleTimetable.find_reopens.to_fs(:govuk_date_and_time),
  'Apply reopens on' => CycleTimetable.apply_reopens.to_fs(:govuk_date_and_time),
}) %>
