version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: activerecord
    versions:
    - 6.1.3.1
  - dependency-name: activemodel
    versions:
    - 6.1.3.1
  - dependency-name: railties
    versions:
    - 6.1.3.1
  - dependency-name: actionview
    versions:
    - 6.1.3.1
  - dependency-name: actionmailer
    versions:
    - 6.1.3.1
  - dependency-name: actionpack
    versions:
    - 6.1.3.1
  - dependency-name: activesupport
    versions:
    - 6.1.3.1
  - dependency-name: govuk_design_system_formbuilder
    versions:
    - 2.3.0
    - 2.4.0
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "@rails/ujs"
    versions:
    - 6.1.2
    - 6.1.3
