<% cache 'courses-grouped-by-region-and-provider', expires_in: 15.minutes do %>
  <h1 class="govuk-heading-xl govuk-!-width-two-thirds">
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    </div>
  </div>
<% end %>
