<div class="govuk-grid-column-three-quarters">
    
<h2 class="govuk-heading-m">How the application process works</h2>

<p class="govuk-body">Most courses are one year and start in September. Part time courses are usually 2 years.</p>

<p class="govuk-body">For courses starting in September 2024, the applications process works like this:</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">What happens</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10&nbsp;October&nbsp;2023</th>
      <td class="govuk-table__cell">All teacher training courses are published.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 October 2023 to <br>1 July 2024</th>
      <td class="govuk-table__cell">You can apply to 4 training providers at a time. Training providers will assess applications on a continual basis.<br><br>When you apply, providers have 40 working days to make a decision. If they do not, your application will become inactive. <br><br>The training provider can still make an offer if your application becomes inactive. While you wait, you’ll be able to add another application to a different provider. <br><br>You’ll have 20 working days to make a decision on any offer. <br><br>If you decline any offers, or withdraw an application, you can continue to apply to other providers.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1 July 2024 to <br>17&nbsp;September&nbsp;2024</th>
      <td class="govuk-table__cell">Applications are still open. The time for training providers to make a decision on any application before it becomes inactive reduces from 40 working days to 20 working days.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 September 2024, 6pm</th>
      <td class="govuk-table__cell">Application deadline<br>You should submit all your applications by this date to be accepted onto a course starting in September 2024.</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 September 2024</th>
      <td class="govuk-table__cell">A final decision is made on all open applications.</td>
    </tr>
  </tbody>
</table>
</div>
