<p class="govuk-body"><%= provider.name %> can:</p>
<ul class="govuk-list">
  <li>
    <%= render 'provider_interface/check_icon' %>
    view applications
  </li>
  <% if permissions.make_decisions %>
    <li>
      <%= render 'provider_interface/check_icon' %>
      make decisions
    </li>
  <% end %>
  <% if permissions.view_safeguarding_information %>
    <li>
      <%= render 'provider_interface/check_icon' %>
      see safeguarding information
    </li>
  <% end %>
</ul>
