<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Set up permissions for your organisation
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <p>You can control who has access to sensitive information, and who can make decisions about applications.</p>
    <p>We’ll ask you to set up the permissions between you and the organisations that ratify your courses.</p>
    <p>You’ll then be able to choose permissions for any individual users you add to your organisation.</p>
    <p>You can change these settings at any time.</p>
    <h2 class="govuk-heading-m">Your organisations that need setting up</h2>

    <% @relationships_pending_setup.pluck(:training_provider_id).uniq.each do |provider_id| %>
      <div class="app-application-card govuk-!-margin-bottom-7">
        <div>
          <% provider_relationships = @relationships_pending_setup.where(training_provider_id: provider_id) %>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><%= provider_relationships.first.training_provider.name %></h2>
          <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">Organisations that ratify your courses:</p>
          <ul class="govuk-list govuk-list--bullet">
            <% provider_relationships.each do |permissions| %>
              <li><%= permissions.ratifying_provider.name %></li>
            <% end %>
          </ul>
          </div>
        </div>
    <% end %>

    <%= govuk_link_to(
      'Continue',
      provider_interface_edit_provider_relationship_permissions_path(
        ratifying_provider_id: @relationships_pending_setup.first.ratifying_provider.id,
        training_provider_id: @relationships_pending_setup.first.training_provider.id,
      ),
      class: "govuk-button",
    ) %>

  </div>
</div>
