<% content_for :browser_title, title_with_error_prefix('Edit GCSE', @gcse_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@gcse_form.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @gcse_form, scope: 'support_interface_gcse_form', url: support_interface_application_form_update_gcse_path(params[:id]) do |f| %>
      <%= render @gcse_form.to_partial_path, f: f %>
    <% end %>
  </div>
 </div>
