<% content_for :title, title_with_error_prefix(t('page_titles.which_location'), @pick_site.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_course_path(provider_id: params[:provider_id])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @pick_site,
          url: candidate_interface_course_choices_site_path(
            params[:provider_id], params[:course_id], params[:study_mode], course_choice_id: @course_choice_id
          ),
        ) do |f| %>
        <%= f.govuk_error_summary %>

        <%= render partial: 'candidate_interface/course_choices/shared/site_fields', locals: { f: f }  %>
        <% end %>
  </div>
</div>
