<p class="govuk-body">
You can <%= link_to "try another search", root_path, class: "govuk-link" %>, for example by changing subject or location <% if @results_view.with_salaries? %> or searching for courses that do not offer a salary<% end %>.
</p>
