<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= t('application_form.application_complete') %>
  </h1
  <div class="govuk-panel__body">
    <%= @personal_details.title %>
  </div>
</div>
