<% content_for :title, title_with_error_prefix(t('page_titles.where_do_you_live'), @contact_details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_form, url: candidate_interface_contact_details_update_address_type_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.where_do_you_live') %>
      </h1>


      <%= f.govuk_submit t('application_form.contact_details.address_type.button') %>
    <% end %>
  </div>
</div>
