<% content_for :title, title_with_error_prefix(t('page_titles.where_do_you_live'), @contact_details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_form, url: candidate_interface_new_address_type_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
