parameters:
  debug: false
  subscriptionPrefix:
  subscriptionName:
  environment:
  resourceEnvironmentName:
  serviceName:
  appServicePlanTier: 'Standard'
  appServicePlanSize: '2'
  appServicePlanInstances: 1
  redisCacheSKU: 'Basic'
  redisCacheFamily: 'C'
  redisCacheCapacity: 1
  containerImageReference:
  ciClockCpus: '1'
  ciClockMemory: '1.5'
  ciWorkerCpus: '1'
  ciWorkerMemory: '1.5'
  keyVaultName:
  keyVaultResourceGroup:
  customHostName:
  databaseName:
  databaseUsername:
  databasePassword:
  databaseStorageAutoGrow:
  databaseBackupRetentionDays:
  dockerhubUsername:
  railsSecretKeyBase:
  containerStartTimeLimit: '600'
  warmupPingPath: '/check'
  warmupPingStatus: '200'
  railsEnv: 'production'
  basicAuthEnabled:
  basicAuthUsername:
  basicAuthPassword:
  supportUsername:
  supportPassword:
  authorisedHosts:
  securityAlertEmail: 'apprenticeshipsdevops@education.gov.uk'
  sentryDSN:
  logstashEnable:
  logstashRemote:
  logstashHost:
  logstashPort:
  logstashSsl:
  govukNotifyAPIKey:
  findBaseUrl:
  dfeSignInClientId:
  dfeSignInSecret:
  dfeSignInIssuer:
  stateChangeSlackUrl:
  customAvailabilityMonitors: []
  alertRecipientEmails: []
  sandbox:
  commonResourceTags: '{
    "Parent Business Unit": "Teacher Services",
    "Service Offering": "Become a Teacher"
  }'
  govukNotifyCallbackAPIKey:
  dsiApiUrl:
  dsiApiSecret:

jobs:
  - deployment: deploy_${{parameters.resourceEnvironmentName}}
    displayName: 'Deploy App to ${{parameters.subscriptionName}} Subscription'
    environment: '${{parameters.serviceName}}-${{parameters.environment}}'
    variables:
      resourceGroupName: '${{parameters.subscriptionPrefix}}${{parameters.resourceEnvironmentName}}-${{parameters.serviceName}}'
      appServiceName: '${{parameters.subscriptionPrefix}}${{parameters.resourceEnvironmentName}}-${{parameters.serviceName}}-as'
      redisCacheName: '${{parameters.subscriptionPrefix}}${{parameters.resourceEnvironmentName}}-${{parameters.serviceName}}-redis'
      containerInstanceNamePrefix: '${{parameters.subscriptionPrefix}}${{parameters.resourceEnvironmentName}}-${{parameters.serviceName}}-ci'
      system.debug: ${{parameters.debug}}

    pool:
      vmImage: vs2017-win2016

    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzurePowerShell@3
            displayName: 'Azure PowerShell Script - Set Deployment Type for Resource Group $(resourceGroupName)'
            condition: succeeded()
            env:
              SYSTEM_ACCESSTOKEN: $(system.accesstoken)
              COMMIT_HASH: $(build.sourceversion)
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              ScriptType: InlineScript
              azurePowerShellVersion: LatestVersion
              Inline: |
                Param(
                  [string] $resourceGroupName = "$(resourceGroupName)",
                  [string] $environment = "${{parameters.environment}}"
                )

                $fullDeployment = $false
                $deploymentFiles = @("azure-pipelines-deploy-template.yml", "azure/template.json", "azure/containers.json")
                $encodedAccessToken = [System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes($env:SYSTEM_ACCESSTOKEN))
                $variableGroupLastEdit = @()

                #Get the timestamp of the last deployment to the defined Azure environment from Azure API
                $lastDeployment = (Get-AzureRmResourceGroupDeployment -ResourceGroupName $resourceGroupName | Where-Object {$_.DeploymentName -Like "template-*"})[0].Timestamp
                 
                #Get the timestamp of the last update to the variable groups corresponding to the environment defined
                $variableGroupUri = "https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/distributedtask/variablegroups"
                $variableGroups = Invoke-RestMethod -Method Get -Uri $variableGroupUri -Headers @{Authorization = "Bearer $env:SYSTEM_ACCESSTOKEN"}
                $variableGroupLastEdit += ($variableGroups.value | Where-Object {$_.name -like "APPLY - ENV - $environment"}).modifiedOn
                $variableGroupLastEdit += ($variableGroups.value | Where-Object {$_.name -eq "APPLY - Shared Variables"}).modifiedOn
                $variableGroupLastEdit += ($variableGroups.value | Where-Object {$_.name -eq "Docker Shared Variables"}).modifiedOn
                $variableGroupLastEditTimestamp = Get-Date -Year ($variableGroupLastEdit | sort -descending)[0].substring(0,4) `
                  -Month ($variableGroupLastEdit | sort -descending)[0].substring(5,2) `
                  -Day ($variableGroupLastEdit | sort -descending)[0].substring(8,2) `
                  -Hour ($variableGroupLastEdit | sort -descending)[0].substring(11,2) `
                  -Minute ($variableGroupLastEdit | sort -descending)[0].substring(14,2) `
                  -Second ($variableGroupLastEdit | sort -descending)[0].substring(17,2)

                #Get the list of files changed in the commit the build was triggered from
                $gitCommitUri= "https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/commits/$env:COMMIT_HASH"
                $gitCommitFiles = (Invoke-RestMethod -Method Get -Uri $gitCommitUri -Headers @{Authorization = $encodedAccessToken}).files.filename

                if ( $lastDeployment -lt $variableGroupLastEditTimestamp ) {
                  write-host "Run full deployment - Variable group changed"
                  $fullDeployment = $true
                }
                else {
                  foreach ( $file in $deploymentFiles ) {
                    if ( $gitCommitFiles -contains $file ) {
                      $fullDeployment = $true
                      break
                    }
                  }
                  if ( $fullDeployment -eq $false ) {
                    write-host "No deployment required"
                  } else {
                    write-host "Run full deployment - Files were changed"
                  }
                }
                
                Write-Host "##vso[task.setvariable variable=fullDeployment]$fullDeployment"

          - task: AzureResourceGroupDeployment@2
            displayName: 'ARM Deployment - Create Or Update Resource Group action on $(resourceGroupName)'
            condition: and(succeeded(), eq(variables['fullDeployment'], true))
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              resourceGroupName: '$(resourceGroupName)'
              location: 'West Europe'
              csmFile: '$(Pipeline.Workspace)\arm_template\template.json'
              overrideParameters: '-localBranchName "$(Build.SourceBranchName)"
                -commonResourceTags ${{parameters.commonResourceTags}}
                -subscriptionPrefix ${{parameters.subscriptionPrefix}}
                -resourceEnvironmentName "${{parameters.resourceEnvironmentName}}"
                -serviceName "${{parameters.serviceName}}"
                -dockerHubUsername "${{parameters.dockerHubUsername}}"
                -containerImageReference "${{parameters.containerImageReference}}"
                -railsEnv "${{parameters.railsEnv}}"
                -keyVaultName "${{parameters.keyVaultName}}"
                -keyVaultResourceGroup "${{parameters.keyVaultResourceGroup}}"
                -customHostName "${{parameters.customHostName}}"
                -appServicePlanTier "${{parameters.appServicePlanTier}}"
                -appServicePlanSize "${{parameters.appServicePlanSize}}"
                -appServicePlanInstances "${{parameters.appServicePlanInstances}}"
                -redisCacheSKU ${{parameters.redisCacheSKU}}
                -redisCacheFamily ${{parameters.redisCacheFamily}}
                -redisCacheCapacity ${{parameters.redisCacheCapacity}}
                -ciClockCpus ${{parameters.ciClockCpus}}
                -ciClockMemory ${{parameters.ciClockMemory}}
                -ciWorkerCpus ${{parameters.ciWorkerCpus}}
                -ciWorkerMemory ${{parameters.ciWorkerMemory}}
                -databaseName "${{parameters.databaseName}}"
                -databaseUsername "${{parameters.databaseUsername}}"
                -databasePassword "${{parameters.databasePassword}}"
                -databaseStorageAutoGrow "${{parameters.databaseStorageAutoGrow}}"
                -databaseBackupRetentionDays "${{parameters.databaseBackupRetentionDays}}"
                -environment "${{parameters.environment}}"
                -securityAlertEmail "${{parameters.securityAlertEmail}}"
                -secretKeyBase "${{parameters.railsSecretKeyBase}}"
                -containerStartTimeLimit "${{parameters.containerStartTimeLimit}}"
                -warmupPingPath "${{parameters.warmupPingPath}}"
                -warmupPingStatus "${{parameters.warmupPingStatus}}"
                -govukNotifyAPIKey "${{parameters.govukNotifyAPIKey}}"
                -basicAuthEnabled "${{parameters.basicAuthEnabled}}"
                -basicAuthUsername "${{parameters.basicAuthUsername}}"
                -basicAuthPassword "${{parameters.basicAuthPassword}}"
                -supportUsername "${{parameters.supportUsername}}"
                -supportPassword "${{parameters.supportPassword}}"
                -authorisedHosts "${{parameters.authorisedHosts}}"
                -sentryDSN "${{parameters.sentryDSN}}"
                -logstashEnable "${{parameters.logstashEnable}}"
                -logstashRemote "${{parameters.logstashRemote}}"
                -logstashHost "${{parameters.logstashHost}}"
                -logstashPort "${{parameters.logstashPort}}"
                -logstashSsl "${{parameters.logstashSsl}}"
                -findBaseUrl "${{parameters.findBaseUrl}}"
                -redisCacheName "$(redisCacheName)"
                -containerInstanceNamePrefix "$(containerInstanceNamePrefix)"
                -dfeSignInClientId "${{parameters.dfeSignInClientId}}"
                -stateChangeSlackUrl "${{parameters.stateChangeSlackUrl}}"
                -dfeSignInSecret "${{parameters.dfeSignInSecret}}"
                -dfeSignInIssuer "${{parameters.dfeSignInIssuer}}"
                -customAvailabilityMonitors "${{parameters.customAvailabilityMonitors}}"
                -alertRecipientEmails "${{parameters.alertRecipientEmails}}"
                -dsiApiUrl "${{parameters.dsiApiUrl}}"
                -dsiApiSecret "${{parameters.dsiApiSecret}}"
                -govukNotifyCallbackAPIKey "${{parameters.govukNotifyCallbackAPIKey}}"
                -sandbox "${{parameters.sandbox}}"'
              deploymentOutputs: DeploymentOutput

          - task: AzureCLI@2
            displayName: 'Azure CLI - Update Container Images in Resource Group $(resourceGroupName)'
            condition: and(succeeded(), eq(variables['fullDeployment'], false))
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              ScriptType: ps
              ScriptLocation: inlineScript
              InlineScript: |
                Param(
                  [string] $resourceGroupName = "$(resourceGroupName)",
                  [string] $appServiceName = "$(appServiceName)",
                  [string] $containerImageReference = "${{parameters.dockerHubUsername}}/${{parameters.containerImageReference}}",
                  [array] $containers = @("clock", "worker")
                )
                $output = az webapp config container set --resource-group $resourceGroupName --name $appServiceName --slot staging --docker-custom-image-name $containerImageReference
                if ( !$output ) {
                  Write-Error -Message "Unable to set image for Web App $($appServiceName)"
                  return
                }

                foreach ( $container in $containers ) {
                  $containerConfig = az group deployment show --resource-group $resourceGroupName --name "container-instances-$($container)" | ConvertFrom-Json

                  $envVars = @()
                  $secureEnvVars = @()
                  foreach ( $var in $containerConfig.properties.parameters.environmentVariables.value ) {
                    foreach ( $key in $var | get-member -MemberType NoteProperty | select -ExpandProperty Name ) {
                      if ( $key -eq "name" ) {
                        $keyName = $var.name
                      } else {
                        if ( $key -eq "value" ) {
                          $keyValuePair = "$keyName=`"$($var.$key)`""
                          $envVars += $keyValuePair
                        } else {
                          $keyValuePair = "$keyName=`"$($var.$key)`""
                          $secureEnvVars += $keyValuePair
                        }
                      }
                    }
                  }
                  
                  $tags = @()
                  foreach ( $tag in $containerConfig.properties.parameters.resourceTags.value | get-member -MemberType NoteProperty | select -ExpandProperty Name ) {
                    $tags += "`"$($tag)`"=`"$($containerConfig.properties.parameters.resourceTags.value.$tag)`""
                  }

                  $output = az container create --resource-group $resourceGroupName --name $containerConfig.properties.parameters.containerName.value `
                  --location westeurope `
                  --image $containerImageReference `
                  --command-line "$($containerConfig.properties.parameters.command.value)" `
                  --cpu $containerConfig.properties.parameters.numberCpuCores.value `
                  --memory $containerConfig.properties.parameters.memory.value `
                  --os-type $containerConfig.properties.parameters.osType.value `
                  --restart-policy $containerConfig.properties.parameters.restartPolicy.value `
                  --environment-variables $envVars `
                  --secure-environment-variables $secureEnvVars
                  if ( !$output ) {
                    Write-Error -Message "Unable to create container instance $($containerConfig.properties.parameters.containerName.value)"
                    return
                  }
                }

          - task: AzurePowerShell@3
            displayName: 'Azure PowerShell Script - Tag resource group: $(resourceGroupName)'
            condition: succeeded()
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              ScriptType: InlineScript
              azurePowerShellVersion: LatestVersion
              Inline: |
                Param(
                  [string] $resourceGroupName = "$(resourceGroupName)",
                  [string] $commonResourceTags = '${{parameters.commonResourceTags}}',
                  [string] $environment = "${{parameters.environment}}"
                )

                $tags = @{
                  Version = "$(Build.SourceVersion)";
                  Environment = "$environment"
                }

                (ConvertFrom-Json $commonResourceTags).psobject.properties | Foreach { $tags[$_.Name] = $_.Value }

                Set-AzureRmResourceGroup -Name $resourceGroupName -Tag $tags


          - task: AzureAppServiceManage@0
            displayName: 'Start Azure App Service: $(appServiceName)'
            condition: succeeded()
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              Action: 'Start Azure App Service'
              WebAppName: '$(appServiceName)'
              SpecifySlotOrASE: true
              ResourceGroupName: '$(resourceGroupName)'
              Slot: staging


          - task: AzureAppServiceManage@0
            displayName: 'Swap Slots: $(appServiceName)'
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              WebAppName: '$(appServiceName)'
              ResourceGroupName: '$(resourceGroupName)'
              SourceSlot: staging
            condition: succeeded()


          - task: AzureAppServiceManage@0
            displayName: 'Stop Azure App Service: $(appServiceName)'
            inputs:
              azureSubscription: '${{parameters.subscriptionName}}'
              Action: 'Stop Azure App Service'
              WebAppName: '$(appServiceName)'
              SpecifySlotOrASE: true
              ResourceGroupName: '$(resourceGroupName)'
              Slot: staging
            condition: succeeded()
