services:
  db:
    user: root
    image: postgres:14-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=developmentpassword
    ports:
      - 5432:5432

  redis:
    user: root
    image: redis:alpine
    ports:
      - 6379:6379

volumes:
  db_data:
