<% content_for :title, 'Check your answers' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_equality_and_diversity_path) %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Equality and diversity</span>
  Check your answers
</h1>

<%= render(CandidateInterface::EqualityAndDiversityReviewComponent.new(application_form: @current_application)) %>
