<% content_for :title, t('equality_and_diversity.title') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= t('equality_and_diversity.title') %></h1>

    <p class="govuk-body">These will only be shared with a provider if you accept an offer from them. Your answer to the free school meals question will never be shared with any providers.</p>

    <p class="govuk-body">You can answer ‘Prefer not to say’ to any question.</p>

    <%= govuk_link_to 'Continue', candidate_interface_edit_equality_and_diversity_sex_path, class: 'govuk-button' %>
  </div>
</div>
