<% content_for :title, 'Equality and diversity' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Equality and diversity
    </h1>

    <p class="govuk-body-l">Your application is now ready to submit. Before you do so, will you complete a 3-minute questionnaire?</p>
    <p class="govuk-body">This questionnaire is optional and has no impact on the progress of your application.</p>
    <p class="govuk-body">We collect this data to reduce discrimination on the basis of sex, disability and ethnicity.</p>
    <p class="govuk-body">Your data will only be shared with training providers when you are enrolled on a course.</p>

    <%= govuk_button_link_to 'Continue without completing questionnaire', candidate_interface_application_submit_show_path %>
  </div>
</div>
