<% content_for :title, 'Equality and diversity' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Equality and diversity
    </h1>

    <p class="govuk-body-l">Can you complete a 3-minute equality and diversity questionnaire?</p>
    <p class="govuk-body">Completing the questionnaire is optional and will not affect the progress of your application.</p>
    <p class="govuk-body">The Department for Education (DfE) uses equality and diversity data to improve the teacher training application process and make government policy better.</p>
    <p class="govuk-body">For example, DfE will use the information you give in this questionnaire to help prevent discrimination in teacher recruitment.</p>
    <p class="govuk-body">The information you give in this questionnaire will also be shared with your teacher training provider if you accept a place on their course.</p>
    <p class="govuk-body"><% govuk_link_to 'Find out how we use and look after your data', candidate_interface_privacy_policy_path %></p>

    <%= govuk_button_link_to 'Continue', entrypoint_path %>

    <p class="govuk-body">
      <%= govuk_link_to 'Continue without completing questionnaire', candidate_interface_application_submit_show_path %>
    </p>
  </div>
</div>
