<% content_for :title, t('equality_and_diversity.title') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= t('equality_and_diversity.title') %></h1>

    <p class="govuk-body">Before you submit your application, you’ll be asked questions to help prevent discrimination in teacher recruitment.</p>

    <p class="govuk-body">You can answer ‘Prefer not to say’ to any question.</p>

    <%= govuk_link_to 'Continue', candidate_interface_edit_equality_and_diversity_sex_path, class: 'govuk-button' %>
  </div>
</div>
