<% content_for :title, title_with_error_prefix(t('page_titles.degree_subject'), @degree_subject_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @degree_subject_form,
      url: candidate_interface_edit_degree_subject_path(@degree_subject_form.degree, @return_to[:params]),
      method: :patch,
    ) do |f| %>

      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
