<% content_for :title, t('page_titles.external_sign_up_forbidden') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_sign_up_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('page_titles.external_sign_up_forbidden') %>
    </h1>
    <p class="govuk-body">
      This is the <%= HostingEnvironment.environment_name %> version of the Apply for teacher training service.
      DfE use it for testing and development.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to(
        'Sign in to Apply for teacher training',
        HostingEnvironment::PRODUCTION_URL,
      ) %>
    </p>
  </div>
</div>
