<div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m" id="sex_disability_and_ethnicity_tables">
    8. Sex, disability, ethnicity and age of candidates
  </h3>
  <p class="govuk-body">
    This report shows the sex, disability, ethnicity and age of candidates who applied to your organisation from <%= provider_report.recruitment_cycle_timetable.apply_opens_at.to_fs(:govuk_date) %> onwards.
  </p>

  <p class="govuk-body">
    Sex, disability and ethnicity data comes from candidates who completed the equal opportunities questionnaire when applying. Not all candidates answer these questions.
  </p>

  <p class="govuk-body">
    Ages shown are as of the current report date.
  </p>

  <%= govuk_details(summary_text: 'Full methodology') do %>
    <h3 class="govuk-heading-s">When this data starts</h3>
    <p class="govuk-body">
      Diversity data is available for candidates who submitted applications from <%= provider_report.recruitment_cycle_timetable.apply_opens_at.to_fs(:govuk_date) %> onwards.
    </p>
    <p class="govuk-body">
      Not all candidates answer the sex, disability and ethnicity questions. Candidates can select “prefer not to say“ for any question.
    </p>

    <h3 class="govuk-heading-s">Age</h3>
    <p class="govuk-body">
      Age data comes from all candidates. It's based on each candidates’s date of birth, which they must enter as part of their application. Ages shown in this report are calculated as of the current report date.
    </p>

    <h3 class="govuk-heading-s">How candidates are asked about their disabilities and health conditions</h3>
    <p class="govuk-body">
      Candidates are asked: “Do you have a disability or health condition?“
    </p>
    <p class="govuk-body">
      If they answer yes, they can select one or more types from a list. Candidates can select multiple options, so the numbers in disability tables may not match the totals.
    </p>

    <h3 class="govuk-heading-s">How candidates are asked about their ethnicity</h3>
    <p class="govuk-body">
      Candidates are asked to select an ethnic group from a list. If candidates select an ethnic group, they're then asked to select a more specific background. For example, if they select “Asian or Asian British“, they can then choose backgrounds such as “Bangladeshi“, “Indian“, “Pakistani“ or others.
    </p>
  <% end %>
</div>
