<% content_for :title, t('page_titles.references_cancel_request') %>
<% content_for :before_content, govuk_back_link_to(@back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference,
      url: candidate_interface_references_confirm_cancel_reference_path(@reference_process, @reference.id),
      method: :patch,
    ) do |f| %>
      <h1 class="govuk-heading-l">
        <%= t('page_titles.references_cancel_request', referee_name: @reference.name) %>
      </h1>

      <p class="govuk-body">
        We will tell them that they no longer need to give a reference.
      </p>

      <%= f.govuk_submit t('application_form.references.cancel_request.confirm'), warning: true %>
    <% end %>
  </div>
</div>
