<%= stylesheet_pack_tag 'application-publications' %>

<div class="govuk-grid-row">
  <%= render Publications::StatusTotalsComponent.new(
            title: 'Submitted',
            summary: 'Candidates who have submitted one or more applications this cycle. Applications which were then withdrawn or deferred are included.',
            heading_one: 'This cycle',
            status_total_one: 45617.to_fs(:delimited),
            heading_two: 'Last cycle',
            status_total_two: 38580.to_fs(:delimited),
          ) %>
  <%= render Publications::StatusTotalsComponent.new(
            title: 'Rejected',
            summary: 'Candidates whose applications this cycle have all been rejected. Applications which were withdrawn are excluded. Candidates with one or more application this cycle that has not been rejected are included.',
            heading_one: 'This cycle',
            status_total_one: 45617.to_fs(:delimited),
            heading_two: 'Last cycle',
            status_total_two: 38580.to_fs(:delimited),
          ) %>
</div>
