<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Request feedback</h2>
<p class="govuk-body">Ask the candidate to fill out a survey.</p>
<%= govuk_button_link_to t('survey_emails.send.link'), support_interface_survey_emails_path(@application_form), class: 'govuk-button--secondary' %>
