<h1 class='govuk-heading-xl'>Applications</h1>

<table class='govuk-table'>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Last update</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @application_forms.each do |application_form| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= govuk_link_to application_form.full_name, support_interface_application_form_path(application_form) %></td>
      <td class="govuk-table__cell"><%= application_form.updated_at.to_s(:long) %></td>
      <td class="govuk-table__cell"><%= govuk_link_to 'History', support_interface_application_form_audit_path(application_form) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
