<% content_for :title, t('page_titles.start_carry_over') %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t('page_titles.start_carry_over') %></h1>

    <p class="govuk-body">
      Carry on with your application for courses starting in the 2021 to 2022 academic year.
    </p>

    <p class="govuk-body">
      Your courses have been removed. You can add them again now.
    </p>

    <%= govuk_button_to 'Apply again', candidate_interface_carry_over_path, class: 'govuk-!-margin-bottom-5' %>

    <p class="govuk-body">or</p>

    <p class="govuk-body">
      <%= govuk_link_to 'Go to dashboard', candidate_interface_application_form_path %>
    </p>
  </div>
</div>
