<% content_for :title, t('page_titles.start_carry_over_between_cycles_unsubmitted') %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t('page_titles.start_carry_over_between_cycles_unsubmitted') %></h1>

    <p class="govuk-body">You did not submit your application in time to start a course in the 2020 to 2021 academic year.</p>

    <p class="govuk-body">But you can carry on with your application for courses starting in the 2021 to 2022 academic year.</p>

    <% if CandidateInterface::EndOfCyclePolicy.before_apply_reopens? %>
      <p class="govuk-body">
        You can submit your application from <%= EndOfCycleTimetable.apply_reopens.to_s(:govuk_date) %>.
      </p>
    <% end %>

    <p class="govuk-body">
      Your courses have been removed.
      <% if CandidateInterface::EndOfCyclePolicy.before_find_reopens? %>
        You can add them again later.
      <% else %>
        You can add them again now.
      <% end %>
    </p>

    <%= govuk_button_to t('continue'), candidate_interface_carry_over_path, class: 'govuk-!-margin-bottom-5' %>
  </div>
</div>
