<h2 class="govuk-heading-l">Timeline</h2>
<div class="app-timeline">
  <div class="app-timeline__item">
    <div class="app-timeline__header">
      <h2 class="app-timeline__title">Application submitted</h2>

      <p class="app-timeline__byline">by candidate</p>

    </div>

    <p class="app-timeline__date">
      <time datetime="2019-08-15">15 Aug 2019</time>
    </p>

    <div class="app-timeline__description"></div>
  </div>
</div>

