<h2 class="govuk-heading-l">Timeline</h2>
<div class="app-timeline">
  <% entries.each do |entry| %>
    <div class="app-timeline__item">
      <div class="app-timeline__header">
        <h2 class="app-timeline__title"><%= entry.action %></h2>
        <p class="app-timeline__byline">by <%= entry.actor %></p>
      </div>

      <p class="app-timeline__date">
        <time datetime="<%= entry.date.iso8601 %>"><%= entry.date.to_s(:govuk_date) %></time>
      </p>

      <div class="app-timeline__description"></div>
    </div>
  <% end %>
</div>
