<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Feedback</h2>

    <%= render ProviderInterface::ApplicationRejectionFeedbackComponent.new(application_choice: application_choice) %>

  </div>
</div>
