<h2 class="govuk-heading-l">Timeline</h2>
<div class="app-timeline">
  <% events.each do |event| %>
    <div class="app-timeline__item">
      <div class="app-timeline__header">
        <h2 class="app-timeline__title"><%= event.title %></h2>
        <p class="app-timeline__byline">by <%= event.actor %></p>
      </div>

      <p class="app-timeline__date">
        <time datetime="<%= event.date.to_s(:govuk_date_short_month) %>"><%= event.date.to_s(:govuk_date_short_month) %></time>
      </p>

      <div class="app-timeline__description"></div>
    </div>
  <% end %>
</div>
