<section id="personal-statement-section" class="app-section govuk-!-width-two-thirds">
  <h3 class="govuk-heading-m" id="personal-statement"><%= t('personal_statement.title') %></h3>

  <%= govuk_details(summary_text: 'Guidance given to candidates', classes: 'govuk-!-margin-bottom-4') do %>
    <%= render 'candidate_interface/personal_statement/guidance' %>
  <% end %>

  <%= simple_format personal_statement, class: 'govuk-body' %>
</section>
