<table class="govuk-table govuk-!-margin-bottom-2">
  <tbody class="govuk-table__body">
    <% if conditions.none? %>
      <tr class="govuk-table__row conditions-row">
        <td class="govuk-table__cell">
          No conditions have been set for this offer.
        </td>
      </tr>
    <% else %>
        <% conditions.each do |condition| %>
          <tr class="govuk-table__row conditions-row">
            <td class="govuk-table__cell"><%= condition.text %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <% if condition.met? %>
                <%= govuk_tag(text: 'Met', colour: 'green') %>
              <% elsif condition.unmet? %>
                <%= govuk_tag(text: 'Not met', colour: 'red') %>
              <% else %>
                <%= govuk_tag(text: 'Pending', colour: 'grey') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>
