<table class="govuk-table govuk-!-margin-bottom-2">
  <tbody class="govuk-table__body">
    <% if conditions.none? %>
      <tr class="govuk-table__row conditions-row">
        <td class="govuk-table__cell">
          No conditions have been set for this offer.
        </td>
      </tr>
    <% else %>
        <% conditions.each do |condition| %>
          <tr class="govuk-table__row conditions-row">
            <td class="govuk-table__cell"><%= condition.text %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= render ProviderInterface::ConditionStatusTagComponent.new(condition) %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>
