<table class="govuk-table govuk-!-margin-bottom-2">
  <tbody class="govuk-table__body">
    <% condition_rows.each do |row| %>
      <tr class="govuk-table__row conditions-row">
        <td class="govuk-table__cell"><%= row %></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <% if conditions.present? %>
            <% if conditions_met? %>
              <%= govuk_tag(text: 'Met', colour: 'green') %>
            <% elsif known_conditions_state? %>
              <%= govuk_tag(text: 'Not met', colour: 'red') %>
            <% else %>
              <%= govuk_tag(text: 'Pending', colour: 'grey') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
