<% if conditions.any? %>
  <dl class="govuk-summary-list" id="offer-conditions-list">
    <% conditions.each_with_index do |condition, index| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= condition.text %>
          <% if condition.is_a?(ReferenceCondition) && condition.description.present? %>
            <p><%= condition.description %></p>
          <% end %>
        </dt>
        <dd class="govuk-summary-list__value app-conditions-list__tag">
          <%= render ProviderInterface::ConditionStatusTagComponent.new(condition) %>
        </dd>
      </div>
    <% end %>
  </dl>
<% else %>
  <p class="govuk-body">No conditions have been set for this offer.</p>
<% end %>
