<section class="app-section govuk-!-width-two-thirds" data-qa="contact-information">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="contact-information">Contact information</h2>
  <%= render SummaryListComponent.new(rows: rows) %>
</section>
