<section id="contact-information-section" class="app-section govuk-!-width-two-thirds" data-qa="contact-information">
  <h3 class="govuk-heading-m" id="contact-information">Contact information</h3>
  <%= render SummaryListComponent.new(rows: rows) %>
</section>
