<div class="app-banner app-banner--details govuk-!-margin-bottom-7 govuk-!-padding-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Course details</h2>
  <section class="app-summary-card no-border">
    <div class="app-summary-card__body">
      <%= render SummaryListComponent.new(rows: rows) %>
    </div>
  </section>
</div>
