<section class="app-section govuk-!-width-two-thirds" data-qa="course-details">
  <h3 class="govuk-heading-m" id="course-details">Course</h3>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
