<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="diversity-information">Sex, disability and ethnicity</h2>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
