<% details_body = capture do %>
  <h2 class="govuk-heading-m">Equality and diversity</h2>
  <p class="govuk-body">
    The equality and diversity questionnaire is optional and has no impact on the progress of your application.
  </p>
  <p class="govuk-body">
    We collect this data to reduce discrimination on the basis of sex, disability and ethnicity.
  </p>
  <p class="govuk-body">
    Your data will only be shared with training providers when you have successfully completed your application.
  </p>
<% end %>

<%= render DetailsComponent.new(summary_text: 'View guidance given to candidate', details_body: details_body) %>

<% if display_diversity_information? -%>
  <%= render SummaryListComponent.new(rows: rows) %>
<% else -%>
  <p class="govuk-body"><%= message %></p>
  <% if diversity_information_declared? -%>
    <p class="govuk-body"><%= details %></p>
  <% end -%>
<% end -%>
