<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="diversity-information">Diversity information</h2>

  <% if display_diversity_information? -%>
    <%= render SummaryListComponent.new(rows: rows) %>
  <% else -%>
    <p class="govuk-body"><%= message %></p>
    <% if diversity_information_declared? -%>
      <p class="govuk-body"><%= details %></p>
    <% end -%>
  <% end -%>
</section>
