    <div class="moj-filter-layout__filter">
        <div class="moj-filter" tabindex="-1">
            <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="moj-filter__header-action">

                </div>
            </div>
            <div class="moj-filter__content">

                <div class="moj-filter__options">
                    <form method="get" action="/">
                        <button class="govuk-button" data-module="govuk-button">
                            Apply filters
                        </button>

                        <div class="govuk-form-group">

                            <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                                    Status

                                </legend>

                                <div class="govuk-checkboxes govuk-checkboxes--small">

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="Accepted">
                                        <label class="govuk-label govuk-checkboxes__label" for="status">
                                            Accepted
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="Conditions met">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-2">
                                            Conditions met
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="Declined">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-3">
                                            Declined
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="New">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-4">
                                            New
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-5" name="status" type="checkbox" value="Offered">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-5">
                                            Offered
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-6" name="status" type="checkbox" value="Rejected">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-6">
                                            Rejected
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-7" name="status" type="checkbox" value="Application withdrawn">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-7">
                                            Application withdrawn
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="status-8" name="status" type="checkbox" value="Offer withdrawn">
                                        <label class="govuk-label govuk-checkboxes__label" for="status-8">
                                            Offer withdrawn
                                        </label>

                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
