<div class="moj-action-bar">
  <div class="moj-action-bar__filter">
      <%= link_to toggle_button_text, provider_interface_applications_path(toggle_params),
      class: "filter-toggle govuk-button govuk-button--secondary", type: "button" %>
  </div>
</div>
