<div class="govuk-form-group">
  <div class="govuk-input__wrapper location-autocomplete"
    data-controller="location-autocomplete"
    data-location-autocomplete-path-value="<%= filter[:path_to_location_suggestions] %>">

    <input class="govuk-input"
    id="original-location"
    name="original_location"
    type="text"
    value="<%= filter[:original_location] %>"
    autocomplete="off"
    data-location-autocomplete-target="input">
  </div>
</div>
