<% if display == :course %>
  <span class="govuk-caption-m govuk-!-font-size-16"><%= provider_name %></span>
  <%= course_name_and_code %>
<% elsif display == :site %>
  <%= course_site_details %>
<% end %>
