<%= render SummaryCardComponent.new(rows: permission_rows) do %>
  <%= render SummaryCardHeaderComponent.new(title: presenter.provider_relationship_description, heading_level: summary_card_heading_level) do %>
    <% if change_path && user_can_manage_relationship? %>
      <div class="app-summary-card__actions">
        <%= govuk_link_to change_path do %>
          Change
          <span class="govuk-visually-hidden"> <%= presenter.provider_relationship_description %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
