<section id="personal-information-section" class="app-section govuk-!-width-two-thirds" data-qa="personal-information">
  <h3 class="govuk-heading-m" id="personal-information">Personal information</h3>
  <%= render SummaryListComponent.new(rows: rows) %>
</section>
