<section id="personal-information-section" class="app-section govuk-!-width-two-thirds" data-qa="personal-information">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="personal-information">Personal information</h2>
  <%= render SummaryListComponent.new(rows: rows) %>
</section>
