<section class="app-section govuk-!-width-two-thirds" data-qa="personal-details">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="personal-details">Personal details</h2>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
