<% visible_provider_permissions.each do |provider_permission| %>
  <h4><%= provider_permission.provider.name %></h4>
  <ul id="provider-<%= provider_permission.provider.id %>-enabled-permissions">
    <% formatted_permissions = humanized_permissions(provider_permission) -%>
    <% formatted_permissions.each do |formatted_permission| %>
      <li><%= formatted_permission %></li>
    <% end %>
    <% if formatted_permissions.empty? %>
      <li>No permissions</li>
    <% end %>
  </ul>
<% end %>
