<%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
  <% notification_banner.with_heading(text: t('.heading', deadline: timetable.reject_by_default_at.to_fs(:day_and_month))) %>
  <p class="govuk-body"><%= t('.text', deadline: timetable.reject_by_default_at.to_fs(:govuk_date_time_time_first)) %></p>
<% end %>
x
