<p class="govuk-body"><%= message %></p>
<% if display_safeguarding_issues_details? %>
  <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information disclosed by the candidate
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= details %>
    </div>
  </details>
<% end %>
