<p class="govuk-body"><%= message %></p>
<% if display_safeguarding_issues_details? %>
  <%= render DetailsComponent.new(
    summary_text: 'View information disclosed by the candidate',
    details_body: details,
    )
  %>
<% end %>
