<h2 class="govuk-heading-m govuk-!-margin-top-8">Criminal convictions and professional misconduct</h2>

<% if has_disclosed_safeguarding_issues? %>
  <p class="govuk-body">The candidate has shared information related to safeguarding. Please contact them directly for more details.</p>
<% else %>
  <p class="govuk-body">No information shared</p>
<% end %>
