<%= render(SummaryCardComponent.new(rows: summary_list_rows)) do %>
  <%= render(SummaryCardHeaderComponent.new(
    title: 'Subject knowledge enhancement course',
    heading_level: :h2,
  )) do %>
    <div class="app-summary-card__actions">
      <% if editable %>
        <%= govuk_link_to 'Change', remove_condition_path %>
      <% end %>
      <%= render ProviderInterface::ConditionStatusTagComponent.new(ske_condition) %>
    </div>
  <% end %>
<% end %>
