<div data-qa="app-status-box">
  <div class="app-card app-card--white govuk-!-margin-bottom-9">
    <%= render status_box_component_to_render.new(application_choice: @application_choice) %>
  </div>
</div>
