<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_notification_banner(title_text: t('summer_recruitment_banner.title')) do |notification_banner| %>
      <% notification_banner.heading(text: t('summer_recruitment_banner.header')) %>
    <% end %>
  </div>
</div>
