<div class="moj-action-bar">
  <div class="moj-action-bar__filter">
    <%= link_to toggle_button_text, url_for(params_for_current_state)),
      class: "govuk-button govuk-button--secondary", type: "button" %>
  </div>
</div>
