<section class="app-section govuk-!-width-two-thirds" id="disability-access-and-other-needs">
  <h2 class="govuk-heading-m govuk-!-font-size-27">Disability support</h2>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
