<% details_body = capture do %>
  <h2 class="govuk-heading-m">Asking for support if you have a disability or other needs</h2>
  <p class="govuk-body">You might benefit from extra support if you’re disabled, have a mental health condition or educational needs.</p>
  <p class="govuk-body">If you choose to tell us you need support, we’ll let your training provider know. They can then make adjustments so you can attend an interview or do the training.</p>
  <p class="govuk-body">Examples of support could be:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>organising equipment like a hearing loop or an adapted keyboard</li>
    <li>putting you in touch with support staff if you have a mental health condition</li>
    <li>making sure classrooms are wheelchair accessible</li>
  </ul>
  <p class="govuk-body">If the help you need is not covered by your provider making adjustments, you might also be able to get support from <a href="https://www.gov.uk/access-to-work" class="govuk-link">Access to Work</a>. This could include a grant to help cover the costs of practical support in the workplace.</p>
  <h2 class="govuk-heading-m">It’s against the law to discriminate</h2>
  <p class="govuk-body">If you’re disabled, <a href="/getintoteaching/train-to-teach-with-a-disability" class="govuk-link">it’s against the law to discriminate against you</a>. Training providers must not:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>ask disability or health questions if they’re not relevant to your ability to become a teacher</li>
    <li>reject your application because you’re disabled</li>
  </ul>
<% end %>
<%= render DetailsComponent.new(summary_text: 'View guidance given to candidate', details_body: details_body) %>

<p class="govuk-body"><%= disability_disclosure %></p>
