<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="disability-access-and-other-needs">Disability, access and other needs</h2>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-display-none-print">
    <span class="govuk-details__summary-text">
      View guidance given to candidate
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-m"><%= t('page_titles.training_with_a_disability') %></h3>
    <p class="govuk-body">You might benefit from extra support if you’re disabled, have a mental health condition or educational needs.</p>
    <p class="govuk-body">If you choose to tell us you need support, we’ll let your training provider know. They can then make adjustments so you can attend an interview or do the training.</p>
    <p class="govuk-body">Examples of support could be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>organising equipment like a hearing loop or an adapted keyboard</li>
      <li>putting you in touch with support staff if you have a mental health condition</li>
      <li>making sure classrooms are wheelchair accessible</li>
    </ul>
    <p class="govuk-body">If the help you need is not covered by your provider making adjustments, you might also be able to get support from <a href="https://www.gov.uk/access-to-work" class="govuk-link">Access to Work</a>. This could include a grant to help cover the costs of practical support in the workplace.</p>
    <h4 class="govuk-heading-s">It’s against the law to discriminate</h4>
    <p class="govuk-body">If you’re disabled, <a href="https://beta-getintoteaching.education.gov.uk/guidance/become-a-teacher-in-england#training-to-teach-if-you-have-a-disability" class="govuk-link">it’s against the law to discriminate against you</a>. Training providers must not:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ask disability or health questions if they’re not relevant to your ability to become a teacher</li>
      <li>reject your application because you’re disabled</li>
    </ul>
  </div>
</details>
<p class="govuk-body"><%= disability_disclosure %></p>
