<div class="app-application-card">

  <h3 class="govuk-heading-m">
    <%= govuk_link_to(full_name, provider_interface_provider_user_path(@provider_user)) %>
  </h3>

  <dl>
    <div class="app-application-card__provider" >
      <dt class="govuk-visually-hidden">Email Address:</dt>
      <dd class="govuk-body"><%= email_address %></dd>
    </div>

    <div class="app-application-card__footer">
      <div class="app-application-card__secondary">
        <dd class="govuk-body">
          <%= providers_text %>
        </dd>
      </div>
    </div>
  </dl>
</div>
