<section class="app-application-card">
  <header class="app-application-card__header">
    <h3 class="govuk-heading-s">
      <%= govuk_link_to(full_name, provider_interface_provider_user_path(@provider_user)) %>
    </h3>
  </header>

  <dl class="app-application-card__list">
    <dt class="govuk-visually-hidden">Email address</dt>
    <dd class="govuk-body"><%= email_address %></dd>
    <dt class="govuk-visually-hidden">Organisations</dt>
    <dd class="govuk-hint govuk-!-font-size-16"><%= providers_text %></dd>
  </dl>
</section>
