<% details_body = capture do %>
  <h2 class="govuk-heading-m">Work history</h2>
  <p class="govuk-body">Training providers need a complete picture of the last 5 years of of your work history, including time out of the workplace, to safeguard children.</p>
  <p class="govuk-body">Breaks in work history won’t impact your application if you have a reasonable explanation for them (for example, parenting responsibilities, redundancy, illness or personal reasons such as study or travel).</p>
<% end %>
<%= render DetailsComponent.new(summary_text: 'View guidance given to candidate', details_body: details_body) %>

<% history.each do |item| %>
  <%= render ProviderInterface::WorkHistoryItemComponent.new(item: item) %>
<% end %>
