<% content_for :title, title_with_error_prefix(t('page_titles.when_did_you_study_for_your_degree'), @degree_start_year_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degrees_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree_start_year_form, url: candidate_interface_edit_degree_start_year_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.when_did_you_study_for_your_degree') %>
      </h1>

      <%= render 'form_fields', f: f %>

    <% end %>
  </div>
</div>
