<% content_for :title, title_with_error_prefix(t('page_titles.what_year_did_you_start_your_degree'), @degree_start_year_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree_start_year_form, url: candidate_interface_edit_degree_start_year_path(@return_to[:params]), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
