<% content_for :title, title_with_error_prefix(t('gcse_edit_new_international_flow_grade.page_title', subject: @subject.capitalize), @structured_grades_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@edit_back_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @structured_grades_form, url: candidate_interface_gcse_new_international_flow_edit_grades_path(@subject), method: :patch do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
