<% content_for :title, t('page_titles.decisions.withdraw') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_details_path, back_link_text, force_text: true) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @withdrawal_reason_form.reason_id.blank? %>
      <%= render 'primary_reason_form' %>
    <% else %>
      <%= render 'secondary_reason_form' %>
    <% end %>
  </div>
</div>
