<p class="govuk-body">You can apply for up to 3 courses.</p>
<p class="govuk-body">Some courses are not on <%= service_name %> yet</p>
<p class="govuk-body"><%= govuk_link_to 'Check which courses you can apply to on this service', candidate_interface_providers_path %></p>
