<p class="govuk-body">You can apply for up to 3 courses at this stage of your application.</p>
<p class="govuk-body">Find out <%= govuk_link_to 'which courses are currently available', candidate_interface_providers_path %> on <%= service_name %>.</p>
<p class="govuk-body">Get support by emailing <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %>.</p>
