<p class="govuk-body">You can only apply to 1 course at a time at this stage of your application.</p>
<p class="govuk-body">Some courses are not on <%= service_name %> yet and are only available through UCAS Teacher Training.</p>
<p class="govuk-body"><%= govuk_link_to 'See a list of training providers and courses', candidate_interface_providers_path %> currently available on <%= service_name %>.</p>
