  <aside class="app-related" aria-labelledby="previous-applications-link">
    <p class="govuk-body" id="previous-applications-link"><%= govuk_link_to('View your previous applications', candidate_interface_previous_applications_path) %></p>
  </aside>
