<% content_for :title, t('page_titles.choose_course').pluralize(@current_application.number_of_choices_candidate_can_make) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.choose_course').pluralize(@current_application.number_of_choices_candidate_can_make) %>
    </h1>
    <% if @current_application.candidate_can_choose_single_course? %>
      <%= render 'guidance_apply_again' %>
    <% else %>
      <%= render 'guidance' %>
    <% end %>
    <%= govuk_link_to t('continue'), candidate_interface_course_choices_choose_path, button: true, class: 'govuk-!-margin-bottom-9' %>
  </div>
</div>
