<%= content_for :title, t('page_titles.your_applications') %>
<%= render 'banners' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::ApplicationChoices::IndexContentComponent.new(application_form: current_application) %>
  </div>
  <div class="govuk-grid-column-full">
    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: current_application,
      application_choices: @application_choices,
      current_tab_name: params[:current_tab_name],
    ) %>
  </div>
</div>
