<% content_for :title, t('page_titles.courses') %>

<%= form_with model: @section_complete_form, url: candidate_interface_course_choices_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your applications
      </h1>

      <% if @application_form.can_add_more_choices? %>
        <%= render CandidateInterface::ApplyAgainAddAnotherCourseComponent.new(application_form: @application_form) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= render CandidateInterface::CourseChoicesReviewComponent.new(application_form: @application_form, show_status: true) %>
    </div>
  </div>
<% end %>
