<% content_for :title, t('page_titles.preview_service_banner', interface: @interface.humanize.downcase) %>
<% content_for :suppress_heading, true %>
<% content_for :before_content, govuk_back_link_to(support_interface_edit_configure_service_banner_path(interface: @interface)) %>

<h1 class="govuk-heading-l"><%= t('page_titles.preview_service_banner', interface: @interface.humanize.titleize) %></h1>

<%= render ServiceInformationBanner.new(interface: @interface, preview: true) %>

<%= govuk_button_to 'Publish banner', support_interface_publish_configure_service_banner_path(@banner), method: :patch, params: { interface: @interface } %>
