<% content_for :title, page_title(:application_form) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.review_application') %>
    </h1>
  </div>
</div>
