<%= content_for :title, t('page_titles.privacy_notices') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.privacy_notices') %></h1>
    <ul class="govuk-list govuk-list">
      <li>
        <%= govuk_link_to('Service privacy notice', provider_interface_service_privacy_notice_path) %>
      </li>
    </ul>
  </div>
</div>
