<%= content_for :title, 'Find candidates product roadmap' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
       What we’re working on
    </span>
    <h1 class="govuk-heading-l">
      Find candidates product roadmap
    </h1>
    <p class="govuk-body">
      This roadmap shows what we’re working on and planning to do.
    </p>
    <p class="govuk-body">
      Some things on the roadmap might change – the purpose is to tell you what’s coming up and help you plan how this feature might be used within the wider recruitment process.
    </p>
    <p class="govuk-body">
      Last updated: 7 July 2025
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Recently released
    </h2>
    <p class="govuk-body">
      These are features or functionality that are available to use now.
    </p>
    <%= govuk_list(
          [
            govuk_link_to(
              'Functionality for providers to personalise invitation emails to candidates.',
              t('.design_histories.email_personalisation_url'),
            ),
            "#{govuk_link_to(
              'Candidate location preference flow iterations',
              t('.design_histories.candidate_location_preferences_url'),
            )} to support international candidates, use of the location radius and use of automatic location updates.".html_safe,
            "#{govuk_link_to(
              'Candidate statuses, additional tabs and invitation banners',
              t('.design_histories.find_candidate_statuses_url'),
            )} to make it easier for providers to distinguish, separate or sort between candidates they have not viewed, already viewed and invited (and progressed to applied).".html_safe,
            'Removing previously rejected candidates from the list if rejected by all providers a user has access to.',
            'Search by candidate number, share candidate profiles with colleagues.',
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Working on now
    </h2>
    <p class="govuk-body">
      These things are our priority at the moment. You should see them in the Find candidates feature soon.
    </p>
    <%= govuk_list(
          [
            'Provider navigation improvements to the personal statement ‘read more’ link.',
            'Candidate course funding type preference capture.',
            'For multi-organisation provider users, showing links in the candidate profiles to previous applications to their organisations.',
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Exploring
    </h2>
    <p class="govuk-body">
      We are doing research and testing these ideas. Some of them might make it into Find candidates in future but some might not.
    </p>
    <%= govuk_list(
          [
            'How might we identify and intervene if a candidate is disengaged from the invitation process.',
            'Analysis of the makeup and movement of candidates likely to meet the list criteria in the early stages of the recruitment cycle. How might we ensure the list is suitable for provider view and usage.',
          ],
          type: :bullet,
        ) %>
  </div>
</div>
