<%= content_for :title, t('page_titles.service_guidance_provider') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.service_guidance_provider') %></h1>
    <ul class="govuk-list govuk-list">
      <li>
        <%= govuk_link_to('Dates and deadlines', provider_interface_service_guidance_dates_and_deadlines_path) %>
      </li>
    </ul>
  </div>
</div>
