<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Banner to show</th>
      <th scope="col" class="govuk-table__header">Date it will appear</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% end_of_cycle_banners.each do |end_of_cycle_banner| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= end_of_cycle_banner.name %></th>
        <td class="govuk-table__cell"><%= end_of_cycle_banner.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
