<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Event</th>
      <th scope="col" class="govuk-table__header">Date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% timetable.each do |key, value| %>
      <% next if key == :holidays %>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= key.to_s.humanize %></th>
        <td class="govuk-table__cell"><%= value.strftime('%d %b %Y %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
