<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Email to send</th>
      <th scope="col" class="govuk-table__header">Date to send</th>
      <th scope="col" class="govuk-table__header">Users to contact</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% end_of_cycle_emails.each do |end_of_cycle_email| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= end_of_cycle_email.name %></th>
        <td class="govuk-table__cell"><%= end_of_cycle_email.date %></td>
        <td class="govuk-table__cell"><%= end_of_cycle_email.candidates_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
