<section id="interview-preferences-section" class="app-section govuk-!-width-two-thirds">
  <h3 class="govuk-heading-m" id="interview"><%= t('page_titles.interview_preferences.heading') %></h3>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
