<section class="app-section govuk-!-width-two-thirds" data-qa="language-skills">
  <h3 class="govuk-heading-m" id="language-skills">Language skills</h3>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
