<section class="app-section govuk-!-width-two-thirds" data-qa="language-skills">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="language-skills">Language skills</h2>

  <%= render SummaryListComponent.new(rows: rows) %>
</section>
