<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="personal-statement">Personal statement</h2>

  <h3 class="govuk-heading-s">Vocation</h3>
  <%= simple_format becoming_a_teacher, class: 'govuk-body' %>

  <h3 class="govuk-heading-s">Subject knowledge</h3>
  <%= simple_format subject_knowledge, class: 'govuk-body' %>

  <h3 class="govuk-heading-s">Further information</h3>
  <%= simple_format further_information, class: 'govuk-body' %>
</section>
