<section class="app-section">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="qualifications">Qualifications</h2>

  <%= render DegreeQualificationCardsComponent.new(application_form.application_qualifications.degrees, application_choice_state: application_choice_state, show_hesa_codes: show_hesa_codes) %>
  <%= render GcseQualificationCardsComponent.new(application_form) %>
  <%= render QualificationsTableComponent.new(qualifications: application_form.application_qualifications.other, header: 'Other qualifications') %>
  <%= render EflQualificationCardComponent.new(application_form) %>
</section>
