<section class="app-section">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="qualifications">Qualifications</h2>

  <% if render_degrees? %>
    <%= render DegreeQualificationCardsComponent.new(
      application_form.application_qualifications.degrees,
      application_choice_state: application_choice_state,
      show_hesa_codes: show_hesa_codes,
      editable: editable?,
    ) %>
  <% else %>
    <h3 class="govuk-heading-m" id="degrees">Degree</h3>

    <p class="govuk-body">A degree is not required for a teacher degree apprenticeship (TDA).</p>
  <% end %>
  <%= render GcseQualificationCardsComponent.new(application_form, editable: editable?) %>
  <%= render QualificationsTableComponent.new(qualifications: application_form.application_qualifications.other, header: 'A levels and other qualifications', subheader: 'Details of A levels and other qualifications', editable: editable?) %>
  <%= render EflQualificationCardComponent.new(application_form) %>
</section>
