<section class="app-section govuk-!-width-two-thirds" data-qa="volunteering">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="unpaid-experience-and-volunteering">Unpaid experience and volunteering</h2>

  <% history.each do |item| %>
    <%= render WorkHistoryItemComponent.new(item: item) %>
  <% end %>
</section>
