<section class="app-section govuk-!-width-two-thirds" data-qa="work-history">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="work-history">Work history</h2>

  <% history.each do |item| %>
    <%= render WorkHistoryItemComponent.new(item: item) %>
  <% end %>
</section>
