common_columns:
  - candidate_id
  - application_choice_id
  - submitted_at
  - provider_code
  - course_code
  - recruitment_cycle_year
  - choice_status
  - support_reference
  - phase
  - rejection_reason
  - structured_rejection_reasons

custom_columns:
  sent_to_provider_at:
    type: string
    format: date-time
    description: Date the application choice was sent to the provider
    example: 2020-11-01T00:00:00+00:00

  reject_by_default_at:
    type: string
    format: date-time
    description: Date the application choice was rejected by default
    example: 2020-11-01T00:00:00+00:00

  decline_by_default_at:
    type: string
    format: date-time
    description: Date the application choice was declined by default
    example: 2020-11-01T00:00:00+00:00

  decision:
    type: string
    description: Application choice decision
    enum:
      - rejected_by_default
      - offered

  decided_at:
    type: string
    format: date-time
    description: Date the application choice was decided
    example: 2020-11-01T00:00:00+00:00

  offer_response:
    type: string
    description: Offer response
    enum:
      - accepted
      - declined
      - declined_by_default

  offer_response_at:
    type: string
    format: date-time
    description: Date the offer response was received
    example: 2020-11-01T00:00:00+00:00

  recruited_at:
    type: string
    format: date-time
    description: Date the candidate was recruited
    example: 2020-11-01T00:00:00+00:00
