<p class="govuk-body">
  Enter your qualifications as completely as you can, including all your GCSEs and A levels (or equivalents), and any other qualifications where you showed skills that might help you as a teacher.
</p>
<p class="govuk-body">
  Undergraduate and postgraduate degrees should be included in the ‘Degree’ section.
</p>
