<% content_for :title, t('page_titles.references_delete_reference') %>
<% content_for :before_content, govuk_back_link_to(@destroy_backlink) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference,
      url: destroy_reference_path,
      method: :delete,
    ) do |f| %>
      <h1 class="govuk-heading-l">
        <%= t('page_titles.references_delete_reference', referee_name: @reference.name) %>
      </h1>

      <%= f.govuk_submit t('application_form.references.delete_reference.confirm'), warning: true %>
    <% end %>
  </div>
</div>
