<% content_for :title, t('page_titles.references_start') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_offer_dashboard_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Request a reference</h1>

    <p class="govuk-body">You should choose people who can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm how long they have known you</li>
      <li>say whether they know of any reason why you should not work with children</li>
    </ul>

    <%= govuk_button_to(
      'Continue',
      candidate_interface_references_type_path(@reference_process),
      method: :get,
    ) %>
  </div>
</div>
