<% if @dates.form_open_to_editing? %>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      You have <%= render(ApplicationDateComponent, application_form: @application_form, type: :days_remaining).squish %>
      (until <%= render(ApplicationDateComponent, application_form: @application_form, type: :edit_by).squish %>)
      to edit your application or change your choice of provider, course or
      training location.
    </p>

    <%= govuk_link_to 'TODO: Edit your application', '#' %>
  </div>
<% end %>
