<% if @dates.form_open_to_editing? %>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      You have <%= formatted_days_remaining %>
      (until <%= edit_by_date %>)
      to edit your application or change your choice of provider, course or
      training location.
    </p>

    <%= govuk_link_to 'Edit your application', candidate_interface_application_edit_path %>
  </div>
<% end %>
