<div class="govuk-breadcrumbs govuk-!-display-none-print">
  <ol class="govuk-breadcrumbs__list">
    <% items.each do |item| %>
      <% if item.equal?(items.last) %>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          <%= item[:text] %>
        </li>
      <% else %>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to item[:text], item[:path], class: 'govuk-breadcrumbs__link' %>
        </li>
      <% end %>
    <% end %>
  </ol>
</div>
