<% @course_choices.each do |course_choice| %>
  <%= render(SummaryCardComponent, rows: course_choice_rows(course_choice), editable: @editable) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= course_choice.provider.name %>
      </h3>

      <% if @editable %>
        <div class='app-summary-card__actions'>
          <%= link_to t('application_form.courses.delete'), candidate_interface_confirm_destroy_course_choice_path(course_choice.id), class: 'govuk-link' %>
        </div>
      <% end %>
    </header>
  <% end %>
<% end %>
