<details class="<%= css_classes %>" data-module="govuk-details" <%= open %> >
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= summary_text %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= details_body %>
  </div>
</details>
