<% if @application_qualification %>
  <%= render(SummaryCardComponent, rows: gcse_qualification_rows, editable: @editable) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= @application_qualification.missing_qualification? ? "I don’t have this qualification yet" : "GCSE" %>
      </h3>
    </header>
  <% end %>
<% else %>
  <p class="govuk-body">No GCSE entered.</p>
<% end %>
