<% if @application_qualification %>
  <%= render(SummaryCardComponent, rows: gcse_qualification_rows, editable: @editable) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= if @application_qualification.missing_qualification?
              t('gcse_edit_type.types.missing')
            else
              t('gcse_edit_type.types.gcse')
            end
        %>
      </h3>
    </header>
  <% end %>
<% else %>
  <p class="govuk-body">No GCSE entered.</p>
<% end %>
