<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="interview">Interview</h2>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-display-none-print">
    <span class="govuk-details__summary-text">
      View guidance given to candidate
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-m"><%= t('page_titles.interview_preferences') %></h3>
    <p class="govuk-body">Interviews usually take place over the course of a day. You’ll need to attend in person.</p>
    <p class="govuk-body">Training providers might not have much flexibility when setting a date and time for interview.</p>
    <p class="govuk-body">If there’s a reason why you need some flexibility you can tell us about it here.</p>
    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have commitments such as employment or caring responsibilities</li>
      <li>you’ll be travelling a long way to get to the interview</li>
      <li>you’ll need some adjustments because you’re disabled</li>
    </ul>
  </div>
</details>

<%= simple_format interview_preferences, class: 'govuk-body' %>
