<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="interview">Interview</h2>

  <%= simple_format interview_preferences, class: 'govuk-body' %>
</section>
