<p class='govuk-body'><%= formatted_time(interview) %></p>
<p class='govuk-body govuk-!-margin-bottom-0'><%= provider_name(interview) %></p>
<%= location(interview) %>
<%= additional_details(interview) %>
