<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="language-skills">Language skills</h2>
<div data-qa="language-skills">
  <%= render SummaryListComponent.new(rows: rows) %>
</div>
