<% @qualifications.each do |qualification| %>
  <%= render(SummaryCardComponent, rows: other_qualifications_rows(qualification)) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= qualification.title %>
      </h3>
      <div class="app-summary-card__actions">
        <%= link_to t('application_form.other_qualification.delete'), '#', class: 'govuk-link' %>
      </div>
    </header>
  <% end %>
<% end %>
