<div class='moj-filter-layout'>
  <%= render FilterComponent.new(filter: filter) %>

  <div class='moj-filter-layout__content'>
    <%= content %>

    <%= render(PaginatorComponent.new(scope: collection)) %>
  </div>
</div>
