<% if @personal_details_form.valid? %>
  <%= render(SummaryCardComponent, rows: rows, editable: @editable) %>
<% elsif @editable %>
  <%= render(SectionMissingBannerComponent, section: :personal_details, section_path: candidate_interface_personal_details_edit_path) %>
<% else %>
  <p class="govuk-body">No personal details entered.</p>
<% end %>
