<div class="app-phase-banner<%= @no_border ? ' app-phase-banner--no-border' : '' %>">
  <div class="govuk-width-container">
    <div class="govuk-phase-banner govuk-!-display-none-print">
      <p class="govuk-phase-banner__content">
        <%= govuk_tag(text: HostingEnvironment.phase, classes: "govuk-phase-banner__content__tag #{phase_tag_class}") %>
        <span class="govuk-phase-banner__text"><%= text %></span>
      </p>
    </div>
  </div>
</div>
