<div class="app-primary-navigation govuk-!-display-none-print">
  <div class="govuk-width-container">
    <nav class="app-primary-navigation__nav" aria-label="main menu">
      <ul class="app-primary-navigation__list">
        <% items.each do |item| %>
          <% if item.active %>
            <li class="app-primary-navigation__item app-primary-navigation__item--current <%= item.classes %>">
              <%= govuk_link_to item.text, item.href, class: 'app-primary-navigation__link', aria: { current: 'page' } %>
            </li>
          <% else %>
            <li class="app-primary-navigation__item <%= item.classes %>">
              <%= govuk_link_to item.text, item.href, class: 'app-primary-navigation__link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
