<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View guidance given to candidate
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Academic and other relevant qualifications</h2>
    <p class="govuk-body">Your undergraduate degree confirms your eligibility to teach. Enter the details of your degree as they appear on your certificate, translating them into English if necessary.</p>
    <p class="govuk-body">You should also include any postgraduate degrees.</p>
    <p class="govuk-body">Enter your other qualifications as completely as you can, including all your GCSEs and A levels (or equivalents), and any other qualifications where you showed skills that might help you as a teacher.</p>
  </div>
</details>

<div class="govuk-grid-column-full">
  <%= render DegreeQualificationCardsComponent.new(application_form.application_qualifications.degrees, application_choice_state: application_choice_state) %>
</div>

<div class="govuk-grid-column-full">
  <%= render GcseQualificationCardsComponent.new(application_form) %>
</div>

<div class="govuk-grid-column-two-thirds">
  <%= render QualificationsTableComponent.new(qualifications: application_form.application_qualifications.other, type_label: 'Academic or other qualification') %>
</div>

 <div class="govuk-grid-column-full">
  <%= render EflQualificationCardComponent.new(application_form) %>
</div>
