<% if qualifications.any? %>
  <table class="govuk-table" data-qa="qualifications-table-<%= type_label.parameterize %>">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header"><%= type_label %></th>
        <th class="govuk-table__header govuk-table__header">Subject</th>
        <th class="govuk-table__header govuk-table__header">Started</th>
        <th class="govuk-table__header govuk-table__header">Awarded</th>
        <th class="govuk-table__header govuk-table__header">Grade</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% qualifications.each do |qualification| %>
        <%= render QualificationRowComponent.new(qualification: qualification) %>
      <% end %>
    </tbody>
  </table>
<% end %>
