<div data-qa="reference">
  <%= render SummaryCardComponent, rows: rows do %>
    <% if @show_chase_reference %>
      <%= render(SummaryCardHeaderComponent, title: @title) do %>
          <div class='app-summary-card__actions'>
            <%= link_to support_interface_chase_reference_path(@reference), class: 'govuk-link' do %>
              <%= t('application_form.referees.chase') %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>
