<ul class='govuk-list qa-reference-history'>
  <% history.each do |event| %>
    <li>
      <%= event_title event %>
      <span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'><%= date_format event.time %></span>
    </li>
  <% end %>
</ul>
