<div class="app-status-box app-status-box--sandbox govuk-!-margin-bottom-6 govuk-!-display-none-print">
  <p class="govuk-body">
    <%= govuk_tag(text: 'Sandbox feature', colour: 'purple') %>
  </p>
  <p class="govuk-body">
    <%= description.html_safe %>
  </p>
  <%= content %>
</div>
