<div class="app-banner app-banner--info">
  <div class="app-banner__message app-banner__message--missing-section">
    <p class="govuk-body"><%= @text %></p>
    <% if content.present? %>
      <%= content %>
    <% end %>
  </div>
</div>
