<div class="app-banner app-banner--info app-banner--missing-section" id="<%= "missing-#{section}-error" %>">
  <div class="app-banner__message">
    <p class="govuk-body"><%= @text %></p>
    <% if content.present? %>
      <%= content %>
    <% end %>
  </div>
</div>
