<%= render GovukComponent::Details.new(
  summary: 'View diagram of application flow',
) do %>
  <span class="govuk-visually-hidden">(accessible example presented after diagram)</span>
  <div class="app-diagram">
    <%= StateDiagram.svg(only_from_state: nil, machine: @machine) %>
  </div>
<% end %>
