<div class="govuk-tabs app-tabs govuk-!-display-none-print">
  <ul class="govuk-tabs__list">
    <% items.each do |item| %>
      <% if item.fetch(:current, false) || current_page?(item.fetch(:url)) %>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected app-tabs__list-item--selected">
          <%= govuk_link_to item[:name], item[:url],  class: "govuk-tabs__tab app-tabs__tab", aria: { selected: "true" }, role:"tab" %>
        </li>
      <% else %>
        <li class="govuk-tabs__list-item">
          <%= govuk_link_to item[:name], item[:url],  class: "govuk-tabs__tab app-tabs__tab", role:"tab" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
