<section class="app-summary-card govuk-!-margin-bottom-6 <%= border_css_class %>">
  <%= content %>
  <div class="app-summary-card__body">
    <%= render SummaryListComponent, rows: rows %>
  </div>
</section>
