<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">
      <%= t('application_form.volunteering.no_experience.summary_card_title') %>
    </h3>
  </header>

  <div class="app-summary-card__body">
    The Department for Education have made it easier for teacher training
    applicants to gain experience in school. Learn more at
    <%= link_to 'Get school experience', 'https://schoolexperience.education.gov.uk/', class: 'govuk-link', target: :_blank %>.
  </div>
</section>
