<%= form_tag provider_interface_application_choice_create_reject_path, method: :post do %>
  
  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
  
    <h1 class="govuk-fieldset__heading">
      
    <span class="govuk-caption-xl">Application for Upper Primary with Modern Foreign Languages (XR9C)</span>
    Confirm rejection
  
    </h1>
  
  </legend>
  

    
  

  

  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        


  

  
<dl class="govuk-summary-list">
  
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reasons for rejection
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @rejection_reason %>
        </dd>
        
      </div>
    
  
</dl>

        <p class="govuk-body">Are you sure you want to reject this application? You can’t undo this action once you confirm.</p>
      

      

  
    
  

<button class="govuk-button" data-module="govuk-button">
  Confirm rejection
</button>

      <p class="govuk-body"><a href="/application/202">Cancel</a></p>
    </div>
  </div>

  </fieldset>

<% end %>
