<% content_for :title, t('page_titles.degree') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.degree') %>
    </h1>

    <%= govuk_link_to t('application_form.degree.another.button'), candidate_interface_new_degree_path, button: true, class: 'govuk-button--secondary' %>
  </div>
</div>

<%= render(CandidateInterface::CompleteSectionComponent.new(
  section_complete_form: @section_complete_form,
  path: candidate_interface_degrees_complete_path,
  request_method: :patch,
  summary_component: CandidateInterface::DegreesReviewComponent.new(application_form: @application_form),
  complete_hint_text: t('application_form.degree.review.complete_hint_text') )) %>
