<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= content_for :before_content, govuk_back_link_to(@form.back_link) %>
    <%= render CandidateInterface::DegreeGradeComponent.new(model: @form) %>
  </div>
</div>
