<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your account is not ready yet
    </h1>
    <p class="govuk-body">
      You're seeing this page because you've signed in
      to the Apply for teacher training service but your account
      is not ready to use yet.
    </p>

    <p class="govuk-body">
      If you've registered to work with us and you think your account should be ready, contact
      <%= mail_to 'becomingateacher@digital.education.gov.uk', 'becomingateacher@digital.education.gov.uk', class: 'govuk-link' %>.
    </p>
  </div>
</div>
