<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Account creation in progress
    </h1>
    <p class="govuk-body">
    You are seeing this page because you have successfully signed in to the
    Apply for teacher training service, but your user account has not yet been
    associated with your training provider.
    </p>

    <p class="govuk-body">
    For more information please contact <%= mail_to 'becomingateacher@digital.education.gov.uk', 'becomingateacher@digital.education.gov.uk', class: 'govuk-link' %>.
    </p>
  </div>
</div>
