<%= content_for :browser_title, t('page_titles.no_organisation') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access denied</h1>
    <p class="govuk-body">
      You are no longer a member of any organisation.
    </p>
    <p class="govuk-body">
      Contact your administrator if you believe this to be in error.
    </p>
  </div>
</div>
