<% content_for :title, t('page_titles.submitted_application') %>

<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application dashboard') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.submitted_application') %>
</h1>

<%= govuk_summary_list do |component| %>
  <%= component.slot(:row, key: 'Date submitted', value: submitted_at_date) %>
<% end %>

<%= render 'candidate_interface/application_form/review', application_form: @application_form, editable: false %>
