<% content_for :title, t('page_titles.start_apply_again') %>

<h1 class="govuk-heading-xl"><%= t('page_titles.start_apply_again') %></h1>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">You could still get a place on a course this year.</p>
    <p class="govuk-body">If you apply again we’ll:</p>
    <p class="govuk-body">
      <ul class="govuk-body">
        <li>copy your saved application, so you do not need to start again</li>
        <li>keep your references, so you will not need to request new ones</li>
      </ul>
    </p>
    <p class="govuk-body">You can only apply to one course at a time at this stage of your application.</p>

    <%= govuk_button_to 'Start now', candidate_interface_apply_again_path %>

    <p class="govuk-body">or</p>

    <p class="govuk-body">
      <%= govuk_link_to 'Go to your dashboard', candidate_interface_application_form_path %>
    </p>
  </div>
</div>
