<% content_for :title, t('application_form.submit_application_success.title') %>

<%= govuk_panel(
  title: t('application_form.submit_application_success.heading'),
  body: "Your application number is <span id=\"application-ref\">#{@support_reference}</span>".html_safe,
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">You’ll get an email to confirm that your application has been submitted.</p>

    <h2 class="govuk-heading-m">Interview</h2>
    <p class="govuk-body">Your training provider will be in touch with you if they want to arrange an interview.</p>

    <h2 class="govuk-heading-m">Track your application</h2>
    <p class="govuk-body">You can track or withdraw your application from your application dashboard.</p>
    <p class="govuk-body"><%= govuk_link_to 'To view your application, return to your application dashboard', candidate_interface_application_complete_path %>.</p>

    <h2 class="govuk-heading-m">Tell us what you think of this service</h2>
    <p class="govuk-body">Your feedback will help us improve.</p>
    <%= govuk_button_link_to 'Give feedback', candidate_interface_feedback_form_path %>
  </div>
</div>
