<% content_for :browser_title, "#{title} - #{params[:data_export_type].humanize}" %>
<% content_for :title, params[:data_export_type].humanize.to_s %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Performance: support_interface_performance_path,
    'Data directory': support_interface_data_directory_path,
    params[:data_export_type].humanize => support_interface_view_export_information_path,
  }.merge(title == 'Details' ? {} : { title => nil })) %>
<% end %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_view_export_information_path },
  { name: 'History', url: support_interface_view_history_path(data_export_type: params[:data_export_type]) },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
