<% content_for :browser_title, 'History' %>
<% content_for :title, 'History' %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Performance': support_interface_performance_path,
    'Data directory': support_interface_data_directory_path,
    'History': nil,
  }) %>
<% end %>

<h2 class="govuk-visually-hidden">History</h2>

<%= render SupportInterface::DataExportHistoryComponent.new(data_exports: @data_exports, show_name: true) %>
