<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-2" id="references">References</h2>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-display-none-print">
    <span class="govuk-details__summary-text">
      View guidance given to candidate
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Choosing referees</h2>
    <p class="govuk-body">Referees should not be family members, partners or friends.</p>
    <p class="govuk-body">If you’re struggling to find a suitable referee, contact your provider to discuss this.</p>
    <p class="govuk-body">Types of referee you can add:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Academic (for example, your university tutor or supervisor – choose an academic referee if you graduated in the last 5 years or you have a predicted grade for your degree)</li>
      <li>Professional (for example, your current line manager or a previous employer –&nbsp;if you’re self-employed, you could use a client or supplier)</li>
      <li>School-based (for example, a teacher at a school where you’ve volunteered or gained experience)</li>
      <li>Character (choose a responsible person who can confirm you’re suitable for teaching – for example, a sports coach –&nbsp;and remember that training providers will only accept character references if there’s also an academic or professional reference)</li>
    </ul>
  </div>
</details>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-display-none-print">
    <span class="govuk-details__summary-text">
      View guidance given to referee
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">When giving your reference try to cover the following, but do not worry if there are areas you cannot comment on:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Academic abilities</h2>
        <p class="govuk-body">Does the candidate think critically and have good numeracy and literacy skills?</p>
      </li>
      <li>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Teaching potential</h2>
        <p class="govuk-body">Is the candidate emotionally resilient? Do they work well with others?</p>
      </li>
      <li>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reliability and professionalism</h2>
        <p class="govuk-body">Can the candidate meet deadlines and manage their time?</p>
      </li>
      <li>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Suitability to work with children</h2>
        <p class="govuk-body">Does the candidate care about the wellbeing of children?</p>
      </li>
      <li>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Transferable skills</h2>
        <p class="govuk-body">What abilities would the candidate bring to teaching — for example, communication, creativity, project management?</p>
      </li>
    </ul>
  </div>
</details>
