<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="references">References</h2>

  <% selected_references.each_with_index do |reference, i| %>
    <%= render ProviderInterface::ReferenceWithFeedbackComponent.new(reference: reference, index: i) %>
  <% end %>
</section>
