<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Email log" %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Applications': provider_interface_applications_path,
    @application_choice.application_form.full_name => provider_interface_application_choice_path(@application_choice),
    'Timeline': nil,
  }) %>
<% end %>

<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(application_choice: @application_choice, provider_can_respond: @provider_can_respond) %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time</th>
      <th class="govuk-table__header govuk-table__header govuk-!-width-three-quarters">Email</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @emails.each do |email| %>
    <%= render ProviderInterface::EmailLogRowComponent.new(email: email) %>
  <% end %>
  </tbody>
</table>
