<% content_for :title, 'Applications' %>

<h1 class="govuk-heading-xl">Applications</h1>

<% if @application_choices.any? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Course</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Last updated</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @application_choices.each do |application_choice| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= govuk_link_to application_choice.full_name, provider_interface_application_choice_path(application_choice) %></td>
        <td class="govuk-table__cell"><%= application_choice.course_name_and_code %></td>
        <td class="govuk-table__cell"><%= render ProviderInterface::ApplicationStatusTagComponent, application_choice: application_choice %></td>
        <td class="govuk-table__cell"><%= application_choice.updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">You haven’t received any applications from Apply for teacher training.</p>
<% end %>
