<%= render 'application_choice_header' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::StatusBoxComponent.new(application_choice: @application_choice, options: @status_box_options) %>
  </div>
</div>
