<h1 class='govuk-heading-xl'><%= @application_choice.application_form.first_name %>'s application</h1>

<%= render(SummaryCardComponent, rows: PersonalDetailsReviewPresenter.new(@application_choice.application_form).rows) %>
