<% content_for :title, t('page_titles.check_your_email') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('authentication.check_your_email') %>
    </h1>
    <p class="govuk-body-m">
      You should have recieved a link by email. Follow the link confirm your email address.
    </p>
    <p class="govuk-body">
      If it does not arrive in 5 minutes, check your junk folder or <%= govuk_link_to 'try again', candidate_interface_create_account_or_sign_in_path %>.
    </p>
  </div>
</div>
