<aside class="app-related" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="help-title">Need help?</h2>
  <p class="govuk-body-s">
    Email us and we can give you personalised&nbsp;support:<br><%= bat_contact_mail_to %>
  </p>
</aside>
