<aside class="app-related" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="help-title">Need help?</h2>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>Email: <%= bat_contact_mail_to(html_options: { subject: "Query about application #{support_reference}" }) %></li>
    <li>Monday to Friday (except public holidays)</li>
    <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
  </ul>
</aside>
