<aside class="app-related" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title"><%= t('layout.support.title') %></h2>

  <ul class="govuk-list govuk-!-font-size-16">
    <li>Call <%= t('get_into_teaching.tel') %> or <%= govuk_link_to 'chat online', t('get_into_teaching.url_online_chat') %></li>
    <li><%= t('get_into_teaching.opening_times') %></li>
    <li>Free of charge</li>
  </ul>

</aside>
