<aside class="app-related" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="training-outside-england-title">Teacher training outside England</h2>
  <ul class="govuk-list govuk-!-font-size-16">
    <li><%= govuk_link_to('Teacher training in Wales', 'https://www.discoverteaching.wales/routes-into-teaching/', target: :_blank) %></li>
    <li><%= govuk_link_to('Teacher training in Scotland', 'https://teachinscotland.scot/', target: :_blank) %></li>
    <li><%= govuk_link_to('Teacher training in Northern Ireland', 'https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland', target: :_blank) %></li>
  </ul>
</aside>
