<% content_for :title, page_title('check_your_email') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('authentication.check_your_email') %>
    </h1>
    <p class="govuk-body-l">
      We’ve sent you an email. Click on the link to confirm your address and return to this service.
    </p>
    <p class="govuk-body">
      If our email doesn’t arrive within 5 minutes, check your spam and trash folder, or <%= govuk_link_to 'try again', candidate_interface_sign_up_path %>.
    </p>
  </div>
</div>
