<%= content_for :title, t('page_titles.monthly_statistics') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Applicants for initial teacher training courses: 2021 to 2022
    </h1>

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Statistics up to midnight 30 November 2021</p>
    <p class="govuk-body govuk-!-font-size-16">Next update on 3 January 2022</p>

    <div class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</div>

    <ul class="govuk-list govuk-!-margin-bottom-8 app-toc">
      <li>
        <a href="#introduction" class="govuk-link app-toc__link">
          <span class="app-toc__number">1.</span>
          <span class="app-toc__content">Introduction</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-course-age-group" class="govuk-link app-toc__link">
          <span class="app-toc__number">6.</span>
          <span class="app-toc__content">By course age group</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="introduction">1. Introduction</h2>

    <p class="govuk-body">These statistics are generated from the Apply for teacher training service, which is the
      service that most people use to apply for initial teacher training courses in England in 2022 to 2023.</p>
    <p class="govuk-body">People who apply direct to a provider, or who apply to other routes such as Teach First or
      undergraduate routes are not included.</p>
    <p class="govuk-body">People can apply for up to 3 courses in their first application. If these are all
      unsuccessful, the applicant can apply again an unlimited number of times, but for only a single course at a
      time.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="applications-by-course-age-group">6. By course age group</h2>
    <p class="govuk-body">Something to explain how this is counting applications not applicants...</p>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Applications by course age group', statistics: @statistics['by_course_age_group']) %>
