<% content_for :title, t('page_titles.subject_knowledge') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.subject_knowledge') %>
</h1>

<%= render(SubjectKnowledgeReviewComponent, application_form: @subject_knowledge_form) %>

<%= govuk_button_link_to 'Continue', candidate_interface_application_form_path %>
