<%= render 'support_interface/performance/performance_navigation', title: 'Validation errors' %>

<ul class="govuk-list govuk-list--spaced">
  <li class="govuk-heading-m"><%= govuk_link_to 'Candidate validation errors', support_interface_validation_errors_candidate_path %></li>
  <li class="govuk-heading-m"><%= govuk_link_to 'Vendor API validation errors', support_interface_validation_errors_vendor_api_path %></li>
</ul>
