<% content_for :browser_title, "#{title} - Settings" %>
<% content_for :title, 'Settings' %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Feature flags', url: support_interface_feature_flags_path },
  { name: 'Recruitment cycles', url: support_interface_recruitment_cycle_timetables_path, current: true },
  { name: 'Tasks', url: support_interface_tasks_path },
  { name: 'Support users', url: support_interface_support_users_path },
  { name: 'Send notify template', url: support_interface_notify_template_path },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
