<% content_for :title, title_with_error_prefix(t('page_titles.blocked_submission'), nil) %>

<h1 class="govuk-heading-l"><%= t('page_titles.blocked_submission') %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      This may be because you have more than one account. In this case you should log into your other
      account to continue your application.
    </p>

    <p class="govuk-body">
      Please email <%= bat_contact_mail_to %> for support.
    </p>
  </div>
</div>
