<h1 class="govuk-heading-l">Submission blocked</h1>
<p class='govuk-body'>You’ve created more than one account.</p>
<p class='govuk-body'>You can no longer submit applications from this account. Visit your other account to continue your application.</p>
<p class='govuk-body'>You can apply for up to <%= @max_course_choices %> courses at a time.</p>
<p class='govuk-body'>Email becomingateacher@digital.education.gov.uk if you have any questions.</p>
