<% content_for :title, title_with_error_prefix(t('page_titles.which_course'), @pick_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @pick_course,
      url: candidate_interface_edit_course_choices_course_path(provider_id: params[:provider_id], course_choice_id: @course_choice_id, return_to: params['return-to']),
      id: 'pick-course-form',
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
