<% content_for :browser_title, title_with_error_prefix('Confirm conditions', @form_object.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(edit_provider_interface_condition_statuses_path(@application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::IndividualConditionStatusReviewComponent.new(form_object: @form_object, application_choice: @application_choice) %>
  </div>
</div>
