<% content_for :title, t('page_titles.contact_details') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.contact_details') %>
</h1>

<%= render(ContactDetailsReviewComponent, application_form: @application_form) %>

<%= govuk_button_link_to t('application_form.contact_details.review.button'), candidate_interface_application_form_path %>
