<%= content_for :browser_title, t('page_titles.provider.profile') %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.account') => provider_interface_account_path,
    t('page_titles.provider.profile') => nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.provider.profile') %></h1>
    <%= render ProviderInterface::ProviderAccountComponent.new(current_provider_user: current_provider_user) %>
  </div>
</div>
