<%= content_for :browser_title, t('page_titles.provider.profile') %>
<% content_for :before_content do %>
  <%= render BreadcrumbComponent.new(items: [
    {
      text: t('page_titles.provider.account'),
      path: provider_interface_account_path
    },
    {
      text: t('page_titles.provider.profile')
    }
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.provider.profile') %></h1>
    <%= render ProviderInterface::ProviderAccountComponent.new(current_provider_user: current_provider_user) %>
  </div>
</div>
