<% content_for :title, title_with_error_prefix(t('page_titles.which_course'), @pick_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_replace_course_choice_provider_path(@course_choice.id, @provider.id)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @pick_course,
          url: candidate_interface_replace_course_choice_course_path(@course_choice.id, @provider.id),
          id: 'pick-course-form',
        ) do |f| %>

        <%= render partial: 'candidate_interface/course_choices/shared/course_fields', locals: { f: f }  %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
