<% content_for :title, t('page_titles.training_with_a_disability') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.training_with_a_disability') %>
</h1>

<%= render(TrainingWithADisabilityReviewComponent, application_form: @application_form) %>

<%= govuk_button_link_to t('application_form.training_with_a_disability.review.button'), candidate_interface_application_form_path %>
