<% content_for :title, t('page_titles.training_with_a_disability') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.training_with_a_disability') %>
</h1>

<%= render(CandidateInterface::TrainingWithADisabilityReviewComponent.new(application_form: @application_form)) %>

<%= render(CandidateInterface::CompleteSectionComponent.new(application_form: @application_form,
                                        path: candidate_interface_training_with_a_disability_complete_path,
                                        request_method: :post,
                                        field_name: :training_with_a_disability_completed)) %>
