<% content_for :browser_title, "Interview schedule - #{t('provider_interface.interviews.upcoming')}" %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Interview schedule</h1>

    <%= render TabNavigationComponent.new(items: [
      { name: t('provider_interface.interviews.upcoming'), url: provider_interface_interview_schedule_path },
      { name: t('provider_interface.interviews.past'), url: past_provider_interface_interview_schedule_path },
    ]) %>
    <% if @grouped_interviews.any? %>
      <div class="app-interviews">
        <% @grouped_interviews.each do |date, interviews| %>
          <h2 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-3">
            <%= Date.parse(date).today? ? "Today (#{date})" : date %>
          </h2>
          <% interviews.each do |interview| %>
            <%= render ProviderInterface::InterviewCardComponent.new(interview: interview) %>
          <% end %>
        <% end %>
      </div>
      <%= render(PaginatorComponent.new(scope: @interviews)) %>
    <% else %>
      <p>No upcoming interviews</p>
    <% end %>
  </div>
</div>
