<% content_for :title, 'Provider users' %>

<%= link_to 'Add provider user', new_support_interface_provider_user_path, class: 'govuk-button' %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Users', support_interface_users_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Provider users
      </li>
    </ol>
  </div>

  <%= render SubNavigationComponent, items: [
    { name: 'Support users', url: support_interface_support_users_path },
    { name: 'Provider users', url: support_interface_provider_users_path, current: true },
  ] %>
<% end %>

<%= render(SupportInterface::ProviderUsersTableComponent, provider_users: @provider_users) %>
