<% content_for :browser_title, "Provider user #{@provider_user.display_name}" %>

<%= render 'provider_user_impersonation', provider_user: @provider_user %>

<%= render 'provider_user_navigation', title: 'Details', provider_user: @provider_user %>

<div id="provider-user-summary">
  <%= render SupportInterface::ProviderUserSummaryComponent.new(@provider_user) %>
</div>

<div id="permissions-summary">
  <h2 class="govuk-heading-m govuk-!-margin-top-0">Permissions</h2>
  <%= render SupportInterface::ProviderUserPermissionsSummaryComponent.new(@provider_user) %>
</div>
