<% content_for :title, title_with_error_prefix(t('page_titles.nationalities'), @nationalities_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_personal_details_complete_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @nationalities_form, url: candidate_interface_edit_nationalities_path, class: 'app-nationality', method: :patch do |f| %>
      <%= render partial: 'shared_form', locals: { f: f } %>
    <% end %>
  </div>
</div>
