@use "../base/govuk";

.app-count {
  display: inline-block;

  // Display as a 28px x 28px circle, which will expand into a wider
  // lozenge shape when there are 3 digits or more.
  min-width: 24px;
  height: 28px;

  padding-right: 2px;
  padding-left: 2px;
  margin-left: 3px;

  font-weight: bold;

  line-height: 28px;
  vertical-align: middle;

  color: govuk.govuk-colour("white");

  text-align: center;

  background-color: $govuk-brand-colour;
  border-radius: 14px;
}
