@use "../base/govuk";

.app-checkboxes-scroll {
  height: 75vh;
  min-height: 13.5em;

  padding: govuk.govuk-spacing(2);

  overflow-y: scroll;

  border: govuk.$govuk-border-width-form-element solid govuk.$govuk-input-border-colour;
  -webkit-overflow-scrolling: touch;
}

.app-checkboxes-scroll::-webkit-scrollbar {
  width: 20px;
}

.app-checkboxes-scroll::-webkit-scrollbar-thumb {
  background-color: govuk.govuk-colour("mid-grey");
  border: govuk.$govuk-border-width solid govuk.govuk-colour("white");
}
