@use "../base/govuk";

// Support components
@import "moj";
@import "../components/syntax-highlighting";
@import "app-count";
@import "button";
@import "checkboxes-scroll";
@import "details";
@import "sort";
@import "template";
@import "../components/paginated_filter";
@import "../components/checkbox_search_filter";
@import "dfe-autocomplete/src/dfe-autocomplete";
@import "../application-publications";
@import "../components/recruitment_performance_report";

.app-data-set-documentation--datatype {
  margin: 0;

  font-weight: normal;

  color: govuk.$govuk-secondary-text-colour;
}

.app-link--warning {
  color: govuk.$govuk-error-colour;
}

