@use "../base/govuk";

// Support components
@use "moj";
@use "../components/syntax-highlighting";
@use "app-count";
@use "button";
@use "checkboxes-scroll";
@use "details";
@use "sort";
@use "template";
@use "../components/paginated_filter";
@use "../components/checkbox_search_filter";
@use "../components/dfe_autocomplete";
@use "../application-publications";
@use "../components/recruitment_performance_report";

.app-data-set-documentation--datatype {
  margin: 0;

  font-weight: normal;

  color: govuk.$govuk-secondary-text-colour;
}

.app-link--warning {
  color: govuk.$govuk-error-colour;
}

