// Support components
$moj-assets-path: "/";
@import "@ministryofjustice/frontend/moj/settings/assets";
@import "@ministryofjustice/frontend/moj/settings/measurements";
@import "@ministryofjustice/frontend/moj/helpers/all";
@import "@ministryofjustice/frontend/moj/objects/width-container";
@import "@ministryofjustice/frontend/moj/components/filter/filter";
@import "@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";
@import "@ministryofjustice/frontend/moj/utilities/all";
@import "../components/syntax-highlighting";
@import "app-count";
@import "button";
@import "checkboxes-scroll";
@import "details";
@import "sort";
@import "template";
@import "../components/paginated_filter";
@import "../components/checkbox_search_filter";
@import "dfe-autocomplete/src/dfe-autocomplete";
@import "../application-publications";
@import "../components/recruitment_performance_report";

.app-data-set-documentation--datatype {
  margin: 0;

  font-weight: normal;

  color: $govuk-secondary-text-colour;
}

.app-link--warning {
  color: $govuk-error-colour;
}

