@use "../base/govuk";

.validation-results-header {
  padding-bottom: govuk.govuk-spacing(2);

  @include govuk.govuk-media-query($from: desktop) {
    padding-top: govuk.govuk-spacing(2);
  }

  &__cta {
    display: none;

    margin: govuk.govuk-spacing(1) 0;

    .js-enabled & {
      display: block;
    }
  }

  .govuk-form {
    @include govuk.govuk-media-query($from: desktop) {
      text-align: right;
    }
  }

  .govuk-form-group {
    clear: both;

    display: inline-block;

    margin-top: govuk.govuk-spacing(2);
    margin-bottom: 0;

    @include govuk.govuk-media-query($from: desktop) {
      margin: 0;
    }
  }

  .govuk-button {
    float: right;

    margin: govuk.govuk-spacing(2) 0 0;

    @include govuk.govuk-media-query($from: desktop) {
      margin: 0 0 0 govuk.govuk-spacing(2);
    }

    .js-enabled & {
      display: none;
    }
  }

  select {
    width: 100%;

    @include govuk.govuk-media-query($from: desktop) {
      width: 220px;
    }
  }

  .sortedby-label {
    @include govuk.govuk-media-query($from: desktop) {
      display: inline;

      margin-right: 0.5em;
    }
  }
}
