<% content_for :browser_title, "#{title} - Performance" %>
<% content_for :title, 'Performance' %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Dashboards', url: support_interface_performance_path },
  { name: 'Data directory', url: support_interface_data_directory_path },
  { name: 'Validation errors', url: support_interface_validation_errors_path },
  { name: 'Email log', url: support_interface_email_log_path },
  { name: 'Vendor API requests', url: support_interface_vendor_api_requests_path },
  { name: 'Vendor API monitoring', url: support_interface_vendor_api_monitoring_path },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
