<% content_for :title, 'Service performance' %>

<h2 class='govuk-heading-l'>Dashboards</h2>

<p class='govuk-body'>
  <%= govuk_link_to 'Performance dashboard', integrations_performance_path %> (public)
</p>

<h2 class='govuk-heading-l'>Downloads for analysis</h2>

<h3 class='govuk-heading-m'>Application timings</h3>

<p class='govuk-body'>
  The application timings provides data on when an application
  form attribute was last updated by the candidate.
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download application timings (CSV)', support_interface_application_timings_path %>
</p>


<h3 class='govuk-heading-m'>Referee survey</h3>

<p class='govuk-body'>
  This provides the compiled results of all the referee surveys
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download referee survey results (CSV)', support_interface_referee_survey_path %>
</p>
