<% content_for :title, 'Service performance' %>

<h2 class='govuk-heading-l'>Dashboards</h2>

<p class='govuk-body'>
  <%= govuk_link_to 'Performance dashboard', integrations_performance_path %> (public)
</p>
