<% search_results_component = SupportInterface::ReasonsForRejectionSearchResultsComponent.new(
  search_attribute: params[:structured_rejection_reasons].keys.first,
  search_value: params[:structured_rejection_reasons].values.first,
  application_choices: @application_choices,
) -%>
<% content_for :context, 'Structured reasons for rejection' %>
<% content_for :title, search_results_component.search_title_text %>

<% content_for :before_content do %>
  <%= render SupportInterface::ReasonsForRejectionSearchBreadcrumbComponent.new(
    search_attribute: params[:structured_rejection_reasons].keys.first,
    search_value: params[:structured_rejection_reasons].values.first,
  ) %>
<% end %>

<% if @application_choices.any? -%>
  <%= render search_results_component %>
<% else -%>
  <p class="govuk-body">There are no results for the selected reason for rejection.</p>
<% end -%>

<%= render(PaginatorComponent.new(scope: @application_choices)) %>
