<% content_for :browser_title, 'Structured reasons for rejection' %>
<% content_for :title do %>
  <span class="govuk-caption-l">
    <%= SupportInterface::ReasonsForRejectionDashboardComponent.recruitment_cycle_context(@recruitment_cycle_year) %>
  </span>
  Structured reasons for rejection
<% end %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Performance: support_interface_performance_path,
    'Structured reasons for rejection': nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      The report does not include rejections made through the API.
    </p>
    <p class="govuk-body">
      Since users can choose more than one reason for rejection, the percentages for all the categories will not add up to 100%.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render SupportInterface::ReasonsForRejectionDashboardComponent.new(
      @reasons_for_rejection,
      @total_structured_rejection_reasons_count,
      @total_structured_rejection_reasons_count_this_month,
      @recruitment_cycle_year,
    ) %>
  </div>
</div>
