<% content_for :browser_title, title_with_error_prefix('Add a comment about this application', @application_comment.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_audit_path(@application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @application_comment, url: support_interface_application_form_comments_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_area :comment,
        label: {
          text: 'Add a comment about this application',
          tag: 'h1',
          size: 'xl'
        },
        hint: { text: 'Comments appear in the application history and can only be viewed by other support users' }
      %>

      <%= f.govuk_submit 'Add comment' %>
    <% end %>
  </div>
</div>
