<% content_for :title, title_with_error_prefix(year_step_title(@subject, @year_form.qualification_type), @year_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@previous_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @year_form, url: candidate_interface_gcse_details_new_year_path, method: :patch do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
