<% content_for :title, t('page_titles.interview_preferences') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.interview_preferences') %>
</h1>

<%= render(InterviewPreferencesReviewComponent, application_form: @interview_preferences_form) %>

<%= govuk_button_link_to 'Continue', candidate_interface_application_form_path %>
