<h1 class="govuk-heading-xl">
  <%= t('page_titles.application_feedback_thank_you') %>
</h1>
<p class="govuk-body govuk-!-margin-bottom-9">
  <%= govuk_link_to t('application_form.application_feedback.thank_you.backlink'), @previous_path %>
</p>
