<%= f.govuk_error_summary %>

<h1 class="govuk-heading-l">
  Personal statement
</h1>

<%= render 'guidance' %>

<%= f.govuk_text_area :becoming_a_teacher, label: { text: 'Your personal statement', size: 'm' }, rows: 25, max_words: 1000 %>

<%= f.govuk_submit t('continue') %>
