<p class="govuk-body">You could talk about:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what inspired you to apply</li>
  <li>the personal qualities that would make you a good teacher</li>
  <li>any experience you have working with children and what you learnt</li>
  <li>your understanding of the demands and rewards of teaching</li>
  <li>how you could contribute to a school outside of the classroom - for example, running extra-curricular activities and clubs</li>
  <li>your thoughts on children’s wellbeing and the education system</li>
</ul>
