<p class="govuk-body">You should write between 500 and 1000 words for your personal statement.</p>
<p class="govuk-body">Here are some examples you could write about (they are just a guide, you do not need to write about all of them):</p>

<ul class="govuk-list govuk-list--bullet">
  <li>skills you have that are relevant to teaching</li>
  <li>any experience of working with young people</li>
  <li>for secondary teacher training: your interest in the subject you want to teach</li>
  <li>your understanding of why teaching is important</li>
  <li>your reasons for wanting to train to be a teacher</li>
  <li>any activities you have done that could be relevant to teaching like first aid courses, sports coaching or volunteering</li>
</ul>
