.app-banner {
  border: 5px solid #1d70b8;
  color: #1d70b8;
  margin-bottom: 30px;
  padding: 10px;

  &.app-banner--success {
    border-color: govuk-colour("green");
    color: govuk-colour("green");

    span {
      color: $govuk-text-colour;
    }
  }

  &.app-banner--error {
    border-color: $govuk-error-colour;
    color: $govuk-error-colour;

    span {
      color: $govuk-text-colour;
    }
  }
}
