.app-application-item {
  border-bottom: 1px solid $govuk-border-colour;

  a {
    text-decoration: none;
  }

  .govuk-heading-s {
    @include govuk-link-common;
    @include govuk-link-style-default;
    color: $govuk-link-colour;

    text-wrap: balance;
  }

  &__details .govuk-body-s {
    margin-bottom: 0;
  }

  &__provider_id {
    display: flex;

    align-items: center;

    & > * {
      margin-bottom: 0;
    }
  }

  &__provider_id .govuk-body-s {
    margin-bottom: 0;
    margin-left: govuk-spacing(1);

    color: $govuk-secondary-text-colour;
  }

  &__choice_id {
    color: govuk-color("mid-grey");
  }

  &__status_tag {
    margin-bottom: govuk-spacing(2);
  }
}

.app-application-item__body {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding: govuk-spacing(4) 0;

  @include govuk-media-query($from: tablet) {
    flex-direction: row-reverse;

    padding-left: govuk-spacing(2);
    margin-bottom: 0;

    &__status_tag {
      margin-bottom: govuk-spacing(0);
    }
  }

  // https://github.com/alphagov/govuk-frontend/blob/v5.0.0/packages/govuk-frontend/src/govuk/components/task-list/_index.scss#L4
  &:hover {
    background-color: govuk-colour("light-grey");
  }

  &:hover .govuk-heading-s {
    color: $govuk-link-hover-colour;
  }
}
