.autocomplete__wrapper,
.autocomplete__input,
.autocomplete__hint {
  font-family: $govuk-font-family;
}

.govuk-form-group--error > .autocomplete__input {
  border-color: $govuk-error-colour;
}

.govuk-form-group--error > .autocomplete__input--focused {
  border-color: $govuk-input-border-colour;
}

.autocomplete__dropdown-arrow-down {
  z-index: 0;

  pointer-events: none;
}
