.app-banner {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(8, "bottom");
  border: $govuk-border-width solid govuk-colour("blue");

  &--missing-section {
    @include govuk-responsive-margin(4, "bottom");

    .app-banner__message {
      @include govuk-media-query($from: desktop) {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }

      p {
        @include govuk-typography-weight-bold;
        color: govuk-colour("blue");
        margin: 0;
      }
    }
  }
}

.app-banner--info {
  border-color: govuk-colour("blue");
}

.app-banner--success {
  border-color: govuk-colour("green");
}

.app-banner--warning {
  border-color: govuk-colour("red");

  &.app-banner--missing-section {
    .app-banner__message p {
      color: govuk-colour("red");
    }
  }
}

.app-banner__message {
  @include govuk-font($size: 19);
  display: block;
  overflow: hidden;
}

.app-banner__message *:last-child {
  margin-bottom: 0;
}
