.app-count {
  display: inline-block;
  color: govuk-colour("blue");

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.app-count__item {
  margin-right: govuk-spacing(4);
  display: flex;
  flex-direction: column-reverse;

  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(4, "bottom");
  }
}

.app-count__key {
  @include govuk-font($size: 24, $weight: bold);
  text-transform: lowercase;
}

.app-count__value {
  @include govuk-font($size: 80, $weight: bold, $line-height: 0.75, $tabular: true);
  margin: 0;
}
