$app-colour-production: govuk-colour("blue");
$app-colour-qa: govuk-colour("orange");
$app-colour-sandbox: govuk-colour("purple");
$app-colour-review: govuk-colour("purple");
$app-colour-staging: govuk-colour("red");
$app-colour-development: govuk-colour("dark-grey", $legacy: "grey-1");

@mixin environment-colour($environment, $colour) {
  .app-header--#{$environment} {
    .govuk-header__container {
      border-bottom-color: $colour;
    }
  }

  .app-environment-tag--#{$environment} {
    background-color: $colour;
  }
}

@include environment-colour("development", $app-colour-development);
@include environment-colour("unknown-environment", $app-colour-development);
@include environment-colour("qa", $app-colour-qa);
@include environment-colour("staging", $app-colour-staging);
@include environment-colour("sandbox", $app-colour-sandbox);
@include environment-colour("review", $app-colour-review);
@include environment-colour("production", $app-colour-production);
