.app-feedback__button .govuk-button {
  @include govuk-font(16);
  margin: 0;
  min-width: 80px;
  background-color: #1d70b8;

  @include govuk-media-query($from: mobile) {
    white-space: nowrap;
  }
}

.app-feedback__container {
  @include govuk-clearfix;
  align-items: center;
  background-color: govuk-colour("light-grey");
  box-sizing: border-box;
  flex-wrap: wrap;
  outline: 0;
  padding: govuk-spacing(2) govuk-spacing(5);
  min-height: 80px;
  display: flex;
}

.app-feedback__container-title {
  @include govuk-font(16, $weight: bold);
  display: inline-block;
  margin: govuk-spacing(2) 0;
  margin-right: govuk-spacing(4);

  &:focus {
    outline: 0;
  }
}

.app-feedback__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    align-items: center;
    display: flex;
    flex: 1;
  }
}

.app-feedback__list-item {
  margin: govuk-spacing(2) 0;

  @include govuk-media-query($from: mobile) {
    display: inline-block;
    margin-right: govuk-spacing(2);
  }
}

.app-feedback__form {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  border-top: $govuk-border-width solid govuk-colour("blue");
  outline: 0;
}

.govuk-main-wrapper {
  padding-bottom: 0;
}
