.moj-action-bar__filter:after {
  background: none;
}

@media (min-width: 48.0625em) {
  .moj-filter-layout__filter {
    max-width: 350px;
  }
}

.moj-filter__header {
  background: govuk-colour('white');
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-bottom: 0;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}

.moj-filter__selected {
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-top: 0;
  border-bottom: 0;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
}

.moj-filter__options {
  box-shadow: none;
}

.app-filter {
  @include govuk-media-query($until: desktop) {
    display: none;
  }
}
