.moj-filter-layout__content {
  .moj-action-bar {
    height: 60px;
  }
}

.moj-action-bar__filter {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.filter-toggle-button {
  float: right;
  margin-bottom: govuk-spacing(1);
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.moj-action-bar__filter:after {
  background: none;
}

@media (min-width: 48.0625em) {
  .moj-filter-layout__filter {
    max-width: 350px;
  }
}

.moj-filter__header {
  background: govuk-colour('white');
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-bottom: 0;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}

.applications-sorted-by-explanation {
  margin-top: govuk-spacing(2);
}

.moj-filter__selected {
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-top: 0;
  border-bottom: 0;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
}

.moj-filter__options {
  box-shadow: none;
}

.moj-pagination__list {
  padding-left: 3px;
}

.app-filter {
  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(3);
  }
}
