.govuk-footer--app {
  .govuk-footer__meta-custom {
    max-width: 40rem;
  }

  .govuk-footer__inline-list {
    margin-bottom: 0;
  }

  .govuk-footer__inline-list-item {
    margin-bottom: 0;
  }
}
