.app-header--production.app-header--full-border {
  border-bottom-color: govuk-colour("blue");
}

.app-header--qa .govuk-header__container,
.app-header--qa.app-header--full-border {
  border-bottom-color: govuk-colour("orange");
}

.app-header--staging .govuk-header__container,
.app-header--staging.app-header--full-border {
  border-bottom-color: govuk-colour("red");
}

.app-header--review .govuk-header__container,
.app-header--review.app-header--full-border,
.app-header--sandbox .govuk-header__container,
.app-header--sandbox.app-header--full-border {
  border-bottom-color: govuk-colour("purple");
}

.app-header--development .govuk-header__container,
.app-header--development.app-header--full-border,
.app-header--unknown-environment .govuk-header__container,
.app-header--unknown-environment.app-header--full-border {
  border-bottom-color: govuk-colour("dark-grey");
}

.app-header--wide-logo {
  .govuk-header__logo {
    @include govuk-media-query($from: tablet) {
      width: 60%;
    }
  }

  .govuk-header__content {
    @include govuk-media-query($from: tablet) {
      width: 40%;
    }
  }
}

.app-start-page {
  .app-header.app-header--full-border,
  .govuk-header__container {
    border-bottom-color: transparent;
  }
}
