.app-inset-text {
  border-left-width: $govuk-border-width;
}

.app-inset-text--important {
  border-color: govuk-colour("blue");

  .app-inset-text__title {
    color: govuk-colour("blue");
  }
}

.app-inset-text--error {
  border-color: $govuk-error-colour;

  .app-inset-text__title {
    color: $govuk-error-colour;
  }
}

.app-inset-text__title {
  @include govuk-typography-weight-bold;
  margin-bottom: govuk-spacing(2);
}
