/* for __applications list__ within provider_interface */

.app-application-card__status {
  text-align: right;
}

.app-application-card__note {
  display: inline-block;
  position: relative;
  padding: 1px 0px 1px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: $govuk-text-colour;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;

  &:before {
    position: absolute;
    background: govuk-colour("black");
    border-radius: 25px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: 6px;
    content: " ";
  }
}

/* for __single application view__ within provider_interface */

.app-notes {
  border-top: 1px solid #b1b4b6;
}

.app-notes__note {
  border-bottom: 1px solid #b1b4b6;
  padding-top: 10px;
  padding-bottom: 10px;

  .meta {
    @include govuk-font($size: 16);
    color: govuk-colour("dark-grey");
    margin-top: 5px;
    margin-bottom: 0;
  }
}
