.govuk-notification-banner {
  &.govuk-notification-banner--warning {
    border-color: $govuk-error-colour;
    background-color: $govuk-error-colour;
    color: $govuk-error-colour;

    .govuk-notification-banner__link {
      @include govuk-link-common;
      @include govuk-link-style-error;
    }
  }

  .govuk-notification-banner__content > * {
    max-width: 100%;
  }
}
