.align-self-center {
  align-self: center;
}

.color-green {
  color: govuk-colour("green");
}

.error-text {
  color: govuk-colour("red");
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}
