.app-phase-banner--no-border {
  .govuk-phase-banner {
    border-bottom: 0;
  }
}

.app-start-page {
  .app-phase-banner {
    background-color: $govuk-brand-colour;
    margin-top: -(govuk-spacing(2));
  }

  .govuk-phase-banner {
    border-bottom-color: govuk-colour("light-blue");
  }

  .govuk-phase-banner__text,
  .govuk-phase-banner__text .govuk-link {
    color: govuk-colour("white");
  }

  .govuk-tag {
    background: govuk-colour("white");
    color: $govuk-brand-colour;
  }
}
