.app-primary-navigation {
  background-color: govuk-colour("light-grey");
}

.app-primary-navigation--justify-between {
  display: flex;
  justify-content: space-between;
}

.app-primary-navigation__list {
  @include govuk-clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-primary-navigation__item {
  @include govuk-font($size: 19);
  float: left;
  margin-right: govuk-spacing(3);
  margin-top: 0;

  &:last-child {
    margin-right: 0;
  }

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(4);
  }
}

.app-primary-navigation__item--align-right {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.app-primary-navigation__link {
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;
  display: block;
  font-weight: bold;
  padding-bottom: govuk-spacing(3);
  padding-top: govuk-spacing(3);
  text-decoration: none;

  &:focus {
    background-color: $govuk-focus-colour;
    box-shadow: inset 0 -5px 0 0 $govuk-focus-text-colour;
    color: $govuk-focus-text-colour;
    outline: $govuk-focus-width solid transparent;
  }

  &[aria-current] {
    box-shadow: inset 0 -5px 0 0 $govuk-link-colour;
    color: $govuk-link-colour;

    &:hover {
      box-shadow: inset 0 -5px 0 0 $govuk-link-hover-colour;
      color: $govuk-link-hover-colour;
    }

    &:focus {
      box-shadow: inset 0 -7px 0 0 $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
    }
  }
}
