@include govuk-media-query($media-type: print) {
  .app-\!-print-display-none {
    display: none !important;
  }

  // TODO: Remove when breadcrumbs are a component
  .govuk-breadcrumbs {
    display: none;
  }

  .app-print-link {
    display: none;
  }
}

.app-print-link {
  display: none;
}

.js-enabled .app-print-link {
  display: block;
}
