.provider-header__logo {
  @include govuk-media-query($from: tablet) {
    width: 60%;
  }
  .govuk-header__logotype-text {
    font-size: 1.5rem;
  }
}

.provider-header__content {
  @include govuk-media-query($from: tablet) {
    width: 40%;
  }
}
