// .govuk-header__logo {
//   @include govuk-media-query($from: tablet) {
//     width: 60%;
//   }
// }

// .govuk-header__content {
//   @include govuk-media-query($from: tablet) {
//     width: 40%;
//   }
// }
