.app-qualification-card {
  border: 1px solid $govuk-border-colour;
  padding: govuk-spacing(3);

  .app-qualification-card__solo-details-card {
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(3);
    width: 40%;
  }

  .govuk-body {
    font-size: 18px;
  }
}
