.app-related {
  border-top: 2px solid $govuk-brand-colour;
  padding-top: govuk-spacing(3);
}

.app-related + .app-related {
  border-top-color: transparent;
}

.app-related__body {
  @include govuk-font(16);
}

.app-related__list {
  @extend %govuk-list;
}

.app-related__list-item {
  @include govuk-font(16);
  font-weight: bold;
  margin-top: govuk-spacing(3);
}
