.app-section {
  @include govuk-responsive-margin(6, "bottom");

  img {
    max-width: 100%;
  }
}

.app-section--with-top-border {
  @include govuk-responsive-padding(6, "top");
  border-top: 1px solid $govuk-border-colour;
}

.app-section__title--with-top-border {
  @include govuk-responsive-padding(6, "top");
  border-top: 1px solid $govuk-border-colour;
}
