.app-status-box {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.app-status-box--sandbox {
  border-left: $govuk-border-width solid govuk-colour("purple");
}

.app-status-box > *:last-child {
  margin-bottom: 0;
}
