.app-styled-content {
  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  h5 {
    @extend %govuk-heading-s;
    font-size: 0.99em;
  }

  p,
  dl {
    @extend %govuk-body-m;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  strong,
  b,
  dt {
    @include govuk-typography-weight-bold;
  }

  dd + dt {
    margin-top: govuk-spacing(4);
  }

  dd {
    margin-left: 0;
  }

  dd + dd {
    margin-top: govuk-spacing(2);
  }

  a {
    @include govuk-link-style-default;
  }

  code {
    background-color: govuk-colour("light-grey");
    font-family: monospace;
    padding: 2px 5px;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}
