.app-tab-navigation {
  margin-bottom: govuk-spacing(7);
}

.app-tab-navigation__list {
  font-size: 0; // Removes white space when using inline-block on child element.
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: 375px) {
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    width: 100%;
  }

  // IE8 does not support box shadow, so use a standard border.
  @include govuk-if-ie8 {
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.app-tab-navigation__item {
  @include govuk-font(19);
  box-shadow: inset 0 -1px 0 $govuk-border-colour;
  display: block;
  margin-top: -1px;

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: 375px) {
    box-shadow: none;
    display: inline-block;
    margin-right: govuk-spacing(4);
    margin-top: 0;
  }
}

.app-tab-navigation__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  display: block;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: govuk-spacing(3);
  text-decoration: none;
  position: relative;
  font-weight: bold;

  @include govuk-media-query($from: 375px) {
    padding-left: 0;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: govuk-colour('black');
  }

  &:focus {
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.
    box-shadow: none;
  }

  &:focus:before {
    background-color: govuk-colour("black");
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
  }
}

.app-tab-navigation__link[aria-current="page"] {
  color: $govuk-link-active-colour;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $govuk-link-colour;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;

    @include govuk-media-query($from: 375px) {
      height: 5px;
      width: 100%;
    }
  }

  &:focus:before {
    background-color: govuk-colour("black");
    height: 7px;
  }
}
