.app-tab-navigation {
  margin-bottom: govuk-spacing(7);
}

.app-tab-navigation__list {
  padding: 0;
  margin: 0;

  font-size: 0; // Removes white space when using inline-block on child element.

  list-style: none;

  @include govuk-media-query($from: 375px) {
    width: 100%;

    box-shadow: inset 0 -1px 0 $govuk-border-colour;
  }
}

.app-tab-navigation__item {
  @include govuk-font(19);
  display: block;

  margin-top: -1px;

  box-shadow: inset 0 -1px 0 $govuk-border-colour;

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: 375px) {
    display: inline-block;

    margin-top: 0;
    margin-right: govuk-spacing(4);

    box-shadow: none;
  }
}

.app-tab-navigation__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  position: relative;

  display: block;

  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: govuk-spacing(3);

  font-weight: bold;

  text-decoration: none;

  @include govuk-media-query($from: 375px) {
    padding-left: 0;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: govuk-colour("black");
  }

  &:focus {
    position: relative; // Ensure focus sits above everything else.

    color: govuk-colour(
      "black"
    ); // Focus colour on yellow should really be black.

    box-shadow: none;
  }

  &:focus::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    content: "";

    background-color: govuk-colour("black");
  }
}

.app-tab-navigation__link[aria-current="page"] {
  position: relative;

  color: $govuk-link-active-colour;

  text-decoration: none;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 5px;
    height: 100%;

    content: "";

    background-color: $govuk-link-colour;

    @include govuk-media-query($from: 375px) {
      width: 100%;
      height: 5px;
    }
  }

  &:focus::before {
    height: 7px;

    background-color: govuk-colour("black");
  }
}
