@mixin tag($color: "blue", $filled: true) {
  white-space: nowrap;

  @if $filled {
    background-color: govuk-colour($color);
    color: govuk-colour("white");
  } @else {
    background-color: govuk-colour("white");
    outline: 3px solid govuk-colour($color);
    color: govuk-colour($color);
  }
}

.app-tag--danger {
  @include tag($color: "red");
}

.app-tag--primary {
  @include tag("blue");
}

.app-tag--primary-unfilled,
.app-tag--incomplete {
  @include tag("blue", $filled: false);
}

.app-tag--secondary {
  @include tag("dark-grey");
}

.app-tag--info {
  @include tag("turquoise");
}

.app-tag--info-unfilled {
  @include tag("turquoise", $filled: false);
}

.app-tag--warning {
  @include tag("orange");
}
