@mixin tag($color: "blue", $filled: true) {
  white-space: nowrap;

  @if $filled {
    background-color: govuk-colour($color);
    color: govuk-colour("white");
  } @else {
    background-color: govuk-colour("white");
    border: 3px solid govuk-colour($color);
    color: govuk-colour($color);
    margin-top: -3px;
    margin-bottom: -3px;
  }
}

.app-tag--danger {
  @include tag($color: "red");
}

.app-tag--primary {
  @include tag("blue");
}

.app-tag--secondary {
  @include tag("dark-grey");
}

.app-tag--info {
  @include tag("turquoise");
}

.app-tag--info-unfilled {
  @include tag("turquoise", $filled: false);
}

.app-tag--warning {
  @include tag("orange");
}
