.app-task-list {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(1);
  @include govuk-clearfix;

  .govuk-tag {
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);

    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;
  padding: govuk-spacing(1);
  padding-left: 0;
  padding-right: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    float: left;
  }
}

@media print {
  .app-task-list__task-name::after {
    display: none;
  }
}
