.app-toc {
  display: table;

  font-size: 16px;
}

.app-toc__link {
  display: table-row;

  text-decoration: none;
}

.app-toc__number {
  display: table-cell;

  width: 24px;
}

.app-toc__content {
  display: table-cell;
}
