@import "application";
@import "support/all";
@import "components/paginated_filter";
@import "components/checkbox_search_filter";
@import "dfe-autocomplete/src/dfe-autocomplete";

.app-data-set-documentation--datatype {
  color: $govuk-secondary-text-colour;
  margin: 0;
  font-weight: normal;
}

.app-link--warning {
  color: $govuk-error-colour;
}
