@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$moj-images-path: '~@ministryofjustice/frontend/moj/assets/images/';
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  large: 945px,
  desktop: 769px,
  wide:    1300px
);

@import "~govuk-frontend/govuk/all";
@import "_autocomplete";
@import "_banner";
@import "_environments";
@import "_footer";
@import "_related";
@import "_status-box";
@import "_styled-content";
@import "_summary-card";
@import "_tag";
@import "_task-list";
@import "_contents-list";
@import "_definition-list";
@import "_postcode";
@import "_print-helpers";

// Provider
@import "~@ministryofjustice/frontend/moj/components/pagination/pagination";
@import "_button";
@import "_count";
@import "_masthead";
@import "_product-section";
@import "_checkboxes";
@import "_sortable-table";
@import "_work-history";
@import "_timeline";
@import "_notes";
@import "~@ministryofjustice/frontend/moj/settings/measurements";
@import "~@ministryofjustice/frontend/moj/objects/width-container";
@import "~@ministryofjustice/frontend/moj/helpers/all";
@import "~@ministryofjustice/frontend/moj/utilities/all";
@import "~@ministryofjustice/frontend/moj/settings/assets";
@import "~@ministryofjustice/frontend/moj/objects/filter-layout";
@import "~@ministryofjustice/frontend/moj/components/filter/filter";
@import "~@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";
@import "~@ministryofjustice/frontend/moj/objects/scrollable-pane";
@import "~@ministryofjustice/frontend/moj/utilities/hidden";
@import "_filter";
@import "_provider";
@import "_application-card";
@import "_application-tabs";
@import "_review_warning";
@import "_provider_header";

// Support
@import "~@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "_card";

// API docs
@import "_syntax-highlighting";
