@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$moj-images-path: '~@ministryofjustice/frontend/moj/assets/images/';
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  large: 945px,
  desktop: 769px,
  wide: 1300px
);

// Shared (govuk-frontend components and overrides)
@import "~govuk-frontend/govuk/all";
@import "_footer";
@import "_header";
@import "_input";
@import "_phase-banner";
@import "_print-helpers";
@import "_tabs";
@import "_tag";

// Shared (custom components)
@import "_autocomplete";
@import "_banner";
@import "_contents-list";
@import "_environments";
@import "_status-box";
@import "_styled-content";
@import "_summary-card";

// Candidate
@import "_related";
@import "_review_warning";
@import "_nationalities";
@import "_task-list";

// Provider
@import "~@ministryofjustice/frontend/moj/settings/assets";
@import "~@ministryofjustice/frontend/moj/settings/measurements";
@import "~@ministryofjustice/frontend/moj/helpers/all";
@import "~@ministryofjustice/frontend/moj/objects/filter-layout";
@import "~@ministryofjustice/frontend/moj/objects/scrollable-pane";
@import "~@ministryofjustice/frontend/moj/objects/width-container";
@import "~@ministryofjustice/frontend/moj/components/filter/filter";
@import "~@ministryofjustice/frontend/moj/components/pagination/pagination";
@import "~@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";
@import "~@ministryofjustice/frontend/moj/utilities/all";
@import "_action-bar";
@import "_application-card";
@import "_button";
@import "_count";
@import "_checkboxes";
@import "_filter";
@import "_masthead";
@import "_notes";
@import "_product-section";
@import "_timeline";

// Support
@import "~@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "_card";
@import "_relationship-diagram";

// API docs
@import "_syntax-highlighting";
