@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/rebrand/images/" + $filename);
}

// app colours that don't appear in govuk-frontend
// but are used throughout DfE
// e.g. https://github.com/search?q=org%3ADFE-Digital+EBF2F6&type=code
$app-grey: #ebf2f6;

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  large: 945px,
  desktop: 769px,
  wide: 1300px,
);

$moj-images-path: "~@ministryofjustice/frontend/moj/assets/images/";

// Enable new link styles (currently opt-in).
// TODO: remove this when this becomes the default.
$govuk-new-link-styles: true;

// Shared (govuk-frontend)
@import "govuk-frontend/dist/govuk/index";
@import "application";
