@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "_banner";
@import "_environments";
@import "_footer";
@import "_status-box";
@import "_task-list";
@import "_styled-content";
@import "_summary-card";

.autocomplete__wrapper, .autocomplete__input, .autocomplete__hint {
  font-family: $govuk-font-family;
}

.app-related {
  border-top: 2px solid $govuk-brand-colour;
  padding-top: govuk-spacing(3);
}

.app-related + .app-related {
  border-top-color: transparent;
}
