@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "_autocomplete";
@import "_banner";
@import "_environments";
@import "_footer";
@import "_related";
@import "_status-box";
@import "_styled-content";
@import "_summary-card";
@import "_tag";
@import "_task-list";
@import "_contents-list";
@import "_definition-list";
@import "_postcode";
@import "_print-helpers";

// Provider
@import "_button";
@import "_count";
@import "_masthead";
@import "_product-section";
@import "_checkboxes";

// Support
@import "~@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "_card";

// API docs
@import "_syntax-highlighting";
