@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  large: 945px,
  desktop: 769px,
  wide: 1300px,
);

$moj-images-path: "~@ministryofjustice/frontend/moj/assets/images/";

// Shared (govuk-frontend)
@import "~govuk-frontend/govuk/all";

// Shared (base HTML elements)
@import "code";
@import "mark";

// Shared (govuk-frontend component overrides)
@import "header";
@import "input";
@import "inset-text";
@import "list";
@import "phase-banner";
@import "tab-navigation";
@import "tag";

// Shared (custom components)
@import "add_another";
@import "application-card";
@import "autocomplete";
@import "banner";
@import "notification_banner";
@import "card";
@import "contents-list";
@import "diagram";
@import "feedback";
@import "flex-grid";
@import "grid";
@import "primary-navigation";
@import "qualification";
@import "section";
@import "status-box";
@import "summary-card";

// Override utilities
@import "overrides";
