@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$moj-images-path: "~@ministryofjustice/frontend/moj/assets/images/";
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  large: 945px,
  desktop: 769px,
  wide: 1300px,
);

// Shared (govuk-frontend components and overrides)
@import "~govuk-frontend/govuk/all";
@import "_breadcrumbs";
@import "_header";
@import "_input";
@import "_phase-banner";
@import "_tabs";
@import "_tag";
@import "_back_link";

// Shared (custom components)
@import "_application-card";
@import "_autocomplete";
@import "_banner";
@import "_card";
@import "_contents-list";
@import "_flex-grid";
@import "_qualification";
@import "_status-box";
@import "_styled-content";
@import "_summary-card";
