<%= content_for :title, 'Recruitment performance weekly report 2023 to 2024 - Apply for teacher training - GOV.UK' %>
<h1 class="govuk-heading-l">Recruitment performance weekly report 2023 to 2024</h1>

<% if @national_data.present? && @provider_data.present? %>
  <p class="govuk-body">This report shows your organisation's initial teacher training (ITT) recruitment performance so far this recruitment cycle</p>
<% else %>
  <p class="govuk-body">This report is not ready to view.</p>
<% end %>
<h2 class="govuk-heading-m"><%= @provider.name %></h2>
