<% content_for :title, title_with_error_prefix(t('page_titles.add_other_qualification'), @qualification_type.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_review_other_qualifications_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @qualification_type, url: candidate_interface_edit_other_qualification_type_path do |f| %>
      <%= render partial: 'shared_form', locals: { f: f } %>
    <% end %>
  </div>
</div>
