<% content_for :title, title_with_error_prefix(other_qualifications_title(current_application), @form.errors.any?) %>
<% if current_application.application_qualifications.other.blank? %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_review_other_qualifications_path, 'Back') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: candidate_interface_other_qualification_type_path do |f| %>
      <%= render partial: 'shared_form', locals: { f: f } %>
    <% end %>
  </div>
</div>
