<%= render 'support_interface/candidates/candidates_navigation', title: 'Duplicate candidate matches' %>

<nav class="app-tab-navigation" aria-label="sub menu" data-qa="sub-navigation">
  <ul class="app-tab-navigation__list govuk-!-display-none-print">
    <li class="app-tab-navigation__item">
      <%= govuk_link_to(
        'Under review',
        support_interface_duplicate_matches_path,
        class: 'app-tab-navigation__link',
        aria: params[:resolved] == 'true' ? nil : { current: 'page' },
      ) %>
    </li>
    <li class="app-tab-navigation__item">
      <%= govuk_link_to(
        'Resolved',
        support_interface_duplicate_matches_path(resolved: true),
        class: 'app-tab-navigation__link',
        aria: params[:resolved] == 'true' ? { current: 'page' } : nil,
      ) %>
    </li>
  </ul>
</nav>

<% if @matches.empty? %>
  <p class="govuk-body">There are currently no duplicate applications.</p>
<% else %>
  <%= render SupportInterface::DuplicateMatchesTableComponent.new(matches: @matches) %>
<% end %>
