<%= render 'support_interface/candidates/candidates_navigation', title: 'Duplicate candidate matches' %>

<nav class="govuk-body">
  <%= link_to_if(
    params[:resolved] == 'true',
    'Under review',
    support_interface_duplicate_matches_path,
    class: govuk_link_classes,
  ) %>
  <%= link_to_unless(
    params[:resolved] == 'true',
    'Resolved',
    support_interface_duplicate_matches_path(resolved: true),
    aria: { current: 'page' },
    class: govuk_link_classes,
  ) %>
</nav>

<% if @matches.empty? %>
  <% if params[:resolved] %>
    <p class="govuk-body">There are currently no resolved duplicate applications.</p>
  <% else %>
    <p class="govuk-body">There are currently no duplicate applications.</p>
  <% end %>
<% else %>
  <%= render SupportInterface::DuplicateMatchesTableComponent.new(matches: @matches) %>
<% end %>
