<ul class="govuk-list">
  <% if permission.view_safeguarding_information %>
    <li>
      <%= render 'check_icon' %>
      access safeguarding information
    </li>
  <% end %>
  <% if permission.make_decisions %>
    <li>
      <%= render 'check_icon' %>
      make decisions
    </li>
  <% end %>
  <li>
    <%= render 'check_icon' %>
    view applications
  </li>
</ul>
