<%= content_for :browser_title, t('page_titles.provider.org_permissions') %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.account') => provider_interface_account_path,
    t('page_titles.provider.org_permissions') => nil,
  }) %>
<% end %>

<div class="govuk-grid">
  <div class="govuk-grid-column-two-third">
    <h1 class="govuk-heading-l"><%= t('page_titles.provider.org_permissions') %></h1>
    <p class="govuk-body">Use this section to change permissions between your own organisations and your partner organisations.</p>
    <% @manageable_providers.each do |provider| %>
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m">
            <%= govuk_link_to provider.name, provider_interface_organisation_path(provider) %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
