<div class="govuk-grid">
  <div class="govuk-grid-column-two-third">
    <h1 class="govuk-heading-xl">Organisations</h1>
    <% current_provider_user.providers.each do |provider| %>
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            <%= govuk_link_to provider.name, provider_interface_organisation_path(provider) %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
