<div class="govuk-grid">
  <div class="govuk-grid-column-two-third">
    <h1 class="govuk-heading-l">Organisational permissions</h1>
    <p class="govuk-body">Use this section to change permissions between your own organisations and your partner organisations.</p>
    <% @manageable_providers.each do |provider| %>
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m">
            <%= govuk_link_to provider.name, provider_interface_organisation_path(provider) %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
