<% content_for :title, title_with_error_prefix(t('page_titles.efl.start'), @start_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_english_foreign_language_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @start_form, url: candidate_interface_english_foreign_language_edit_start_path, method: :patch) do |f| %>
      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
