<% content_for :title, t('page_titles.interview_preferences') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.interview_preferences') %>
</h1>

<%= render(CandidateInterface::CompleteSectionComponent.new(
  section_complete_form: @section_complete_form,
  path: candidate_interface_interview_preferences_complete_path,
  request_method: :patch,
  summary_component: CandidateInterface::InterviewPreferencesReviewComponent.new(application_form: @application_form),
)) %>
