<span class="govuk-caption-xl"><%= t('application_form.personal_details_section.heading') %></span>
<h1 class="govuk-heading-xl"><%= t('application_form.review_answers') %></h1>

<dl class="govuk-summary-list govuk-!-font-size-16">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Title
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @personal_details.title %>
    </dd>
  </div>
</dl>
