@use "govuk";

.app-add-condition {
  &__item {
    position: relative;

    padding: 0;
    margin: 0;

    &:first-of-type {
      margin-top: 0;
    }

    .govuk-form-group,
    .govuk-textarea {
      margin-bottom: 10px;
    }
  }

  &__title {
    float: left;

    width: 100%;

    padding: 4px 0;
  }

  &__remove-button {
    padding: 0;

    color: govuk.govuk-colour("blue");

    text-decoration: underline;

    background: none;
    box-shadow: none;

    &:hover {
      color: $govuk-link-hover-colour;

      text-decoration: underline;

      background: none;
    }

    &:focus {
      color: $govuk-focus-text-colour;

      background: $govuk-focus-colour;
    }
  }

  &__add-button {
    display: block;
  }
}

.app-add-condition__heading:focus {
  color: $govuk-focus-text-colour;

  outline: none;

  background-color: $govuk-focus-colour;
  box-shadow:
    0 -2px $govuk-focus-colour,
    0 4px $govuk-focus-text-colour;
}
