@use "govuk";

.app-application-item {
  position: relative;

  border-bottom: 1px solid govuk.$govuk-border-colour;

  a {
    text-decoration: none;
  }

  a:focus .app-application-item__provider_id h2 {
    color: $govuk-focus-text-colour;

    background-color: $govuk-focus-colour;
  }

  .govuk-heading-s {
    @include govuk.govuk-link-common;
    @include govuk.govuk-link-style-default;
    color: govuk.$govuk-link-colour;

    text-wrap: balance;
  }

  &__details, &__status {
    display: grid;

    gap: govuk.govuk-spacing(1);
  }

  &__details .govuk-body-s {
    margin-bottom: 0;
  }

  &__provider_id {
    display: flex;

    align-items: center;

    & > * {
      margin-bottom: 0;
    }
  }

  &__course_detail {
    text-wrap: pretty;
  }

  &__provider_id .govuk-body-s {
    margin-bottom: 0;
    margin-left: govuk.govuk-spacing(1);

    color: $govuk-secondary-text-colour;
  }

  &__choice_id {
    color: govuk-color("mid-grey");
  }

  &__status {
    @include govuk.govuk-media-query($from: tablet) {
      text-align: end;
    }
  }
}

.app-application-item__body {
  display: grid;

  gap: govuk.govuk-spacing(2);
  align-items: start;

  padding: govuk.govuk-spacing(4) 0;

  @include govuk.govuk-media-query($from: tablet) {
    display: flex;

    justify-content: space-between;

    padding-left: govuk.govuk-spacing(2);
    margin-bottom: 0;
  }

  // https://github.com/alphagov/govuk-frontend/blob/v5.0.0/packages/govuk-frontend/src/govuk/components/task-list/_index.scss#L4
  &:hover {
    background-color: govuk.govuk-colour("light-grey");
  }

  &:hover .govuk-heading-s {
    color: govuk.$govuk-link-hover-colour;
  }
}

.app-application-item__status_warning {
  color: govuk.$govuk-error-colour;

  text-wrap: pretty;
}
