@use "govuk";

.app-banner {
  @include govuk.govuk-text-colour;
  @include govuk.govuk-responsive-padding(4);
  @include govuk.govuk-responsive-margin(8, "bottom");
  border: govuk.$govuk-border-width solid govuk.govuk-colour("blue");

  &:focus {
    outline: $govuk-focus-width solid govuk.$govuk-focus-colour;
    // Ensure outline appears outside of the element
    outline-offset: 0;
  }
}

.app-banner--details {
  border-color: govuk.govuk-colour("mid-grey");
}

.app-banner__message {
  @include govuk.govuk-font($size: 19);

  p {
    margin-top: 0;
  }
}

.app-banner__message *:last-child {
  margin-bottom: 0;
}
