@use "govuk";

.app-banner {
  @include govuk.govuk-responsive-padding(4);
  @include govuk.govuk-responsive-margin(8, "bottom");
  color: govuk-functional-colour(text);

  border: govuk.$govuk-border-width solid govuk.govuk-colour("blue");

  &:focus {
    outline: govuk.$govuk-focus-width solid govuk.$govuk-focus-colour;
    // Ensure outline appears outside of the element
    outline-offset: 0;
  }
}

.app-banner--details {
  border-color: govuk.govuk-colour("black", $variant: "tint-80");
}

.app-banner__message {
  @include govuk.govuk-font($size: 19);

  p {
    margin-top: 0;
  }
}

.app-banner__message *:last-child {
  margin-bottom: 0;
}
