@use "govuk";

.app-card {
  @include govuk-responsive-padding(4);
  @include govuk.govuk-font($size: 19);
  position: relative;

  display: block;

  background-color: govuk.govuk-colour("light-grey");
}

.app-card--blue {
  color: govuk.govuk-colour("white");

  background: govuk.govuk-colour("blue");
}

.app-card--light-blue {
  color: govuk-tint(govuk.govuk-colour("dark-blue"), 5);

  background: govuk-tint(govuk.govuk-colour("light-blue"), 73.5);
}

.app-card--green {
  color: govuk.govuk-colour("white");

  background: govuk.govuk-colour("green");
}

.app-card--red {
  color: govuk-shade(govuk.govuk-colour("red"), 30);

  background: govuk-tint(govuk.govuk-colour("red"), 80);
}

.app-card--white {
  background-color: govuk.govuk-colour("white");
}

.app-card__link {
  color: inherit;

  text-decoration: none;

  > * {
    position: relative;
    z-index: 1;
  }

  &:focus {
    outline: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    display: block;

    content: "";
  }

  &:focus::before {
    outline: $govuk-focus-width solid govuk.$govuk-focus-colour;

    box-shadow: inset 0 0 0 4px govuk.govuk-colour("black");
  }

  &:hover::before {
    background-color: rgba(govuk.govuk-colour("black"), 0.05);
  }
}

.app-card__count {
  @include govuk.govuk-font($size: 80, $weight: bold);
  display: block;
}

.app-card__secondary-count {
  @include govuk.govuk-font($size: 36, $weight: bold);
  display: block;
}

.app-card--outline {
  font-size: 18px;

  background-color: govuk.govuk-colour("white");
  border: 1px solid govuk.govuk-colour("mid-grey");
}
