@use "govuk";

code {
  padding: 2px 5px;

  font-family: monospace;

  background-color: govuk.govuk-colour("black", $variant: "tint-95");

  .govuk-panel--confirmation & {
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
