@use "govuk";

.app-diagram {
  text-align: center;

  svg {
    max-width: 100%;
    height: 100%;

    a:focus polygon {
      fill: govuk.$govuk-focus-colour;
      stroke: $govuk-text-colour;
      stroke-width: $govuk-focus-width;
    }

    a:focus text {
      fill: $govuk-text-colour;
    }
  }
}
