@use "govuk";

.app-feedback {
  @include govuk-clearfix;
  box-sizing: border-box;

  flex-wrap: wrap;

  align-items: center;

  min-height: 80px;

  padding: govuk-spacing(2) govuk-spacing(5);

  outline: 0;

  background-color: govuk.govuk-colour("light-grey");
}

.app-feedback-helpful {
  padding-top: govuk-spacing(3);
  margin-top: govuk-spacing(4);
  margin-right: govuk-spacing(1);

  line-height: 38px;

  border-top: 1px solid $govuk-border-colour;
}

.app-feedback-helpful form {
  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

.app-feedback-helpful .govuk-button {
  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
    margin-left: govuk-spacing(1);
  }
}
