// Shared (govuk-frontend)
// https://sass-lang.com/documentation/at-rules/forward/
@forward "govuk-frontend/dist/govuk/index" with (
  $govuk-assets-path: "/",
  $govuk-global-styles: true,
  $govuk-breakpoints: (
    mobile: 320px,
    tablet: 641px,
    large: 945px,
    desktop: 769px,
    wide: 1300px,
  )
);
