@use "govuk";
@use "../components/variables";

@include govuk.govuk-media-query($from: tablet) {
  .app-grid-column-one-third--actions {
    text-align: right;
  }
}

.app-grid-column--grey {
  padding: govuk.govuk-spacing(6) govuk.govuk-spacing(6) govuk.govuk-spacing(2);
  margin-bottom: govuk.govuk-spacing(6);

  background-color: variables.$app-grey;
}
