$app-grey: #ebf2f6;
@use "govuk";

// Shared (base HTML elements)
@import "code";
@import "mark";

// Shared (govuk-frontend component overrides)
@import "header";
@import "input";
@import "inset-text";
@import "list";
@import "phase-banner";
@import "tab-navigation";
@import "table";
@import "tag";

// Shared (custom components)
@import "add_another";
@import "application-card";
@import "application-item";
@import "autocomplete";
@import "banner";
@import "box";
@import "link_button";
@import "notification_banner";
@import "card";
@import "conditions-list";
@import "contents-list";
@import "diagram";
@import "feedback";
@import "flex-grid";
@import "grid";
@import "primary-navigation";
@import "qualification";
@import "section";
@import "status-box";
@import "status-indicator";
@import "summary-card";
@import "timeline";
@import "toc";
@import "div";
@import "qualifications-table";
@import "metadata";
@import "paragraph";

@import "tabs";

// Override utilities
@import "overrides";

@media print {
  a[href]::after {
    content: none
  }
}
