@use "govuk";

// Shared (base HTML elements)
@use "code";
@use "mark";

// Shared (govuk-frontend component overrides)
@use "header";
@use "input";
@use "inset-text";
@use "list";
@use "phase-banner";
@use "tab-navigation";
@use "table";
@use "tag";

// Shared (custom components)
@use "add_another";
@use "application-card";
@use "application-item";
@use "autocomplete";
@use "banner";
@use "box";
@use "link_button";
@use "notification_banner";
@use "card";
@use "conditions-list";
@use "contents-list";
@use "diagram";
@use "feedback";
@use "flex-grid";
@use "grid";
@use "primary-navigation";
@use "qualification";
@use "section";
@use "status-box";
@use "status-indicator";
@use "summary-card";
@use "timeline";
@use "toc";
@use "div";
@use "qualifications-table";
@use "metadata";
@use "paragraph";

@use "tabs";

// Override utilities
@use "overrides";

@media print {
  a[href]::after {
    content: none
  }
}
