@use "govuk";

.app-inset-text--narrow-border {
  border-left-width: govuk.govuk.$govuk-border-width-narrow;
}

.app-inset-text--important {
  border-color: govuk.govuk-colour("blue");

  .app-inset-text__title {
    color: govuk.govuk-colour("blue");
  }
}

.app-inset-text--error {
  border-color: govuk.$govuk-error-colour;

  .app-inset-text__title {
    color: govuk.$govuk-error-colour;
  }
}

.app-inset-text__title {
  @include govuk.govuk-font($size: 19, $weight: "bold");
  margin-bottom: govuk.govuk-spacing(2);
}
