@use "govuk";

.govuk-link-button {
  padding: 0;

  font-size: inherit;

  color: govuk.$govuk-link-colour;

  cursor: pointer;

  background: none;
  border: none;
}

form:has(.govuk-link-button) {
  display: contents;
}
