@use "govuk";

.app-list--definition {
  dt {
    @include govuk.govuk-typography-weight-bold;
  }

  dd + dt {
    margin-top: govuk.govuk-spacing(4);
  }

  dd {
    margin-left: 0;
  }

  dd + dd {
    margin-top: govuk.govuk-spacing(2);
  }
}

.govuk-list--bullet > li {
  margin-bottom: govuk.govuk-spacing(1);
}

.govuk-task-list__row--no-bottom-border {
  .govuk-task-list__item:last-of-type {
    border-bottom: 0;
  }
}

.circle-list {
  list-style-type:circle;
}
