@use "govuk";

// From https://github.com/alphagov/govuk_publishing_components
@mixin responsive-bottom-margin {
  margin-bottom: govuk.govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk.govuk-spacing(7);
  }
}

.secondary_text {
  color: $govuk-secondary-text-colour;
}

.metadata-wrapper {
  margin: 0 $govuk-gutter-half;

  border-top: 1px solid govuk.govuk-colour("mid-grey");
}

.metadata-column {
  padding-top: 15px;
  padding-left: 0;
}

.gem-c-metadata {
  @include govuk-text-colour;
  @include govuk-font(16);
  @include responsive-bottom-margin;
  @include govuk-clearfix;

  a {
    @include govuk-link-common;
    @include govuk-link-style-default;
    font-weight: bold;
  }

  .gem-c-metadata__definition-link {
    font-weight: normal;
  }
}

.gem-c-metadata.direction-rtl {
  text-align: start;

  direction: rtl;
}

.gem-c-metadata--inverse {
  color: govuk.govuk-colour("white");

  a:link,
  a:active,
  a:visited {
    color: govuk.govuk-colour("white");
  }

  a:focus {
    color: govuk.govuk-colour("black");
  }
}

.gem-c-metadata__term,
.gem-c-metadata__definition {
  line-height: 1.4;
}

.gem-c-metadata__term {
  margin-top: 0.5em;

  @include govuk-media-query($from: tablet) {
    float: left;
    clear: left;

    box-sizing: border-box;

    padding-right: govuk.govuk-spacing(1);
    margin-top: 0;
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__term {
  float: right;
  clear: right;

  @include govuk-media-query($from: tablet) {
    padding-right: 0;
    padding-left: govuk.govuk-spacing(1);
  }
}

.gem-c-metadata__definition {
  margin: 0;

  @include govuk-media-query($from: tablet) {
    &:not(:last-of-type) {
      margin-bottom: govuk.govuk-spacing(1);
    }
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__definition {
  float: right;
}

.gem-c-metadata__toggle-wrap {
  display: none;
}

.js-enabled .gem-c-metadata__toggle-wrap {
  display: block;
}

.js-enabled .gem-c-metadata__toggle-items.js-hidden {
  display: none;
}
