@use "govuk";

.govuk-notification-banner {
  &.govuk-notification-banner--warning, &.govuk-notification-banner--error {
    color: govuk.$govuk-error-colour;

    background-color: govuk.$govuk-error-colour;
    border-color: govuk.$govuk-error-colour;

    .govuk-notification-banner__link {
      @include govuk-link-common;
      @include govuk-link-style-error;
    }
  }

  .govuk-notification-banner__content > * {
    max-width: 100%;
  }
}
