@use "govuk";

.align-self-center {
  align-self: center;
}

.color-green {
  color: govuk.govuk-colour("green");
}

.error-text {
  color: govuk.govuk-colour("red");
}

.secondary-text {
  color: govuk.$govuk-secondary-text-colour;
}
