@use "govuk";

.govuk-service-navigation {
  &__container {
    justify-content: space-between;
  }

  &__link {
    font-weight: bold;
  }
}

.app-primary-navigation {
  background-color: govuk.govuk-colour("light-grey");
}

.app-primary-navigation--justify-between {
  display: flex;

  justify-content: space-between;
}

.app-primary-navigation__list {
  @include govuk.govuk-clearfix;
  padding: 0;
  margin: 0;

  list-style: none;
}

.app-primary-navigation__item {
  @include govuk.govuk-font($size: 19);
  float: left;

  margin-top: 0;
  margin-right: govuk.govuk-spacing(3);

  &:last-child {
    margin-right: 0;
  }

  @include govuk.govuk-media-query($from: tablet) {
    margin-right: govuk.govuk-spacing(4);
  }
}

.app-primary-navigation__item--align-right {
  @include govuk.govuk-media-query($from: tablet) {
    float: right;
  }
}

.app-primary-navigation__link {
  @include govuk.govuk-link-common;
  @include govuk.govuk-link-style-no-visited-state;
  display: block;

  padding-top: govuk.govuk-spacing(3);
  padding-bottom: govuk.govuk-spacing(3);

  font-weight: bold;

  text-decoration: none;

  &:focus {
    color: govuk.$govuk-focus-text-colour;

    outline: govuk.$govuk-focus-width solid transparent;

    background-color: govuk.$govuk-focus-colour;
    box-shadow: inset 0 -5px 0 0 govuk.$govuk-focus-text-colour;
  }

  &[aria-current] {
    color: govuk.$govuk-link-colour;

    box-shadow: inset 0 -5px 0 0 govuk.$govuk-link-colour;

    &:hover {
      color: govuk.$govuk-link-hover-colour;

      box-shadow: inset 0 -5px 0 0 govuk.$govuk-link-hover-colour;
    }

    &:focus {
      color: govuk.$govuk-focus-text-colour;

      box-shadow: inset 0 -7px 0 0 govuk.$govuk-focus-text-colour;
    }
  }
}
