@use "govuk";

.app-qualification {
  @include govuk-font($size: 16);
  margin: 0;
}

.app-qualification__key {
  margin-bottom: govuk.govuk-spacing(1);

  font-weight: bold;
}

.app-qualification__value {
  margin-bottom: govuk.govuk-spacing(4);
  margin-left: 0;
}

.app-qualification__value:last-of-type {
  margin-bottom: 0;
}

.app-qualification__value--caption {
  color: $govuk-secondary-text-colour;
}
