@use "govuk";

.app-section {
  @include govuk.govuk-responsive-margin(6, "bottom");

  img {
    max-width: 100%;
  }

  .govuk-body {
    word-wrap: break-word;
  }
}

.app-section--with-top-border {
  @include govuk.govuk-responsive-padding(6, "top");
  border-top: 1px solid govuk.$govuk-border-colour;
}

.app-section__title--with-top-border {
  @include govuk.govuk-responsive-padding(6, "top");
  border-top: 1px solid govuk.$govuk-border-colour;
}
