@use "govuk";

.app-status-box {
  padding: govuk.govuk-spacing(4);

  background: govuk.govuk-colour("light-grey");
}

.app-status-box--sandbox {
  border-left: $govuk-border-width solid govuk.govuk-colour("purple");
}

.app-status-box > *:last-child {
  margin-bottom: 0;
}
