@use "govuk";

.app-summary-card {
  border: 1px solid $govuk-border-colour;

  &.no-border {
    border: none;

    .app-summary-card__body {
      padding: 0;
    }
  }

  .app-summary-card__header {
    padding: govuk.govuk-spacing(3);

    background-color: govuk.govuk-colour("light-grey");

    @include govuk.govuk-media-query($from: desktop) {
      display: flex;

      justify-content: space-between;
    }

    @include govuk.govuk-media-query($media-type: print) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .app-summary-card__title {
    @include govuk-font($size: 19);
    margin-top: 0;
    margin-bottom: govuk.govuk-spacing(2);

    @include govuk.govuk-media-query($from: desktop) {
      margin: 0;
    }
  }

  .app-summary-card__meta {
    @include govuk-font($size: 16);
    display: block;

    margin: 0;
  }

  .app-summary-card__actions {
    @include govuk-font($size: 19);
  }

  .app-summary-card__actions-list {
    width: 100%;

    padding: 0;
    margin: 0;
  }

  .app-summary-card__actions-list-item {
    display: block;

    white-space: nowrap;

    @include govuk.govuk-media-query($from: desktop) {
      display: inline-block;

      margin-left: govuk.govuk-spacing(2);

      text-align: right;
    }
  }

  .app-summary-card__actions-list-item:first-child {
    margin-left: 0;
  }

  .app-summary-card__body {
    @include govuk-font($size: 19);
    padding: govuk.govuk-spacing(2) govuk.govuk-spacing(3);
  }

  // Summary list component overrides
  .govuk-summary-list {
    margin-bottom: 0;
  }

  .govuk-summary-list__row:last-child {
    border: 0;
    @include govuk.govuk-media-query($from: tablet) {
      .govuk-summary-list__key,
      .govuk-summary-list__value,
      .govuk-summary-list__actions {
        padding-bottom: govuk.govuk-spacing(2) + 1px;
      }
    }
  }
}

@media print {
  .app-summary-card__header {
    break-inside: avoid;
  }

  .app-summary-card__actions {
    display: none;
  }
}
