@use "govuk";

.app-timeline {
  position: relative;

  margin-bottom: govuk.govuk-spacing(4);

  &::before {
    position: absolute;
    top: govuk.govuk-spacing(2);
    left: 0;

    width: 5px;
    height: 100%;

    content: "";

    background-color: govuk.govuk-colour("blue");
  }
}

.app-timeline--full {
  margin-bottom: 0;

  &::before {
    height: calc(100% - 75px);
  }
}

.app-timeline__item {
  position: relative;

  padding-bottom: govuk.govuk-spacing(6);
  padding-left: govuk.govuk-spacing(4);

  &::before {
    position: absolute;
    top: govuk.govuk-spacing(2);
    left: 0;

    width: 15px;
    height: 5px;

    content: "";

    background-color: govuk.govuk-colour("blue");
  }
}

.app-timeline__item:last-child {
  &::after {
    position: absolute;
    bottom: -10px;
    left: -5px;

    width: 15px;
    height: 5px;

    content: "";

    background-color: govuk.govuk-colour("blue");
  }
}

.app-timeline__title {
  @include govuk.govuk-font($size: 19, $weight: bold);
  display: inline;
}

.app-timeline__actor_and_date {
  @include govuk.govuk-font($size: 19);
  display: inline;

  margin: 0;

  color: govuk.$govuk-secondary-text-colour;
}

.app-timeline__date {
  @include govuk.govuk-font($size: 19);
  margin: 0;

  color: govuk.$govuk-secondary-text-colour;
}

.app-timeline__event_link {
  @include govuk.govuk-font($size: 19);
  margin-top: govuk.govuk-spacing(4);
}

.app-timeline__log-card__note:last-of-type {
  margin-bottom: 5px;
}

.app-timeline__log-card__note {
  margin-bottom: 10px;
}

.app-timeline__log-card__note--title {
  @include govuk.govuk-font($size: 19);
  margin-bottom: 5px;
}

.app-timeline__log-card__note--content {
  @include govuk.govuk-font($size: 19);
  margin-bottom: 20px;

  color: govuk.$govuk-secondary-text-colour;
}
