<% content_for :browser_title, t('.title') %>
<% content_for :before_content, govuk_back_link_to(@back_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      <%= t('.caption') %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t('.title') %>
    </h1>

    <%= render(
      CandidateInterface::ShareDetailsComponent.new(
        current_candidate,
        submit_application: @submit_application,
      ),
    ) %>
  </div>
</div>
