<% content_for :browser_title, t('.title') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_choices_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.title') %></h1>

    <%= render CandidateInterface::ShareDetailsComponent.new(current_candidate) %>
  </div>
</div>
