<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t("application_form.#{section}_details_section.#{field}.label") %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= value %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to "#{section}_details?reviewing=true", class: 'govuk-link', id: "change-#{field}" do %>
        Change<span class="govuk-visually-hidden"> <%= field %></span>
    <% end %>
  </dd>
</div>
