<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  <%= t("application_form.personal_details_section.#{field}.label") %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= value %>
  </dd>
</div>
