<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">Within the support console there is sensitive information and personal data about the users of the Apply for teacher training service which we store inline with our Data Protection Agreement and Privacy Notice.</p>

  <p class="govuk-body">As a user of the Apply support console there are specific things you should be aware of and practices to ensure you use data in the appropriate manner and we are not at risk of mis-use or breach of GDPR and other data security policies.</p>

  <p class="govuk-body">Most practice in line with GDPR is common sense but the key messages are:
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2  govuk-!-margin-right-2">
      <li>only access what data you need to</li>
      <li>think whether there is a reason to view what you’re accessing</li>
      <li>do not copy data and store in other locations</li>
      <li>do not share data outside the team</li>
      <li>do not copy or share personal data onto slack, please use URLs or support reference numbers</li>
      <li>Only give access to the support console to approved users</li>
    </ul>
  </p>
</div>
