<div class="govuk-!-width-two-thirds">
  <p class="govuk-body">Most practice in line with GDPR is common sense but the key messages are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>only access what data you need to</li>
      <li>think whether there is a reason to view what you're accessing</li>
      <li>do not copy data and store in other locations</li>
      <li>do not share data outside the team</li>
      <li>do not copy or share personal data onto slack, please use URLs or support reference numbers</li>
      <li>Only give access to the support console to approved users</li>
    </ul>
</div>
