<% content_for :title, t('page_titles.check_your_email') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Sign in by clicking the link in the email you have been sent.
    </p>
    <p class="govuk-body">
      Check your spam and trash folder if you cannot find the email.
      You can also <%= govuk_link_to 'request another link to sign in', support_interface_sign_in_path %>.
    </p>
  </div>
</div>
