<% content_for :title, 'Sign in' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: support_interface_authenticate_with_token_path, method: :post do |f| %>
      <p class="govuk-body">
        Confirm that you want to sign in to access support.
      </p>
      <%= hidden_field_tag :token, params[:token] %>
      <%= f.govuk_submit 'Sign in' %>
    <% end %>
  </div>
</div>
