<% content_for :title, t('page_titles.sign_in') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">You must sign in to use the support console.</p>
    <% if FeatureFlag.active?(:separate_dsi_controllers) %>
      <%= govuk_button_to(
        DfESignIn.bypass? ? 'Sign in using DfE Sign-in (bypass)' : 'Sign in using DfE Sign-in',
        DfESignIn.bypass? ? '/auth/support/developer' : '/auth/dfe-support'
      ) %>
    <% else %>
      <%= render(DfESignInButtonComponent.new(bypass: DfESignIn.bypass?)) %>
    <% end %>
  </div>
</div>
