<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class='govuk-heading-xl'>Sign in to Support</h1>

    <%= render(DfESignInButtonComponent, bypass: DfESignIn.bypass?) %>
  </div>
</div>
