<% content_for :title, t('page_titles.sign_in') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">You must sign in to use the support console.</p>
    <%# render(DfESignInButtonComponent.new(bypass: DfESignIn.bypass?)) %>
    <%= govuk_button_to 'Sign in', DfESignIn.bypass? ? '/auth/support/developer' : '/auth/dfe-support' %>
  </div>
</div>
