.app-review-warning {
  @include govuk-responsive-margin(4, "bottom");
  @include govuk-text-colour;
  @include govuk-font($size: 19);
  border: solid govuk-colour("blue");
  border-width: 0 0 0 $govuk-border-width;
  padding-left: govuk-spacing(3);

  &__primary-message {
    @include govuk-typography-weight-bold;
    color: govuk-colour("blue");
  }

}

.app-review-warning--error {
  @extend .app-review-warning;
  border: solid govuk-colour("red");
  border-width: 0 0 0 $govuk-border-width;

  .app-review-warning__primary-message {
    @include govuk-typography-weight-bold;
    color: govuk-colour("red");
  }
}
