.app-status-indicator {
  align-items: center;
  border: 4px currentColor solid;
  border-radius: 100%;
  display: inline-flex;
  height: govuk-spacing(1);
  justify-content: center;
  width: govuk-spacing(1);
  margin-right: govuk-spacing(1);
}

.app-status-indicator--filled {
  background-color: currentColor;
}

.app-status-indicator--grey {
  color: govuk-colour("mid-grey");
}

.app-status-indicator--purple {
  color: govuk-colour("purple");
}

.app-status-indicator--turquoise {
  color: govuk-colour("turquoise");
}

.app-status-indicator--blue {
  color: govuk-colour("blue");
}

.app-status-indicator--yellow {
  color: govuk-colour("yellow");
}

.app-status-indicator--orange {
  color: govuk-colour("orange");
}

.app-status-indicator--red {
  color: govuk-colour("red");
}

.app-status-indicator--pink {
  color: govuk-colour("pink");
}

.app-status-indicator--green {
  color: govuk-colour("green");
}
