.app-application-cards {
  h2.task_view_group_header {
    padding-top: govuk-spacing(4);
  }
  h2.task_view_group_header:first-of-type {
    padding-top: 0;
  }
}

.app-application-card {
  border-bottom: 1px solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(4);

  h3 {
    margin-bottom: 0;
  }

  dl {
    margin-top: govuk-spacing(1);
  }
  dd {
    @include govuk-font($size: 19);
    margin: 0;
  }

  &__footer {
    @include govuk-media-query($from: tablet) {
      display: flex;
    }

    display: inline;
  }

  &__secondary {
    width: 100%;

    dd, dt {
      @include govuk-font($size: 16);
      color: govuk-colour('dark-grey');
      display: inline;
    }

  }

  &__primary {
    padding-top: govuk-spacing(2);
    dd {
      @include govuk-font($size: 16);
    }
  }

  &__provider {
    @include govuk-media-query($from: tablet) {
      max-width: 400px;
    }
  }

  &__course {
    @include govuk-media-query($from: tablet) {
      max-width: 400px;
    }
  }

 &__days_to_respond {
    dd {
      max-width: 240px;
      display: inline;
      margin-top: govuk-spacing(3);

      color: $govuk-text-colour;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.25;
      text-align: right;

      @include govuk-media-query($from: tablet) {
        float: right;
      }
    }
  }

  &__cycle {
    width: 320px;

    dd, dt {
      @include govuk-font($size: 16);
      color: govuk-colour('dark-grey');
      display: inline;
    }

  }

  &__date {
    dd {
      display: flex;

      @include govuk-media-query($from: tablet) {
        float: right;
        display: inline;
      }
    }
  }

  &__status {
    float: right;
    text-align: right;
  }
}


