.app-email-preview {
  padding: govuk-spacing(4);
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);

  border-color: $govuk-border-colour;
  border-style: solid;
  border-width: $govuk-border-width;
}
