.app-email-preview {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
  border-width: $govuk-border-width;
  border-style: solid;
  border-color: $govuk-border-colour;
}
