.app-interviews {
  margin-bottom: govuk-spacing(4);

  .app-interview-card {
    padding-bottom: govuk-spacing(2);
    padding-top: govuk-spacing(2);
    border-bottom: 1px solid govuk-colour('mid-grey');

    display: flex;
  }

  h2 + .app-interview-card {
    border-top: 1px solid govuk-colour('mid-grey');
  }

  .app-interview-card__time {
    box-sizing: border-box;
    padding-right: govuk-spacing(2);
    width: 15%;
  }

  .app-interview-card__candidate {
    box-sizing: border-box;
    padding-right: govuk-spacing(2);
    width: 40%;
  }

  .app-interview-card__course {
    width: 45%;
    box-sizing: border-box;
  }
}
