.app-masthead {
  @include govuk-main-wrapper;
  @include govuk-responsive-margin(6, "bottom");

  color: govuk-colour("white");
  background-color: govuk-colour("blue");

  .app-button--inverted {
    margin-right: govuk-spacing(3);
  }
}

.app-masthead__title {
  color: govuk-colour("white");
}

.app-masthead__description {
  @include govuk-font(24);
  color: govuk-colour("white");

  * {
    color: inherit;
  }
}

.app-masthead__alternative-action {
  @include govuk-font($size: 19);
  white-space: nowrap;
  position: relative;
  top: govuk-spacing(2);

  .govuk-link {
    color: inherit;

    &:focus  {
      @include govuk-focused-text;
    }
  }
}

.app-masthead__image {
  padding-top: govuk-spacing(6);
  text-align: center;

  img {
    max-width: 300px;
  }
}
