.recruitment_performance_report_table-heading {
  padding-left: govuk-spacing(2);

  text-align: center;

  border-bottom: none;
  border-left: $govuk-border-width-narrow solid $govuk-border-colour;

  &__no-border {
    border-bottom: none;
  }
}

.recruitment_performance_report_table-subheading {
  border-bottom: $govuk-border-width-narrow solid $govuk-border-colour;

  &__border-left {
    padding-left: govuk-spacing(2);

    border-left: $govuk-border-width-narrow solid $govuk-border-colour;
  }
}

.recruitment_performance_report_table-subject-rows {
  &__border-left {
    padding-left: govuk-spacing(2);

    border-left: $govuk-border-width-narrow solid $govuk-border-colour;
  }

  &__secondary-subject-row-heading {
    padding-left: govuk-spacing(2);

    font-weight: $govuk-font-weight-regular;
  }
}

.recruitment_performance_report_table-summary-row {
  padding-top: govuk-spacing(2);

  font-weight: $govuk-font-weight-bold;

  border-top: $govuk-border-width-narrow solid $govuk-border-colour;
  border-bottom: none;

  &__border-left {
    padding-left: govuk-spacing(2);

    border-left: $govuk-border-width-narrow solid $govuk-border-colour;
  }
}

