.summary-header {
  display: table-caption;
  border-bottom: none;
}

.summary-header::after {
  content: none;
  display: none;
}

.list-border-bottom .govuk-summary-list__row:last-child {
  border-bottom: 1px solid $govuk-border-colour;
}
