.app-timeline {
  margin-bottom: govuk-spacing(4);
  position: relative;

  &:before {
    background-color: govuk-colour("blue");
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 5px;
  }
}

.app-timeline--full {
  margin-bottom: 0;

  &:before {
    height: calc(100% - 75px);
  }
}

.app-timeline__item {
  padding-bottom: govuk-spacing(6);
  padding-left: govuk-spacing(4);
  position: relative;

  &:before {
    background-color: govuk-colour("blue");
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 15px;
  }
}

.app-timeline__item:last-child {
  &:after {
    background-color: govuk-colour("blue");
    content: "";
    height: 5px;
    left: -5px;
    position: absolute;
    bottom: -10px;
    width: 15px;
  }
}

.app-timeline__title {
  @include govuk-font($size: 19, $weight: bold);
  display: inline;
}

.app-timeline__actor_and_date {
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  display: inline;
  margin: 0;
}

.app-timeline__date {
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  margin: 0;
}

.app-timeline__event_link {
  @include govuk-font($size: 19);
  margin-top: govuk-spacing(4);
}

.app-timeline__log-card__note:last-of-type {
  margin-bottom: 5px;
}

.app-timeline__log-card__note {
  margin-bottom: 10px;
}

.app-timeline__log-card__note--title {
  @include govuk-font($size: 19);
  margin-bottom: 5px;
}

.app-timeline__log-card__note--content {
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  margin-bottom: 20px;
}
