<% content_for :browser_title, "#{title} - Documentation" %>
<% content_for :title, 'Documentation' %>

<% items = [
  { name: 'Candidate flow', url: support_interface_docs_candidate_flow_path },
  { name: 'Provider flow', url: support_interface_docs_provider_flow_path },
  { name: 'When emails are sent', url: support_interface_docs_when_emails_are_sent_path },
  { name: 'Qualifications', url: support_interface_docs_qualifications_path },
] %>

<% if Rails.application.config.action_mailer.show_previews %>
  <% items << { name: 'Emails', url: support_interface_docs_mailer_previews_path } %>
<% end %>

<% if Rails.application.config.view_component.show_previews %>
  <% items << { name: 'Components', url: '/rails/view_components' } %>
<% end %>

<%= render TabNavigationComponent.new(items: items) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
