<%= content_for :title, 'Candidate application flow' %>

<% content_for :before_content do %>
  <%= render SubNavigationComponent, items: [
    { name: 'Provider application flow', url: support_interface_provider_flow_path },
    { name: 'Candidate application flow', url: support_interface_candidate_flow_path, current: true },
  ] %>
<% end %>

<p class="govuk-body">
  This page documents the states and transitions that make up the Apply service, from the perspective of the candidate.
</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View full diagram
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= StateDiagram.svg(only_from_state: nil, machine: ProcessState) %>
  </div>
</details>

<% ProcessState.workflow_spec.states.each do |_, state| %>
  <%= render SupportInterface::StateExplanationComponent, state: state, machine: ProcessState %>
  <hr class='govuk-section-break govuk-section-break--xl govuk-section-break--visible'>
<% end %>
