<%= render 'docs_navigation', title: 'Candidate application flow' %>

<p class="govuk-body-l">The states and transitions that make up the Apply service, from the perspective of the candidate.</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View full diagram
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= StateDiagram.svg(only_from_state: nil, machine: ProcessState) %>
  </div>
</details>

<style>
  svg { max-width: 100%; }
</style>

<% ProcessState.workflow_spec.states.each do |_, state| %>
  <%= render StateExplanationComponent.new(state: state, machine: ProcessState, development_details: true) %>
<% end %>
