<%= render 'docs_navigation', title: 'Candidate application flow' %>

<p class="govuk-body-l">The states and transitions that make up the Apply service, from the perspective of the candidate.</p>

<%= render StateDiagramComponent.new(machine: ProcessState) %>

<% ProcessState.workflow_spec.states.each do |_, state| %>
  <%= render StateExplanationComponent.new(state: state, machine: ProcessState, development_details: true) %>
<% end %>
