<%= render 'docs_navigation', title: 'End of cycle' %>

<p class="govuk-body-l">Cycle timeline</p>

<%= render EndOfCycleTimelineComponent.new %>

<p class="govuk-body-l">Emails</p>

<%= render EndOfCycleEmailsComponent.new %>

<p class="govuk-body-l">Banners</p>

<%= render EndOfCycleBannersComponent.new %>
