<%= render 'docs_navigation', title: 'End of cycle' %>

<p class="govuk-body-l">End of cycle timeline</p>

<%= render EndOfCycleTimelineComponent.new %>

<p class="govuk-body-l">End of cycle emails</p>

<%= render EndOfCycleEmailsComponent.new %>

<p class="govuk-body-l">End of cycle banners</p>

<%= render EndOfCycleBannersComponent.new %>
