<%= render 'docs_navigation', title: t('page_titles.guidance') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'shared/support_user_gdpr_guidance' %>
  </div>
</div>
