<h1 class="govuk-heading-l">Test data missing</h1>

<p class="govuk-body">
  <strong><%= @preview %></strong> cannot find appropriate data to present.
</p>

<p class="govuk-body">
  Please generate test data for this environment.
</p>

<p class="govuk-body">
  <%= govuk_button_to 'Generate test applications', support_interface_run_task_path('generate_test_applications') %>
</p>
