<%= render 'docs_navigation', title: 'Provider application flow' %>

<p class="govuk-body-l">The states and transitions that make up the Apply service, from the perspective of the provider.</p>

<%= render StateDiagramComponent.new(machine: ApplicationStateChange) %>

<% ApplicationStateChange.workflow_spec.states.each do |_, state| %>
  <%= render StateExplanationComponent.new(machine: ApplicationStateChange, state: state, development_details: true) %>
<% end %>
