<%= content_for :title, 'Provider application flow' %>

<%= render 'docs_navigation' %>

<p class="govuk-body">
  This page documents the states and transitions that make up the Apply service, from the perspective of the provider.
</p>

<%= render DetailsComponent.new(summary_text: 'View full diagram', details_body: StateDiagram.svg(only_from_state: nil, machine: ApplicationStateChange)) %>

<style>
  svg { max-width: 100%; }
</style>

<% ApplicationStateChange.workflow_spec.states.each do |_, state| %>
  <%= render StateExplanationComponent.new(machine: ApplicationStateChange, state: state, development_details: true) %>
  <hr class='govuk-section-break govuk-section-break--xl govuk-section-break--visible'>
<% end %>
