<h1 class="govuk-heading-l">Test data missing</h1>

<p class="govuk-body">
  <strong><%= @preview %></strong> cannot find appropriate data to present.
</p>

<p class="govuk-body">
You may have to drop and re-create your database, then run: <pre>bundle exec rake setup_local_dev_data</pre>
</p>
