<h1 class="govuk-heading-xl">Candidate signed in home page</h1>

<p class="govuk-body">Home page for signed in candidates. Links to applications and other relevant information should be presented here.</p>
