<h1 class="govuk-heading-xl">Candidate signed in home page</h1>

<p class="govuk-body">Home page for signed in candidates. Links to applications and other relevant information should be presented here. The link below requests the candidate complete their profile.</p>

<%= link_to 'Complete your profile', profile_edit_path, class: 'govuk-button govuk-button--start' %>

<h1 class="govuk-heading-l">Applications</h1>

<p class="govuk-body">This section may be hidden until a candidate has completed their profile.</p>

<ul>
  <li>Dummy</li>
  <li>list</li>
  <li>of</li>
  <li>applications</li>
</ul>
