<h1 class="govuk-heading-xl">Candidate landing page</h1>

<p class="govuk-body">
  This is the landing page for the service, visible to non registered users. Content should be provided here directing interested candidates to register.
</p>

<%= link_to 'Sign up', new_candidate_registration_path, class: 'govuk-button govuk-button--start' %>


<p class="govuk-body">Already registered?</p>

<%= link_to 'Sign in', new_candidate_session_path, class: 'govuk-button' %>
