<h1 class="govuk-heading-xl">Candidate landing page</h1>

<p><%= link_to 'Sign up', new_candidate_registration_path, class: 'govuk-link' %> or <%= link_to 'Sign in', new_candidate_session_path, class: 'govuk-link' %></p>
