<% content_for :title, t('review_application.title') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<h1 class="govuk-heading-xl">
  <%= t('review_application.heading') %>
</h1>

<%= render 'review', application_form: @application_form, editable: true %>

<%= govuk_button_link_to t('review_application.button_continue'), candidate_interface_application_submit_show_path %>
