<% content_for :title, page_title(t('submit_application_success.title')) %>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
  <h1 class="govuk-panel__title">
    <%= t('submit_application_success.heading') %>
  </h1>
</div>
