<% content_for :title, t('submit_application_success.title') %>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
  <h1 class="govuk-panel__title">
    <%= t('submit_application_success.heading') %>
  </h1>

  <div class="govuk-panel__body">
      Your application number is <span id='application-ref'><%= @support_reference %></span>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">The Apply for teacher training service will send you an email to confirm the successful submission of your application.</p>

    <h2 class="govuk-heading-m">References</h2>
    <p class="govuk-body">We will also contact your referees to ask for your references. When we receive them, we’ll add them to your application and send it to your training provider(s).</p>
    <p class="govuk-body">We can’t send your application to your training provider(s) without your references.</p>
    <p class="govuk-body">Training providers then have 40 working days to respond to your application.</p>

    <h2 class="govuk-heading-m">Interview</h2>
    <p class="govuk-body">If your training provider decides to offer you an interview, they will get in touch directly via email to organise a date and give you all the information you need.</p>

    <h2 class="govuk-heading-m">Track, edit or withdraw</h2>
    <p class="govuk-body">You have 5 working days to make changes to a submitted application. We won't send your application to your training provider(s) until the 5 working days are up.</p>
    <p class="govuk-body">To edit your application, return to your<%= govuk_link_to t('page_titles.application_dashboard'), candidate_interface_application_form_path %>.</p>
  </div>
</div>
