<h1 class="govuk-heading-xl">Export data</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      The export will include all candidates who have accepted an offer.
    </p>
    <p class="govuk-body">
      Higher education institutions will need the data when reporting to the Higher Education Statistics Agency (HESA).
    </p>
    <p class="govuk-body">
      Diversity information will only be included if you have permission to view it.
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: provider_interface_applications_export_path(format: :csv), method: :get do %>
      <button class="govuk-button" data-module="govuk-button">
        Export data
      </button>
    <% end %>
  </div>
</div>
