<% content_for :title, 'Candidate validation errors' %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Performance': support_interface_performance_path,
    'Validation errors': support_interface_validation_errors_path,
    'Candidate': nil,
  }) %>
<% end %>

<p class="govuk-body"><%= govuk_link_to 'Validation error summary', support_interface_validation_errors_candidate_summary_path %></p>

<%= render SupportInterface:: ValidationErrorsListComponent.new(distinct_errors_with_counts: @list_of_distinct_errors_with_counts, grouped_counts: @grouped_counts, scoped_error_object: :form_object, source_name: :candidate, grouped_counts_label: 'Form') %>
