<div class="dfe-primary-navigation govuk-!-display-none-print">
  <div class="govuk-width-container">
    <nav class="dfe-primary-navigation__nav" aria-label="main menu">
      <ul class="dfe-primary-navigation__list">
        <% items.each do |item| %>
          <li class="dfe-primary-navigation__item <%= item.classes %>">
            <% if item.active %>
              <%= govuk_link_to item.text, item.href, class: 'dfe-primary-navigation__link', aria: { current: 'page' } %>
            <% else %>
              <%= govuk_link_to item.text, item.href, class: 'dfe-primary-navigation__link' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
