<% previous_header = '' %>

<% application_choices.each do |application_choice| %>
  <% current_header = group_header(application_choice) %>

  <% if current_header != previous_header %>
    <h2 class="govuk-heading-m grouped-application-header"><%= current_header %></h2>

    <% previous_header = current_header %>
  <% end %>

  <%= render CandidateInterface::ContinuousApplications::ApplicationSummaryComponent.new(application_choice:) %>
<% end %>
