<p class="govuk-body">You can only apply to 1 course at a time at this stage of your application.</p>
<p class="govuk-body">Not all courses and training providers are signed up to Apply for teacher training. If you choose a course that isn’t signed up to the service, you’ll be directed to UCAS to continue your application.</p>
<p class="govuk-body">You can preview courses currently available on Apply for teacher training.</p>
