<%= render CandidateInterface::UcasDowntimeComponent.new  %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.apply_on_ucas') %>
</h1>

<p class="govuk-body">The provider you’ve chosen is not yet signed up to the new <%= service_name %>. This means you must apply for it using UCAS.</p>
<p class="govuk-body">If your other preferred  providers are signed up to the new service, it’s possible to apply through both systems. You can choose a total of 3 courses across both services.</p>
<p class="govuk-body">For more information, see our <%= govuk_link_to 'Get into Teaching guidance on applying for teacher training', 'https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training' %></p>
