<% content_for :title, t('page_titles.choosing_courses') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.choosing_courses') %>
    </h1>
    <%= render 'guidance' %>
    <%= govuk_button_link_to 'Continue', candidate_interface_course_choices_choose_path, class: 'govuk-!-margin-bottom-9' %>
  </div>
</div>
