<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title: 'Data sharing agreement signed', body: nil) %>

    <% if @provider_relationship_pending %>
      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p class="govuk-body">
        Either you or your partner organisations must setup organisational permissions before you can manage teacher training applications.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to 'Continue', provider_interface_provider_relationship_permissions_organisations_path, button: true %>
      </p>
    <% else %>
      <% if current_provider_user.authorisation.can_manage_users_for_at_least_one_provider? %>
        <h2 class="govuk-heading-m">
          Inviting users
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-4">
          Select <%= govuk_link_to 'Users', provider_interface_provider_users_path %> (at the top of every page) to add users and manage their permissions.
        </p>
      <% end %>

      <h2 class="govuk-heading-m">
        Manage your applications
      </h2>

      <p class="govuk-body">
        Continue to your applications.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to t('continue'), provider_interface_applications_path, button: true %>
      </p>
    <% end %>
  </div>
</div>
