<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::DsaSuccessPageComponent.new(
      provider_user: current_provider_user,
      provider_permission_setup_pending: @provider_relationship_pending,
    ) %>
  </div>
</div>
