<% content_for :title, t('page_titles.applications_closed') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.applications_closed') %>
    </h1>

    <p class="govuk-body">Applications for courses starting this year have closed.</p>

    <p class="govuk-body">You can create an account and submit an application from <%= CycleTimetable.apply_reopens.to_s(:govuk_date).strip %>.</p>
  </div>
</div>
