<% content_for :title, title_with_error_prefix(t('page_titles.create_account_or_sign_in'), @create_account_or_sign_in_form.errors.any?) %>

<%= render ServiceInformationBanner.new(namespace: :candidate) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.create_account_or_sign_in') %>
    </h1>

    <%= govuk_button_to('Sign in', '/auth/onelogin', method: :post) %>
  </div>
</div>
