<% content_for :title, t('page_titles.not_eligible_yet') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_eligibility_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.not_eligible_yet') %>
    </h1>

    <p class="govuk-body">Apply for teacher training is still in development, so for now, we have to limit candidate numbers.</p>
    <p class="govuk-body govuk-!-font-weight-bold">You can apply for all teacher training courses and providers using UCAS.</p>
    <p class="govuk-body">You’ll need to register with UCAS before you can apply.</p>
    <p class="govuk-body"><%= govuk_link_to 'Apply on UCAS', UCAS.apply_url %></p>
  </div>
</div>
