# https://docs.rubocop.org/rubocop-rspec/cops_rspec.html

plugins:
  - rubocop-rspec
require:
  - rubocop-rspec_rails

RSpec/NestedGroups:
  Enabled: true
  Max: 4
  Exclude:
    - "spec/forms/provider_interface/offer_wizard_spec.rb"

RSpec/ExampleLength:
  Enabled: false

RSpec/NoExpectationExample:
  Enabled: false

RSpec/MultipleExpectations:
  Enabled: false

RSpec/ContextWording:
  Enabled: false

# This file references qualification subject, rubocop is confusing it with the object being tested
RSpec/SubjectDeclaration:
  Exclude:
    - "spec/forms/support_interface/application_forms/edit_other_qualification_form_spec.rb"

# This file references qualification subjects, rubocop is confusing it with the object being tested
RSpec/NamedSubject:
  Exclude:
    - "spec/forms/support_interface/application_forms/edit_other_qualification_form_spec.rb"

# we have a property called "subject" in some factories
RSpec/EmptyLineAfterSubject:
  Exclude:
    - "spec/factories/*.rb"

RSpec/LetSetup:
  Enabled: false

# This cop wants us to use `expect().to change(Candidate, :count)` instead
# of `expect().to change { Candidate.count }`, which does not seem better.
RSpec/ExpectChange:
  Enabled: false

RSpec/LeadingSubject:
  Enabled: false

# In acceptance tests it's often handy to user instance variables to keep track of state
RSpec/InstanceVariable:
  Enabled: false

RSpec/PredicateMatcher:
  Enabled: false

RSpec/DescribeClass:
  Enabled: false

RSpec/MultipleMemoizedHelpers:
  Enabled: false

RSpec/StubbedMock:
  Enabled: true

# the cop is asking for the filename "df_e/*"
# https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspecspecfilepathformat
RSpec/SpecFilePathFormat:
  Exclude:
    - "spec/presenters/vendor_api/**/*"
    - "spec/lib/dfe/**/*"
    - "spec/components/utility/dfe_sign_in_button_component_spec.rb"
  CustomTransform:
    DfE: dfe
    DfESignInButtonComponent: dfe_sign_in_button_component

RSpec/SpecFilePathSuffix:
  Exclude:
    - "spec/presenters/vendor_api/**/*"
    - "spec/lib/dfe/**/*"

RSpec/RepeatedExample:
  Exclude:
    - "spec/factory_specs/**/*"

RSpec/RepeatedDescription:
  Exclude:
    - "spec/factory_specs/**/*"

RSpec/EmptyExampleGroup:
  Exclude:
    - "spec/factory_specs/**/*"

RSpec/SortMetadata:
  Exclude:
    - "spec/services/revert_rejected_by_default_spec.rb"

RSpec/IndexedLet:
  Enabled: false

RSpecRails/NegationBeValid:
  Enabled: true

# This is disabled by default but it is run in an before commit hook
RSpec/Dialect:
  Enabled: false
  PreferredMethods:
    feature: :describe
