<% content_for :title, page_title('personal_details') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_personal_details_edit_path) %>

<h1 class="govuk-heading-xl">
  Personal details
</h1>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <div class="app-summary-card__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @personal_details_form.name %>
        </dd>

        <dd class="govuk-summary-list__actions">
          <%= link_to candidate_interface_personal_details_edit_path, class: 'govuk-link' do %>
            Change<span class="govuk-visually-hidden"> name</span>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</section>
