<% content_for :title, page_title('personal_details') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_personal_details_edit_path) %>

<h1 class="govuk-heading-xl">
  Personal details
</h1>

<%= render(SummaryCardComponent, rows: @personal_details_review.rows) %>

<%= govuk_button_link_to 'Continue', candidate_interface_application_form_path %>
