<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-about">About the course</h2>
  <div data-qa="course__about_course">
    <%= markdown(course.about_course) %>
  </div>
</div>
