<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-interviews">Interview process</h2>
  <div data-qa="course__interview_process">
    <%= markdown(course.interview_process) %>
  </div>
</div>
