<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-salary">Salary</h2>
  <% if course.salary_details.present? %>
    <%= markdown(course.salary_details) %>
  <% end %>
</div>
