@import "~@ministryofjustice/frontend/moj/settings/assets";
@import "~@ministryofjustice/frontend/moj/settings/measurements";
@import "~@ministryofjustice/frontend/moj/helpers/all";
@import "~@ministryofjustice/frontend/moj/objects/width-container";
@import "~@ministryofjustice/frontend/moj/components/pagination/pagination";
@import "~@ministryofjustice/frontend/moj/objects/filter-layout";
@import "~@ministryofjustice/frontend/moj/objects/scrollable-pane";
@import "~@ministryofjustice/frontend/moj/components/filter/filter";

.moj-filter-layout__content {
  overflow-x: hidden;
  .moj-action-bar {
    height: 60px;
  }
}

.moj-action-bar__filter {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.filter-toggle-button {
  float: right;
  margin-bottom: govuk-spacing(1);
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.moj-action-bar__filter:after {
  background: none;
}

@media (min-width: 48.0625em) {
  .moj-filter-layout__filter {
    max-width: 310px;
    margin-right: govuk-spacing(6);
  }
}

.moj-filter__header {
  background: govuk-colour('white');
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-bottom: 0;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
}

.moj-filter__selected {
  box-shadow: none;
  border: 1px solid $govuk-border-colour;
  border-top: 0;
  border-bottom: 0;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
}

.moj-filter__options {
  box-shadow: none;
  padding: govuk-spacing(4) govuk-spacing(3);
}

.moj-pagination__list {
  padding-left: 3px;
}

.app-filter {
  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(3);
  }
}

// Apply GOV.UK focus styles - only needed with js.
.js-enabled .app-filter:focus {
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

// Fix for focus issue - see https://github.com/DFE-Digital/apply-for-teacher-training/pull/2640

// We're catching the focus on a second element rather than having the filter component itself flash with focus when checkbox labels are clicked.
.moj-filter__content:focus {
  outline: none;
}

.moj-filter__tag:focus {
  outline: 3px solid transparent;
  background-color: govuk-colour("yellow");
  text-decoration: none;
  box-shadow: 0 4px govuk-colour("black");
}

.moj-pagination__item--prev .moj-pagination__link:before {
  margin-right: 1px;
}

.moj-pagination__item--next .moj-pagination__link:after {
  margin-left: 1px;
}

.app-search {
  form {
    align-items: flex-end;
    display: flex;
  }

	.govuk-form-group {
		flex: 1;
		margin-bottom: 0;
		vertical-align: top;
  }

  .app-search__button {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: auto;
  }
}
