<% content_for :browser_title, 'Reinstate reference' %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@reference.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Are you sure you want to undo the referee's refusal to provide a reference?
    </h1>

    <p class="govuk-body">
      This will allow this referee to provide a reference
    </p>

    <p class="govuk-body">
      Undoing a refusal does <strong>not send email notifications</strong>.
    </p>

    <%= render(SummaryCardComponent.new(rows: [
    {
      key: 'Reference name',
      value: @reference.name,
    },
    {
      key: 'Reference email address',
      value: @reference.email_address,
    },
    ])) %>

    <%= form_with model: @reference, url: support_interface_reinstate_reference_path(@reference), method: :post do |f| %>
      <%= f.govuk_submit 'Undo refusal' %>
    <% end %>
  </div>
</div>
