<h2 class="govuk-heading-l">Conditions of offer have not been met</h2>

<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
