<h2 class="govuk-heading-l">Candidate did not meet conditions</h2>

<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
