<h2 class="govuk-heading-l"><%= candidate_name %> has enrolled on the course</h2>
<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
