<h2 class="govuk-heading-l">Offer</h2>
<%= render SummaryListComponent.new(rows: offer_withdrawn_rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
