<h2 class="govuk-heading-l">Offer</h2>

<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>

<% if provider_can_respond %>
<p class="govuk-body govuk-!-margin-bottom-0 app-!-print-display-none">
  <%= govuk_link_to 'Withdraw offer', provider_interface_application_choice_new_withdraw_offer_path(@application_choice.id) %>
</p>
<% end %>
