<div class="app-offer-panel">
  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Offer</h2>

  <% if provider_can_respond %>
  <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-display-none-print">
    <%= govuk_link_to 'Defer offer', provider_interface_application_choice_new_defer_offer_path(application_choice.id) %>
  </p>
  <% end %>

  <h3 class="govuk-heading-m">Course details</h3>
  <%= render SummaryListComponent.new(rows: rows) %>

  <h3 class="govuk-heading-m">Conditions</h3>

  <% if provider_can_respond %>
  <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-display-none-print">
    <%= govuk_link_to 'Update status of conditions', update_conditions_path, class: 'govuk-!-margin-bottom-2 govuk-!-display-none-print' %>
  </p>
  <% end %>

  <%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
</div>
