<h2 class="govuk-heading-l"><%= candidate_name %> has met the conditions of your offer</h2>
<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>
