<h2 class="govuk-heading-l">Conditions of offer have been met</h2>
<%= render SummaryListComponent.new(rows: rows) %>
<%= render ProviderInterface::ConditionsComponent.new(application_choice: application_choice) %>

<a href="/application/2/confirm-enrollment" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Enrol candidate
</a>
