<%= content_for :title, 'Application lifecycle' %>

<h1 class="govuk-heading-xl">Lifecycle</h1>

<%= render TabNavigationComponent.new(items: [
  { name: 'Application lifecycle', url: api_docs_lifecycle_path, current: true },
  { name: 'When emails are sent', url: api_docs_when_emails_are_sent_path },
]) %>

<%= render StateDiagramComponent.new(machine: ApplicationStateChange) %>

<% ApplicationStateChange.workflow_spec.states.each do |_, state| %>
  <%= render StateExplanationComponent.new(machine: ApplicationStateChange, state: state) %>
<% end %>
