<%= content_for :title, 'When emails are sent' %>

<h1 class="govuk-heading-xl">Lifecycle</h1>

<%= render TabNavigationComponent.new(items: [
  { name: 'Application lifecycle', url: api_docs_lifecycle_path },
  { name: 'When emails are sent', url: api_docs_when_emails_are_sent_path, current: true },
]) %>

<style>
  svg { max-width: 100%; }
</style>

<h1 class="govuk-heading-xl">When emails are sent</h1>

<%= render WhenEmailsAreSentComponent.new %>
