<% content_for :title, title_with_error_prefix(t('page_titles.awkward'), @survey.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_satisfaction_survey_adaptability_path) %>

<%= form_with model: @survey, url: candidate_interface_satisfaction_survey_submit_awkward_path, method: :post do |f| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-xl">
        <%= t('page_titles.awkward') %>
      </h2>

      <%= render 'form', f: f %>
    </div>
  </div>
<% end %>
