<% content_for :title, t('page_titles.confidence') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_satisfaction_survey_awkward_path) %>

<%= form_with model: @survey, url: candidate_interface_satisfaction_survey_submit_confidence_path, method: :post do |f| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-xl">
        <%= t('page_titles.confidence') %>
      </h2>

      <%= f.hidden_field :question, value: t('page_titles.confidence') %>

      <%= render 'form', f: f %>
    </div>
  </div>
<% end %>
