<% content_for :title, t('page_titles.thank_you') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      <%= t('page_titles.thank_you') %>
    </h2>

    <%= govuk_link_to 'Go to your application dashboard', candidate_interface_application_form_path %>
  </div>
</div>
