<div data-qa="course__loan_details">
  <p class="govuk-body">
    You may also be eligible for a <%= link_to "loan while you study", "https://getintoteaching.education.gov.uk/funding-my-teacher-training/tuition-fee-and-maintenance-loans", class: "govuk-link" %> – note that you’ll have to apply for <%= link_to "undergraduate student finance" , "https://www.gov.uk/student-finance", class: "govuk-link" %>.
  </p>
  <p class="govuk-body">
    Find out about financial support if you’re from <%= link_to 'outside the UK', 'https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates', class: 'govuk-link' %>.
  </p>
</div>
