<div data-qa="course__salary_details">
  <p class="govuk-body">
    Financial support isn’t available for this course because it comes with a salary.
  </p>
  <p class="govuk-body">
    If you choose a course without a salary, you may be eligible for financial support while you study, including bursaries, scholarships and loans.
  </p>
</div>
