<% content_for :title, title_with_error_prefix(t('page_titles.degree_institution'), @degree_institution_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @degree_institution_form,
      url: candidate_interface_edit_degree_institution_path(@degree_institution_form.degree),
      method: :patch
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.degree_institution') %>
      </h1>

      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
