<% content_for :title, t('page_titles.apply_to_provider_on_ucas') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_provider_path) %>

<%= render partial: 'candidate_interface/course_choices/shared/no_courses'  %>

<p class="govuk-body"><%= govuk_link_to 'Return to your application', candidate_interface_application_form_path %></p>
