<% content_for :title, 'The link to sign in has expired' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: provider_interface_request_new_token_path, method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        The link to sign in has expired
      </h1>
      <p class="govuk-body">
        Links must be used to sign in within an hour and can only be used once.
      </p>

      <%= hidden_field_tag :token, params[:token] %>
      <%= f.govuk_submit 'Request another link to sign in' %>
    <% end %>
  </div>
</div>
