<% content_for :browser_title, t('page_titles.sign_in') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if FeatureFlag.active?('banner_about_problems_with_dfe_sign_in') %>
      <%= render NotificationMessageComponent.new(:info,
                                                  message: 'You might have problems signing in ',
                                                  secondary_message: 'Some of our users are having trouble signing in. We’re working on the problem now. If you cannot sign in, try again soon.') %>
    <% end %>

    <h1 class="govuk-heading-xl">
      <%= t('page_titles.sign_in') %>
    </h1>

    <p class="govuk-body-l">You must sign in to your account to manage teacher training applications.</p>

    <%= render(DfESignInButtonComponent.new(bypass: DfESignIn.bypass?)) %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Ask for an account</h2>
    <p class="govuk-body">Do not have an account? You can get one by emailing <%= bat_contact_mail_to %>. Please include the full names and email addresses of anyone who needs access.</p>
  </div>
</div>
