<% content_for :browser_title, t('page_titles.sign_in') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('page_titles.sign_in') %>
    </h1>

    <p class="govuk-body-l">You must sign in to your account to manage teacher training applications.</p>

    <%= render(DfESignInButtonComponent.new(bypass: DfESignIn.bypass?)) %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Get an account</h2>
    <p class="govuk-body">
      Ask a colleague within your organisation to add you if you do not have an account. They'll need to have permission to manage users.
    </p>
    <p class="govuk-body">
      If your organisation has not been set up to manage teacher training applications, send an email to <%= bat_contact_mail_to %>.
    </p>
  </div>
</div>
