<% content_for :title, 'Support users' %>

<%= link_to 'Add support user', new_support_interface_support_user_path, class: 'govuk-button' %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Users', support_interface_users_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Support users
      </li>
    </ol>
  </div>
<% end %>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header govuk-!-width-one-half'>Email</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>DfE Sign-in UID</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @support_users.each do |support_user| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          <%= support_user.email_address %>
        </td>
        <td class='govuk-table__cell'>
          <%= support_user.dfe_sign_in_uid %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
