<% content_for :browser_title, "Support user #{@support_user.display_name}" %>
<% content_for :before_content, govuk_back_link_to(support_interface_support_users_path) %>

<% content_for :title do %>
   <span class="govuk-caption-xl">Support user</span>
   <%= @support_user.display_name %>
 <% end %>

<%= render SupportInterface::AuditTrailComponent.new(audited_thing: @support_user) %>
