<% content_for :title, t('page_titles.references_start') %>
<% if @application_form.application_references.present? %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_references_review_path) %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.references_start') %>
    </h1>

    <h2 class="govuk-heading-m">Who to choose as a referee</h2>

    <p class="govuk-body">Referees should not be family members, partners or friends.</p>

    <p class="govuk-body">If you graduated in the last 5 years, or you do not yet have a grade for your degree, choose at least one academic referee.</p>

    <p class="govuk-body">If you’re applying for a salaried course, one of your references must be from an employer.</p>

    <p class="govuk-body">You can use one character reference if you also have a professional or academic reference.</p>

    <p class="govuk-body">
      <%= govuk_link_to(
        'Talk to a teacher training adviser',
        t('get_into_teaching.url_online_chat'),
      ) %>
      if you need help choosing a referee.
    </p>

    <h2 class="govuk-heading-m">Contact your referee</h2>

    <p class="govuk-body">Your referee will receive a link to an online form to complete. References sent to providers by email will not be accepted.</p>

    <p class="govuk-body">Contact your referee in advance to check that they can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>type or paste their reference into an online form (with a 500-word limit)</li>
      <li>submit a reference quickly, so as not to delay your application</li>
      <li>give you a full reference – providers need to know if you’re suitable to become a teacher</li>
    </ul>

    <%= govuk_link_to t('continue'), candidate_interface_references_type_path, class: 'govuk-button' %>
  </div>
</div>
