<% content_for :title, title_with_error_prefix(t('page_titles.work_history_explanation'), @work_explanation_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_work_history_length_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_explanation_form, url: candidate_interface_work_history_explanation_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_area :work_history_explanation, label: { text: t('application_form.work_history.explanation.label'), tag: 'h1', size: 'xl' }, max_words: 400, rows: 5 do %>
        <p class="govuk-body">
          For example, parenting or caring responsibilities, unemployment,
          travel, health, study or other personal reasons.
        </p>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
