<% content_for :title, t('page_titles.work_history_explanation') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_explanation_form, url: candidate_interface_work_history_explanation_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_area :work_history_explanation, label: { text: t('application_form.work_history.explanation.label'), tag: 'h1', size: 'xl' }, max_words: 600, rows: 20 do %>
        <p class="govuk-body">
          If you are returning to work for the first time in 5 or more years,
          please give details. For example, explain your parental or caring
          responsibilities (or any other reason why you haven’t been employed).
        </p>
        <p class="govuk-body">
          You can also include relevant work history from more than 5 years ago.
          Providers will be interested in skills and experience you could
          transfer to a school setting.
        </p>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
