---
openapi: 3.0.0
info:
  version: v1
  title: Apply data exports API
  contact:
    name: DfE
    email: becomingateacher@digital.education.gov.uk
  description: |
    API for data extracts from DfE’s Apply for teacher training service.
servers:
- description: Sandbox (test environment)
  url: https://sandbox.apply-for-teacher-training.service.gov.uk/data-api
- description: Production
  url: https://www.apply-for-teacher-training.service.gov.uk/data-api
paths:
  "/tad-data-exports":
    get:
      summary: Get a list of TAD data exports
      description: This endpoint returns a list of data exports
      parameters:
        - in: query
          name: updated_since
          schema: 
            type: string
            format: date-time
            example: 2021-05-20T12:34:00Z
          required: true
          description: A list of TAD data exports updated since this date
      responses:
        '200':
          description: A list of TAD data exports
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TADDataExportList"
  "/tad-data-exports/{data_export_id}":
    get:
      summary: Get a single TAD data export
      parameters:
        - in: path
          name: data_export_id
          schema:
            type: integer
          required: true
          description: ID of the export to get
      responses:
        '200':
          description: The CSV of the requested export
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/TADExport"
  "/tad-data-exports/latest":
    get:
      summary: Get the latest TAD data export
      description: This endpoint returns a CSV consisting of the latest TAD data. Reports are generated daily
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/TADExport"
  "/applications-by-subject-domicile-and-nationality/latest":
    get:
      summary: Get the latest weekly export of applications broken down by subject, domicile and nationality for TAD
      description: This endpoint returns a CSV consisting of the latest TAD data. Reports are generated daily
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/TADSubjectDomicileNationalityExport"
  "/tad-data-exports/latest":
    get:
      summary: Get the ministerial report candidates export
      description: This endpoint returns a CSV consisting of the latest ministerial report candidates export. Reports are generated daily
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/CandidatesExport"
  "/ministerial-report/applications/latest":
    get:
      summary: Get the ministerial report applications export
      description: This endpoint returns a CSV consisting of the latest ministerial report applications export. Reports are generated daily
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/ApplicationsExport"
  "/applications-by-subject-route-and-degree-grade/latest":
    get:
      summary: Get an export of applications grouped by subject, route and degree grade
      description: This endpoint returns a CSV consisting of the latest applications export grouped by subject, route and degree grade. Reports are generated weekly
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/ApplicationsBySubjectRouteAndDegreeGradeExport"
  "/applications-by-demographic-domicile-and-degree-class/latest":
    get:
      summary: Get the tad applications by demographic, domicile and degree class
      description: This endpoint returns a CSV consisting of the latest TAD applications by demographic, domicile and degree class. Reports are generated daily
      responses:
        '200':
          description: The CSV of the latest report
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/ApplicationsByDemographicDomicileAndDegreeClassExport"
components:
  schemas:
    TADExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    TADSubjectDomicileNationalityExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    CandidatesExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    ApplicationsExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    ApplicationsBySubjectRouteAndDegreeGradeExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    ApplicationsByDemographicDomicileAndDegreeClassExport:
      type: object
      properties: # this is automatically populated from the CSV definition by DataAPISpecification
    TADDataExportList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DataExportRecord"
    DataExportRecord:
      type: object
      required:
        - export_date
        - url
        - description
      properties:
        export_date:
          type: string
          format: date-time
          description: When the export was generated
        url:
          type: string
          description: Where the export can be downloaded
          example: https://www.apply-for-teacher-training.service.gov.uk/data-api/tad-data-exports/123
        description:
          type: string
          description: A human-readable description of the export
          example: Daily export of applications for TAD
        updated_at:
          type: string
          format: date-time
          description: Time of last change
          example: 2021-05-20T12:34:00Z
    UnauthorizedResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: Unauthorized
            message: Please provide a valid authentication token
    ParameterMissingResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterMissing
            message: "param is missing or the value is empty: updated_since"
    ParameterInvalidResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterInvalid
            message: "Parameter is invalid: updated_since"
    ParameterInvalidResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterInvalid
            message: "Parameter is invalid: updated_since"
    ParameterMissingResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterMissing
            message: "param is missing or the value is empty: updated_since"
    Error:
      type: object
      additionalProperties: false
      properties:
        error:
          type: string
          description: Name of the current error
          example: Unauthorized
        message:
          type: string
          description: Description of the current error
          example: Please provide a valid authentication token
      required:
      - error
      - message
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
security:
- tokenAuth: []
