<% content_for :browser_title, title_with_error_prefix(t('.page_title'), @study_mode_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_deferred_offer_check_path(@study_mode_form.application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @study_mode_form, url: provider_interface_deferred_offer_study_mode_path(@study_mode_form.application_choice), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_collection_radio_buttons(
            :study_mode,
            @study_mode_form.study_modes_for_select,
            :id,
            :name,
            bold_labels: false,
            caption: { text: @study_mode_form.application_choice.application_form.full_name, size: 'xl' },
            legend: { text: t('.page_title'), size: 'xl' },
            hint: { text: t('.study_mode.fieldset_hint') },
          ) %>

      <%= form.govuk_submit t('.submit') %>
    <% end %>
  </div>
</div>
