<p class="govuk-body"><%= provider_name %> will use your reference to check the details in <%= full_name %>’s application. You could include information such as: </p>

<ul class="govuk-list govuk-list--bullet">
  <% reference_hints.each do |_key, value| %>
    <li><%= value %></li>
  <% end %>
</ul>
