<p class="govuk-body">When giving your reference try to cover the following, but don’t worry if there are areas you can’t comment on:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <% if @academic %>
    <li>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Academic abilities</h2>
      <p class="govuk-body">Does the candidate think critically and have good numeracy and literacy skills?</p>
    </li>
  <% end %>
  <li>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Teaching potential</h2>
    <p class="govuk-body">Is the candidate emotionally resilient? Do they work well with others?</p>
  </li>
  <li>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Subject knowledge</h2>
    <p class="govuk-body">Is the candidate passionate and informed about their teaching subject?</p>
  </li>
  <li>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reliability and professionalism</h2>
    <p class="govuk-body">Can the candidate meet deadlines and manage their time?</p>
  </li>
  <li>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Suitability to work with children</h2>
    <p class="govuk-body">Does the candidate care about the wellbeing of children?</p>
  </li>
  <li>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Transferable skills</h2>
    <p class="govuk-body">What abilities would the candidate bring to teaching - for example, communication, creativity, project management?</p>
  </li>
</ul>
