<p class="govuk-body">You could comment on things like their:</p>

<ul class="govuk-list govuk-list--bullet">
  <% if @academic %>
    <li>academic skills</li>
  <% end %>
  <li>communication skills</li>
  <li>reliability and professionalism</li>
  <li>ability to work with children</li>
  <li>transferable skills</li>
</ul>

<p class="govuk-body">You can write up to 500 words. </p>
<p class="govuk-body">If you need more time, save and return later using the link in your email.</p>
