<% content_for :title, t('page_titles.application_guidance') %>

<% if current_candidate.present? %>
  <% content_for :before_content, govuk_back_link_to(@back_link) %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_create_account_or_sign_in_path, 'Back') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The application process for courses starting in
      September <%= @recruitment_cycle_year %></h1>
    <p class="govuk-body">For courses starting in September <%= @recruitment_cycle_year %>, you can start applying a
      year before they start in October <%= @recruitment_cycle_year - 1 %>.</p>
    <p class="govuk-body govuk-!-margin-bottom-4">Most teacher training courses are one year and start in September
      when the academic year in England starts. Part time courses are usually 2 years.</p>

    <%= govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: 'Date and time')
            row.with_cell(text: 'What happens')
          end
        end

        table.with_body do |body|
          body.with_row do |row|
            row.with_cell(text: CycleTimetable.find_opens.to_fs(:govuk_date_and_time))
            row.with_cell do
              "Start #{govuk_link_to('finding postgraduate teacher training courses', find_url)} you might want to apply to.".html_safe
            end
          end
          body.with_row do |row|
            row.with_cell(text: CycleTimetable.apply_opens.to_fs(:govuk_date_and_time))
            row.with_cell do
              "<p class=\"govuk-body\">Start applying to courses. You can apply to #{ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES} courses, they can fill up quickly so you should apply as soon as you can.</p>
               <p class=\"govuk-body\">You can withdraw an application at any time and apply to a different course if you want to.</p>
               <p class=\"govuk-body\">If training providers do not respond to an application within 30 working days, you will be able to apply to another course while you wait for a response. We will tell you if the provider has not responded in time.</p>
               <p class=\"govuk-body\">You will get an email if you receive an offer from a training provider.</p>".html_safe
            end
          end
          body.with_row do |row|
            row.with_cell(text: CycleTimetable.apply_deadline.to_fs(:govuk_date_and_time))
            row.with_cell(text: 'The last day to submit any applications.')
          end
          body.with_row do |row|
            row.with_cell(text: CycleTimetable.reject_by_default.to_fs(:govuk_date_and_time))
            row.with_cell(text: "The last day for training providers to make a decision on all applications for courses starting in September #{@recruitment_cycle_year}.")
          end
        end
      end %>
  </div>
</div>
