<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">PGCE with QTS</span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.
    </p>
    <p class="govuk-body">
      It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you&rsquo;d like to teach in.
    </p>
    <p class="govuk-body">
      Many PGCE courses include credits that count toward a Master&rsquo;s degree.
    </p>
  </div>
</details>
