<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">PGCE</span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      A postgraduate certificate in education (PGCE) is an academic qualification in education.
    </p>
    <p class="govuk-body">
      It&rsquo;s recognised internationally, though you should always check what qualifications are needed in the country you&rsquo;d like to teach in.
    </p>
    <p class="govuk-body">
      This course does not lead to qualified teacher status (QTS).
    </p>
  </div>
</details>
