<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">QTS</span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      Qualified teacher status (QTS) allows you to teach in state schools in England and may also allow you to teach in other parts of the UK.
    </p>
    <p class="govuk-body">
      It may also allow you to teach in <%= link_to "the EU and EEA", "https://www.gov.uk/eu-eea", class: "govuk-link" %>, though this could change after 2020.
    </p>
    <p class="govuk-body">
      If you&rsquo;re planning to teach overseas, you should always check what qualifications are needed in the country you&rsquo;d like to teach in.
    </p>
  </div>
</details>
