<% content_for :before_content, govuk_back_link_to(support_interface_tasks_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: nil,
      url: support_interface_run_task_path('reject_applications_awaiting_references_at_end_of_cycle') do |f|
    %>
      <h1 class="govuk-heading-xl">
        Reject applications awaiting references at end-of-cycle
      </h1>

      <p class="govuk-body">
        Finds any applications that have been submitted but not sent to providers because they are awaiting references from the recently closed recruitment cycle and moves them to the 'application_not_sent' status.
        This should be run shortly after the Apply 2 deadline closes at midnight on <%= EndOfCycleTimetable.date(:apply_2_deadline).to_s(:govuk_date) %>
      </p>

      <%= f.submit 'Yes, I\'m sure',
        class: 'govuk-button govuk-button--warning',
        data: { module: 'govuk-button' }
      %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', support_interface_tasks_path %>
      </p>
    <% end %>
  </div>
</div>
