<% content_for :browser_title, 'Are you sure you want to delete all test applications?' %>
<% content_for :before_content, govuk_back_link_to(support_interface_tasks_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: support_interface_run_task_path('delete_test_applications') do |f| %>
      <h1 class="govuk-heading-l">Are you sure you want to delete all test applications?</h1>

      <p class="govuk-body">This task deletes all candidates with emails that end in <code>@example.com</code>, their applications and associated data.</p>

      <%= f.govuk_submit 'Yes, I’m sure – delete all test applications', warning: true %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', support_interface_tasks_path %>
      </p>
    <% end %>
  </div>
</div>
