<% content_for :browser_title, 'Are you sure you want to cancel all unsubmitted applications?' %>
<% content_for :before_content, govuk_back_link_to(support_interface_tasks_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: nil, url: support_interface_run_task_path('cancel_applications_at_end_of_cycle') do |f| %>
      <span class="govuk-caption-l">End-of-cycle</span>
      <h1 class="govuk-heading-l">Are you sure you want to cancel all unsubmitted applications?</h1>

      <p class="govuk-body">This task finds any unsubmitted applications from the most recently closed recruitment cycle and moves them to the <code>application_not_sent</code> status.</p>
      <p class="govuk-body">This should be run shortly after the Apply 2 deadline closes at midnight on <%= EndOfCycleTimetable.apply_2_deadline.to_s(:govuk_date) %>.</p>

      <%= f.govuk_submit 'Yes, I’m sure – cancel all unsubmitted applications', warning: true %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', support_interface_tasks_path %>
      </p>
    <% end %>
  </div>
</div>
