<% content_for :title, 'Tasks' %>

<% unless HostingEnvironment.production? %>
  <div>
    <h2 class='govuk-heading-m'>Test applications</h2>
    <div class='govuk-body'>
      This will generate ~10 mostly-random test applications in all of the states.
    </div>
    <%= button_to 'Generate test applications', support_interface_run_task_path('generate_test_applications'), class: 'govuk-button' %>
  </div>

  <div>
    <h2 class='govuk-heading-m'>Vendor providers</h2>
    <div class='govuk-body'>
      This will generate providers for providers to test with.
    </div>
    <%= button_to 'Generate providers for vendors', support_interface_run_task_path('create_vendor_providers'), class: 'govuk-button' %>
  </div>

  <div>
    <h2 class='govuk-heading-m'>Sync providers</h2>
    <div class='govuk-body'>
      Schedule a job to sync providers from the Find service.
    </div>
    <%= button_to 'Sync Providers from Find', support_interface_run_task_path('sync_providers'), class: 'govuk-button' %>
  </div>
<% end %>
