<%= content_for :title, 'Monthly Statistics - ITT2024' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Monthly statistics</h1>

    <p class="govuk-body">
      The 2022 to 2023 teacher training recruitment cycle has now finished. The 2023 to 2024 recruitment cycle started on Tuesday 10 October 2023 when Apply for teacher training opened for applications.
    </p>

    <p class="govuk-body">
      The first publication of ITT statistics for the new cycle will be on Monday 27 November 2023.
    </p>

    <p class="govuk-body">
      You can view <%= govuk_link_to 'monthly statistics on initial teacher training', 'https://www.gov.uk/government/publications/monthly-statistics-on-initial-teacher-training-recruitment-2023-to-2024' %>
      from the last cycle (from October 2022 until September 2023).
    </p>

    <p class="govuk-body">
      If you have any feedback or queries about the ITT statistics reports, please get in touch at <%= govuk_mail_to 'becomingateacher@digital.education.gov.uk' %>
    </p>
  </div>
</div>
