<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Interviews" %>

<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(application_choice: @application_choice, provider_can_respond: @provider_can_make_decisions) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::ApplicationChoiceInterviewsListComponent.new(application_choice: @application_choice, user_can_create_or_change_interviews: @interviews_can_be_created_and_edited) %>
  </div>
</div>
