<% content_for :browser_title, title_with_error_prefix(t('.title'), @wizard.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(request.referer) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::InterviewFormComponent.new(
      application_choice: @application_choice,
      form_model: @wizard,
      form_url: new_check_provider_interface_application_choice_interviews_path(@application_choice),
      form_heading: t('.title'),
    ) %>

    <p class="govuk-body"><%= govuk_link_to t('cancel'), provider_interface_application_choice_interviews_path(@application_choice) %></p>
  </div>
</div>
