<p class="govuk-body">
  <% if time_is_today_or_tomorrow?(application_choice.reject_by_default_at) -%>
    This application will be automatically rejected at <%= time_today_or_tomorrow(application_choice.reject_by_default_at) %>.
  <% else -%>
    <%= "There are #{days_until(application_choice.reject_by_default_at.to_date)} to respond." %>
    This application will be automatically rejected on <%= application_choice.reject_by_default_at.to_fs(:govuk_date) %>.
  <% end -%>
</p>
