<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
  Waiting for candidate’s response
</h2>
<p class="govuk-body">
  Your offer will be automatically declined <%= decline_by_default_text %> if the candidate does not respond.
</p>
