<% if provider_can_respond %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    Give feedback
  </h2>

  <p class="govuk-body">
    You did not make a decision about the application within <%= application_choice.reject_by_default_days %> working days. Tell the candidate why their application was unsuccessful.
  </p>
  <%= govuk_button_link_to 'Give feedback', new_provider_interface_rejection_path(application_choice) %>
<% else %>
  <p class="govuk-body">
    This application was automatically rejected on <%= application_choice.rejected_at.to_fs(:govuk_date) %>. Feedback has not been sent to the candidate.
  </p>
<% end %>
