<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
  <% if set_up_interview? && respond_to_application? -%>
    Set up an interview or make a decision
  <% elsif set_up_interview? -%>
    Set up an interview
  <% else -%>
    Make a decision
  <% end -%>
</h2>
<p class="govuk-body">
  This application was received <%= days_since(application_choice.days_since_sent_to_provider) %>. You should try and respond to the candidate within 30 days.
</p>

<div class="govuk-button-group">
  <% if set_up_interview? %>
    <%= govuk_button_link_to 'Set up interview', new_provider_interface_application_choice_interview_path(application_choice), class: 'govuk-!-margin-bottom-0' %>
  <% end %>
  <% if respond_to_application? %>
    <%= govuk_button_link_to 'Make decision', new_provider_interface_application_choice_decision_path(application_choice), class: make_decision_button_class %>
  <% end %>
</div>
