<% content_for :title, title_with_error_prefix(t('page_titles.which_course'), @wizard.current_step.errors.any?) %>
<% content_for(:before_content, govuk_back_link_to(candidate_interface_course_choices_course_review_path(@application_choice.id))) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @wizard.current_step,
      url: candidate_interface_edit_course_choices_which_course_are_you_applying_to_path(@application_choice.id),
      method: :patch,
    ) do |f| %>
      <%= render 'form_fields', f: %>
    <% end %>
  </div>
</div>
