<%= content_for :title, t('page_titles.account_locked') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.account_locked') %></h1>
    <p class="govuk-body">Your account has been locked.</p>
    <p class="govuk-body">
      You have created multiple accounts with similar
      contact details and can no longer access this service. Please contact the support
      team if you require further assistance.
    </p>
  </div>
</div>
