<%= content_for :title, t('page_titles.account_locked') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.account_locked') %></h1>
    <p class="govuk-body">This is because you created more than one account.</p>
    <p class="govuk-body">
      Get in touch at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a> if you need help.
    </p>
  </div>
</div>
