<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, something went wrong</h1>
      <p class="govuk-body">Sorry, we're experiencing technical difficulties.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">Contact the Becoming a Teacher team</a> if you continue to see this error.
      </p>
    </div>
  </div>
</main>
