<%= content_for :title, t('page_titles.internal_server_error') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.internal_server_error') %></h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">
      If you reached this page after submitting information then it has not been saved. You’ll need to enter it again when the service is available.
    </p>
    <p class="govuk-body">
      If you have any questions, please email us at
      <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>
    </p>
  </div>
</div>
