<% content_for :browser_title, title_with_error_prefix(t('.title'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@form.back_path(params) || application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
      'form',
      form: @form,
      url: create_candidate_interface_previous_teacher_trainings_path(
        return_to: @form.back_path(params).present? ? 'review' : nil,
      ),
      method: :post,
    ) %>
  </div>
</div>
