<% content_for :title, t('page_titles.suitability_to_work_with_children') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.suitability_to_work_with_children') %>
</h1>

<%= render(SafeguardingReviewComponent.new(application_form: @current_application)) %>

<% if FeatureFlag.active?('mark_every_section_complete') %>
  <%= render(CandidateInterface::CompleteSectionComponent.new(application_form: @application_form,
                                          path: candidate_interface_complete_safeguarding_path,
                                          request_method: :post,
                                          field_name: :safeguarding_issues_completed)) %>
<% else %>
  <%= govuk_button_link_to 'Continue', candidate_interface_application_form_path %>
<% end %>
