<% content_for :title, t('page_titles.suitability_to_work_with_children') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.suitability_to_work_with_children') %>
</h1>

<%= render(CandidateInterface::CompleteSectionComponent.new(
  section_complete_form: @section_complete_form,
  path: candidate_interface_complete_safeguarding_path,
  request_method: :post,
  summary_component: CandidateInterface::SafeguardingReviewComponent.new(application_form: @current_application)
)) %>
