<% content_for :title, title_with_error_prefix(t('page_titles.add_other_qualification'), @qualification.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @qualification, url: candidate_interface_create_other_qualification_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.add_other_qualification') %>
          </h1>
        </legend>

        <%= render 'form', f: f %>
      </fieldset>
    <% end %>
  </div>
</div>
