<% content_for :title, t('new_referee_request.confirm', candidate_name: @reference.application_form.full_name) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@reference.application_form), 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @application_form, url: support_interface_new_referee_request_path(@reference), method: :post do |f| %>
      <p class="govuk-body">
        <%= t("new_referee_request.#{@reason}.confirm_text", referee_name: @reference.name) %>
      </p>

      <%= f.submit t('new_referee_request.confirm_button'), class: 'govuk-button', data: { module: 'govuk-button' } %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', support_interface_application_form_path(@reference.application_form) %>
      </p>
    <% end %>
  </div>
</div>
