<% if !CycleTimetable.can_add_course_choice?(@application_form_presenter.application_form) %>
  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.courses') %></h2>
      <p class="govuk-body">
        You can find courses from 9am on <%= CycleTimetable.find_reopens.to_fs(:govuk_date) %>. You can keep making changes to your application until then.
      </p>
  </section>
<% end %>
