---
openapi: 3.0.0
info:
  version: v1.1
  title: Apply candidate API
  contact:
    name: DfE
    email: becomingateacher@digital.education.gov.uk
  description: |
    API for candidates from DfE’s Apply for teacher training service.
servers:
- description: Sandbox (test environment)
  url: https://sandbox.apply-for-teacher-training.service.gov.uk/candidate-api
- description: Production
  url: https://www.apply-for-teacher-training.service.gov.uk/candidate-api
paths:
  "/candidates":
    get:
      summary: Get a list of candidates
      parameters:
        - in: query
          name: updated_since
          schema:
            type: string
            format: date-time
            example: 2021-05-20T12:34:00Z
          required: true
          description: Records updated since this date
        - in: query
          name: page
          schema:
            type: integer
            example: 2
          required: false
          description: Page number. Defaults to 1.
        - in: query
          name: per_page
          schema:
            type: integer
            example: 20
          required: false
          description: Number of records to return per page. Defaults to 500.
      responses:
        '200':
          description: Candidate data updated since a certain date and time
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CandidateList"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/candidates/{candidate_id}":
    get:
      summary: Get a single candidate
      parameters:
        - in: path
          name: candidate_id
          schema:
            type: string
            example: C1234
          required: true
          description: The candidate’s id
      responses:
        '200':
          description: Candidate data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CandidateDetail"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
components:
  responses:
    NotFound:
      description: Record not found
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/NotFoundResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnauthorizedResponse"
    UnprocessableEntity:
      description: Returned when the request body was missing data or contained invalid
        data
      content:
        application/json:
          schema:
            oneOf:
              - "$ref": "#/components/schemas/ParameterMissingResponse"
              - "$ref": "#/components/schemas/ParameterInvalidResponse"
              - "$ref": "#/components/schemas/PageParameterInvalidResponse"
              - "$ref": "#/components/schemas/PerPageParameterInvalidResponse"
  schemas:
    CandidateList:
      type: object
      additionalProperties: false
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Candidate"
    CandidateDetail:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          "$ref": "#/components/schemas/Candidate"
    Candidate:
      type: object
      additionalProperties: false
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          description: A candidate’s id
          example: C1234
        type:
          type: string
          description: Type of Apply user
          example: candidate
        attributes:
          "$ref": "#/components/schemas/CandidateAttributes"
    CandidateAttributes:
      type: object
      additionalProperties: false
      required:
        - email_address
        - created_at
        - updated_at
        - application_forms
      properties:
        created_at:
          type: string
          format: date-time
          description: Time of candidate creation
          example: 2021-05-20T12:34:00Z
        updated_at:
          type: string
          format: date-time
          description: Time of last change
          example: 2021-05-20T12:34:00Z
        email_address:
          type: string
          description: Candidate email address
          example: email@example.com
        application_forms:
          type: array
          items:
            "$ref": "#/components/schemas/ApplicationForm"
    ApplicationForm:
      type: object
      additionalProperties: false
      required:
        - id
        - created_at
        - application_status
        - application_phase
        - recruitment_cycle_year
        - submitted_at
      properties:
        id:
          type: integer
          description: The unique ID of the candidates application form
          example: 10
        created_at:
          type: string
          format: date-time
          description: The date an application was created
          example: 2021-05-20T12:34:00Z
        updated_at:
          type: string
          format: date-time
          description: Time of last change
          example: 2021-05-20T12:34:00Z
        application_status:
          type: string
          description: The status of the candidates current application form
          enum:
            - never_signed_in
            - unsubmitted_not_started_form
            - unsubmitted_in_progress
            - awaiting_provider_decisions
            - awaiting_candidate_response
            - recruited
            - pending_conditions
            - offer_deferred
            - ended_without_success
            - unknown_state
          example: awaiting_provider_decisions
        application_phase:
          type: string
          description: >
            The phase of the candidates current application. Historically, applications were 
            categorized into "Apply 1" and "Apply 2" phases. With continuous applications, 
            "Apply 2" is now legacy and all new applications are "Apply 1".
          enum:
            - apply_1
            - apply_2
          example: apply_1
        recruitment_cycle_year:
          type: integer
          description: The recruitment cycle that the application form was created in
          example: 2022
        submitted_at:
          type: string
          nullable: true
          format: date-time
          description: Time of last change
          example: 2021-05-20T12:34:00Z
    NotFoundResponse:
      type: object
      additionalProperties: false
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
            - error: NotFound
              message: Unable to find Candidate
    UnauthorizedResponse:
      type: object
      additionalProperties: false
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: Unauthorized
            message: Please provide a valid authentication token
    ParameterMissingResponse:
      type: object
      additionalProperties: false
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterMissing
            message: "param is missing or the value is empty or invalid: updated_since"
    ParameterInvalidResponse:
      type: object
      additionalProperties: false
      required:
      - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: ParameterInvalid
            message: "Parameter is invalid: updated_since"
    PageParameterInvalidResponse:
      type: object
      additionalProperties: false
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: PageParameterInvalid
            message: "expected 'page' parameter to be between 1 and 1, got 2"
    PerPageParameterInvalidResponse:
      type: object
      additionalProperties: false
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          description: Error objects describing the problem
          items:
            "$ref": "#/components/schemas/Error"
          example:
          - error: PerPageParameterInvalid
            message: "the 'per_page' parameter cannot exceed 500 results per page"
    Error:
      type: object
      additionalProperties: false
      additionalProperties: false
      properties:
        error:
          type: string
          description: Name of the current error
          example: Unauthorized
        message:
          type: string
          description: Description of the current error
          example: Please provide a valid authentication token
      required:
      - error
      - message
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
security:
- tokenAuth: []
