<% content_for :browser_title, title_with_error_prefix(@form.provider_user.full_name, @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_provider_user_path(@form.provider_user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @form,
      method: :patch,
      url: provider_interface_provider_user_edit_permissions_path(
        provider_id: @form.provider.id,
        provider_user_id: @form.provider_user.id,
      ),
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'provider_interface/fields_for_permissions', top_level_form: f, permissions_form: @form.permissions_form, provider: @form.provider, provider_user_name: @form.provider_user.full_name %>

      <%= f.govuk_submit 'Save' %>
    <% end %>

  </div>
</div>
