<% content_for :browser_title, 'Users' %>

<h1 class="govuk-heading-xl">Users</h1>

<%= link_to(
  'Invite user',
  provider_interface_edit_invitation_basic_details_path,
  class: 'govuk-button',
) %>

<div class="govuk-body">
<% @provider_users_with_providers.each do |provider_user, providers| %>
  <%= render ProviderInterface::UserListCardComponent.new(
    provider_user: provider_user,
    providers: providers,
  ) %>
<% end %>
</div>
