<% content_for :browser_title, t('page_titles.provider.users') %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.organisation_settings') => provider_interface_organisation_settings_path,
    t('page_titles.provider.users') => nil,
  }) %>
<% end %>

<h1 class="govuk-heading-xl"><%= t('page_titles.provider.users') %></h1>

<%= govuk_link_to 'Invite user', provider_interface_edit_invitation_basic_details_path, button: true %>

<div class="govuk-body">
<% @provider_users_with_providers.each do |provider_user, providers| %>
  <%= render ProviderInterface::UserListCardComponent.new(
    provider_user: provider_user,
    providers: providers,
  ) %>
<% end %>
</div>
