<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Users', provider_interface_provider_users_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @provider_user.full_name %>
      </li>
    </ol>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ProviderInterface::ProviderUserDetailsComponent.new(
      current_provider_user: current_provider_user,
      provider_user: @provider_user,
      provider_permissions: @provider_user.provider_permissions,
      possible_permissions: @possible_permissions,
    ) %>

    <%= govuk_link_to(
      'Delete user',
      provider_interface_provider_user_remove_provider_user_path(@provider_user),
      class: 'govuk-button govuk-button--warning',
    ) %>
  </div>
</div>
