<% content_for :title, title_with_error_prefix(t('page_titles.which_study_mode'), @pick_study_mode.errors.any?) %>
<% if params['return-to'].nil? %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_edit_course_choices_course_path(course_choice_id: @course_choice_id, return_to: params[:return_to])) %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @pick_study_mode,
          url: candidate_interface_edit_course_choices_study_mode_path(
            provider_id: @pick_study_mode.provider_id,
            course_id: @pick_study_mode.course_id,
            course_choice_id: @course_choice_id,
            return_to: @application_review,
          ),
          method: :patch,
        ) do |f| %>
          <%= f.govuk_error_summary %>

          <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
