<% content_for :title, title_with_error_prefix(t('page_titles.work_history_break'), @work_break.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_work_history_show_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_break, url: candidate_interface_edit_work_history_break_path, method: :post do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
