<%= content_for :title, 'Contact us to change your course choice' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_replace_course_choice_path(@course_choice.id), 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= 'Contact us to change your course choice' %></h1>
    <p class="govuk-body">
      You can only edit existing course choices through the service.
    </p>
    <p class="govuk-body">
      If you want to replace your course completely, choose a course on
      <%= govuk_link_to 'Find postgraduate teacher training', 'https://www.find-postgraduate-teacher-training.service.gov.uk' %>
      and email us to let us know at: <%= bat_contact_mail_to %>.
    </p>
  </div>
</div>
