.app-count {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  display: inline-block;
  width: 26px; height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-left: 3px;
}
