.app-count {
  display: inline-block;

  margin-left: 3px;

  // Display as a 28px x 28px circle, which will expand into a wider
  // lozenge shape when there are 3 digits or more.
  min-width: 24px;
  height: 28px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 14px;
  line-height: 28px;
  vertical-align: middle;

  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  font-weight: bold;
  text-align: center;
}
