.app-checkboxes-scroll {
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  height: 75vh;
  min-height: 13.5em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: govuk-spacing(2);
}

.app-checkboxes-scroll::-webkit-scrollbar {
  width: 20px;
}

.app-checkboxes-scroll::-webkit-scrollbar-thumb {
  background-color: govuk-colour("mid-grey");
  border: $govuk-border-width solid govuk-colour("white");
}
