<h3 class='govuk-heading-m' id='<%= schema.anchor %>'>
  The <%= schema.name %> object
</h3>

<div class='app-styled-content'>
  <%= markdown_to_html schema.description %>
</div>

<%= render 'properties_list', properties: schema.properties %>
