<%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
  <% notification_banner.with_heading(text: t('.heading', subject: invite.course.name, provider: invite.provider.name, count: @current_provider_user.providers.count)) %>
  <p class="govuk-body"><%= text %></p>
<% end %>
