<%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
  <% notification_banner.with_heading(text: t('.heading')) %>

  <% rows.each do |year, choices_within_year| %>
    <% if year != RecruitmentCycleTimetable.current_year %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t('provider_interface.find_candidates.previously_submitted_an_application_banner_component.recruitment_cycle_label', from: year - 1, to: year) %>
      </p>
    <% end %>

    <% choices_within_year.each do |row| %>
      <p class="govuk-body">
        <%= row[:text] %>
        <%= render ProviderInterface::ApplicationStatusTagComponent.new(application_choice: row[:application_choice]) %>
      </p>
    <% end %>
  <% end %>
<% end %>
