<% content_for :title, t("gcse_summary.page_titles.#{@subject}") %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl"><%= t("gcse_summary.page_titles.#{@subject}") %></h1>

<%= render(CandidateInterface::GcseQualificationReviewComponent, application_qualification: @application_qualification, subject: @subject) %>

<%= govuk_button_link_to 'Continue', candidate_interface_application_form_path %>
