.tabs-component {
  margin-bottom: 0;

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;

    border-bottom: 1px solid $govuk-border-colour;
  }

  .govuk-link {
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &-navigation {
    &__list {
      padding: 0;

      font-size: 0;

      list-style: none;
    }

    &__item {
      display: inline-block;

      margin-top: 0;
      margin-right: govuk-spacing(4);
      margin-bottom: 0;

      font-size: 1rem;

      line-height: 1.25;
    }

    &__link {
      @include govuk-font(19);
      position: relative;

      display: block;

      padding-top: govuk-spacing(3);
      padding-bottom: govuk-spacing(3);

      font-weight: bold;

      text-decoration: none;

      &:focus {
        padding-bottom: govuk-spacing(2);
      }
    }
  }

  .tabs-component-navigation__link[aria-current]::before {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: govuk-spacing(1);

    content: "";

    background-color: govuk-colour("light-blue");
  }
}
