[aria-sort] button,
[aria-sort] button:hover {
  position: relative;

  padding: 0 10px 0 0;
  margin: 0;

  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;

  color: #005ea5;

  text-align: inherit;

  cursor: pointer;

  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button::before {
  position: absolute;
  top: 9px;
  right: -2px;

  font-size: 0.5em;

  content: " \25bc";
}

[aria-sort] button::after {
  position: absolute;
  top: 1px;
  right: -2px;

  font-size: 0.5em;

  content: " \25b2";
}

[aria-sort="ascending"] button::before,
[aria-sort="descending"] button::before {
  content: none;
}

[aria-sort="ascending"] button::after {
  position: absolute;
  top: 2px;
  right: -2px;

  font-size: 0.7em;

  content: " \25b2";
}

[aria-sort="descending"] button::after {
  position: absolute;
  top: 2px;
  right: -2px;

  font-size: 0.7em;

  content: " \25bc";
}

.sortable-table-status {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
