<% if adviser_sign_up.available? %>
  <section class="govuk-!-margin-bottom-8">
    <div class="govuk-inset-text">
      <%= govuk_link_to(t('application_form.adviser_sign_up.call_to_action'), new_candidate_interface_adviser_sign_up_path) %>
    </div>
  </section>
<% end %>
