<% content_for :title, t('page_titles.application_review', provider_name: @application_choice.provider.name) %>
<% content_for(:before_content, govuk_back_link_to(candidate_interface_application_choices_path)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render CandidateInterface::SponsorshipApplicationDeadlines::ApplicationChoiceBannerComponent.new(application_choice: @application_choice) %>

    <h1 class="govuk-heading-l">
      <%= t('page_titles.application_review', provider_name: @application_choice.current_course.provider.name) %>
    </h1>

    <%= render(CandidateInterface::ApplicationReviewComponent.new(application_choice: @application_choice)) %>

    <%= render(CandidateInterface::ApplicationReviewAndSubmitComponent.new(application_choice: @application_choice)) %>
  </div>
</div>
