<% content_for :title, title_with_error_prefix(t('page_titles.which_location'), @wizard.current_step.errors.any?) %>
<% content_for(:before_content, govuk_back_link_to(@back_link)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @wizard.current_step,
      url: @wizard.current_step_path(
        application_choice_id: params[:application_choice_id],
      ),
      method: :patch,
    ) do |f| %>
      <% render 'form', f: %>
    <% end %>
  </div>
</div>
