<% content_for :title, t('page_titles.application_review', provider_name: @application_choice.provider.name) %>
<% content_for(:before_content, govuk_back_link_to(candidate_interface_continuous_applications_choices_path, 'Back to applications')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.application_review', provider_name: @application_choice.provider.name) %>
    </h1>

    <%= render(SummaryListComponent.new(rows: [
      {
        key: 'Course',
        value: @application_choice.current_course.name_and_code,
      },
      {
        key: 'Study mode',
        value: @application_choice.current_course_option.study_mode.humanize.to_s,
      },
    ])) %>
  </div>
</div>
