<% content_for :title, t('page_titles.work_history') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.work_history') %>
    </h1>

    <%= govuk_link_to candidate_interface_new_work_history_path, button: true, class: 'govuk-button--secondary' do %>
      <%= @application_form.application_work_experiences.any? ? t('application_form.work_history.another.button') : t('application_form.work_history.add.button') %>
    <% end %>
  </div>
</div>

<%= render(CandidateInterface::CompleteSectionComponent.new(
  section_complete_form: @section_complete_form,
  path: candidate_interface_work_history_complete_path,
  request_method: :patch,
  summary_component: CandidateInterface::WorkHistoryReviewComponent.new(application_form: @application_form),
  complete_hint_text: t('application_form.work_history.complete.hint_text')
)) %>
