<%= f.govuk_error_summary %>
<h1 class="govuk-heading-xl">
  <%= t('page_titles.subject_knowledge') %>
</h1>

<p class="govuk-body">If you’re applying for secondary teacher training, describe your knowledge of the subjects you’d like to teach.</p>

<p class="govuk-body">If you’re applying for primary teacher training, say why you’d like to teach this age group.</p>

<p class="govuk-body">If you're applying for a primary course with a subject specialism, or you're particularly interested in certain primary subjects, you can also talk about that.</p>

<p class="govuk-body">You could include details about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>any relevant work experience</li>
  <li>your degree and any other relevant qualifications, such as A levels</li>
  <li>any relevant skills, interests or achievements</li>
  <li>your understanding of the national curriculum</li>
</ul>

<%= f.govuk_text_area :subject_knowledge, label: { text: t('application_form.personal_statement.subject_knowledge.label'), size: 'm' }, rows: 20, max_words: 400 %>
<%= f.govuk_submit t('continue') %>
