<p class="govuk-body">If you’re applying for secondary teacher training, describe your knowledge of the subjects you’d like to teach.</p>

<p class="govuk-body">If you’re applying for primary teacher training, say why you’d like to teach this age group.</p>

<p class="govuk-body">If you’re applying for a primary course with a subject specialism, or you're particularly interested in certain primary subjects, you can also talk about that.</p>

<p class="govuk-body">You could talk about your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>work experience</li>
  <li>degree and degree modules</li>
  <li>qualifications, such as A levels</li>
  <li>skills, interests or achievements</li>
  <li>understanding of the national curriculum</li>
</ul>
