<% heading_text = "Cookies on #{service_name}" %>
<%= govuk_cookie_banner(
  classes: 'govuk-!-display-none-print',
  html_attributes: {
    aria: {
      label: heading_text,
    },
    data: {
      module: 'govuk-cookie-banner',
      qa: 'cookie-banner',
      service: service_name_short,
    },
  },
) do |cookie_banner| %>
  <% cookie_banner.message(
    heading_text: heading_text,
    hidden: true,
    html_attributes: {
      data: {
        module: 'govuk-cookie-banner-choice-message',
        qa: 'cookie-banner-choice-message',
      },
    },
  ) do |message| %>
    <p>We use some essential cookies to make this service work.</p>
    <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
    <% message.action { button_tag('Accept analytics cookies', class: 'govuk-button', data: { 'accept-cookie': 'true' }) } %>
    <% message.action { button_tag('Reject analytics cookies', class: 'govuk-button', data: { 'accept-cookie': 'false' }) } %>
    <% message.action { govuk_link_to('View cookies', namespace_cookies_path, data: { qa: 'cookie-banner__preference-link' }) } %>
  <% end %>

  <%= cookie_banner.message(
    hidden: true,
    html_attributes: {
      data: {
        module: 'govuk-cookie-banner-confirmation-message',
        qa: 'cookie-banner-confirmation-message',
      },
    },
  ) do |message| %>
    <p>You’ve <span id="user-answer"></span> analytics cookies. You can <%= govuk_link_to('change your cookie settings', namespace_cookies_path, data: { qa: 'cookie-banner__preference-link' }) %> at any time.</p>
    <% message.action { button_tag('Hide this message', class: 'govuk-button', data: { 'accept-cookie': 'hide-banner' }) } %>
  <% end %>

  <% cookie_banner.message(
    heading_text: heading_text,
    hidden: false,
    html_attributes: {
      data: {
        module: 'govuk-cookie-banner-fallback-message',
        qa: 'cookie-banner-fallback-message',
      },
    },
  ) do |message| %>
    <p>We use cookies to make this service work and collect analytics information. To accept or reject cookies, turn on JavaScript in your browser settings or reload this page.</p>
  <% end %>
<% end %>
