<div class='moj-filter-layout'>
  <%= render FilterComponent.new(filter: filter) do |component| %>

    <%= content %>

    <%= render(PaginatorComponent.new(scope: collection)) %>
  <% end %>
</div>
