<nav class="app-tab-navigation" aria-label="sub menu" data-qa="sub-navigation">
  <ul class="app-tab-navigation__list govuk-!-display-none-print">
    <% items.each do |item| %>
      <li class="app-tab-navigation__item">
        <% if item.fetch(:current, false) || current_page?(strip_query(item.fetch(:url))) %>
          <%= govuk_link_to item[:name], item[:url], class: 'app-tab-navigation__link', aria: { current: 'page' } %>
        <% else %>
          <%= govuk_link_to item[:name], item[:url], class: 'app-tab-navigation__link' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
