<% content_for :title, title_with_error_prefix(t('page_titles.degree_enic'), @degree_enic_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @degree_enic_form,
      url: candidate_interface_edit_degree_enic_path(@degree_enic_form.degree),
      method: :patch,
    ) do |f| %>
      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
