<%= paginator.render do -%>
  <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
    <ul class="pub-c-pagination__list">
      <%= prev_page_tag unless current_page.first? %>
      <% unless current_page.out_of_range? %>
        <%= next_page_tag unless current_page.last? %>
      <% end %>
    </ul>
  </nav>
<% end -%>
