<% content_for :title, t('page_titles.decisions.withdraw') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_withdrawal_reasons_level_two_reasons_new_path, 'Back', force_text: true) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.decisions.withdraw') %></h1>
      <%= render CandidateInterface::WithdrawalReasons::LevelTwoReasonsReviewComponent.new(
        @level_one_reason, application_choice: @application_choice
      ) %>
  </div>
</div>
