<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <h1 class="govuk-heading-xl">You’ve declined to give a reference</h1>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">We will tell <%= full_name(@application) %> and ask them for a new referee</h2>
    <p class="govuk-body">If you declined in error, please email us at  <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p></div>
</main>
