<% content_for :title, t('page_titles.application') %>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <h1 class="govuk-heading-xl">Give a teacher training reference for <%= @application.full_name %></h1>
</main>
