<% content_for :title, t('page_titles.give_a_reference.finish') %>

<h1 class="govuk-heading-xl">Thank you</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Our user research team will contact you shortly</h2>
    <p class="govuk-body">If you have any questions about the Apply for teacher training service, please contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p></div>
  </div>
</div>
