<% content_for :title, t('page_titles.give_a_reference.finish') %>

<h1 class="govuk-heading-xl">Thank you</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @reference.consent_to_be_contacted? %>
      <h2 class="govuk-heading-m">Our user research team will contact you shortly</h2>
    <% end %>

    <p class="govuk-body">If you have any questions about the Apply for teacher training service, please contact <%= bat_contact_mail_to %>.</p>
  </div>
</div>
