.possible-previous-teacher-training-card {
  background-color: govuk-colour("light-grey");

  .govuk-summary-card__title {
    font-weight: 400;
  }

  .govuk-summary-card__content {
    background-color: govuk-colour("white");
  }
}
