@use "../base/govuk";

.recruitment-performance-report-table {
  &__wrapper {
    margin-bottom: govuk.govuk-spacing(4);

    overflow-x: auto;
  }

  &__heading {
    padding-left: govuk.govuk-spacing(2);

    text-align: center;

    border-bottom: none;
    border-left: 1px solid govuk.$govuk-border-colour;
  }

  &__heading--no-border {
    border-bottom: none;
    border-left: none;
  }

  &__subheading {
    border-top: none;
    border-bottom: govuk.$govuk-border-width-narrow solid govuk.$govuk-border-colour;
  }

  &__subheading--border-left {
    padding-left: govuk.govuk-spacing(2);

    border-left: 1px solid govuk.$govuk-border-colour;
  }

  &__cell--secondary-subject {
    padding-left: govuk.govuk-spacing(2);

    font-weight: govuk.$govuk-font-weight-regular;
  }

  &__cell--summary {
    padding-top: govuk.govuk-spacing(2);

    font-weight: govuk.$govuk-font-weight-bold;

    border-top: govuk.$govuk-border-width-narrow solid govuk.$govuk-border-colour;
    border-bottom: none;
  }

  &__cell--border-left {
    padding-left: govuk.govuk-spacing(2);

    border-left: 1px solid govuk.$govuk-border-colour;
  }
}
