  <div class="govuk-grid-column-third">
    <p class="govuk-body-s"><%= govuk_link_to 'View application', candidate_interface_application_review_submitted_path %></p>
    <p class="govuk-body-s"><%= govuk_link_to 'Withdraw from the course', candidate_interface_withdraw_path(@application_choice_with_offer) %></p>
  </div>
