<% content_for :title, title_with_error_prefix(t('page_titles.references_name'), @reference_name_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@edit_backlink) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference_name_form,
      url: candidate_interface_references_edit_name_path(@reference.id, return_to: params[:return_to]),
      method: :patch,
    ) do |f| %>
      <%= render 'shared_form', f: f %>
    <% end %>
  </div>
</div>
