<%= content_for :title, title_with_error_prefix(t('page_titles.references_name'), @wizard.current_step.errors.any?) %>
<%= content_for(:before_content, govuk_back_link_to(@wizard.current_step.previous_step)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @wizard.current_step,
      url: candidate_interface_references_name_path(
        @reference_process,
        params[:referee_type],
        params[:id],
        application_id: @application_choice&.id,
      ),
      method: :patch,
    ) do |f| %>
      <%= render 'shared_form', f: f %>
    <% end %>
  </div>
</div>
