<% content_for :before_content, govuk_back_link_to(previous_page, 'Back') %>
<% content_for :browser_title, title_with_error_prefix('Check permissions before you invite user', @wizard.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_commit_invitation_path do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-xl">Invite user</span>
      <h1 class="govuk-heading-xl">Check permissions before you invite user</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive"></span>
          We’ll email the user to help them set up their account.
        </strong>
      </div>

      <%= f.govuk_submit 'Invite user' %>
    <% end %>
  </div>
</div>
