<% content_for :before_content, govuk_back_link_to(previous_page, 'Back') %>
<% content_for :browser_title, title_with_error_prefix('Check permissions before you invite user', @wizard.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_commit_invitation_path do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-xl">Invite user</span>
      <h1 class="govuk-heading-xl">Check permissions before you invite user</h1>

      <%= render ProviderInterface::ProviderUserInvitationDetailsComponent.new(wizard: @wizard) %>

      <p class="govuk-body">We’ll send the user an email guiding them through DfE Sign-In and giving them access to their account.</p>

      <%= f.govuk_submit 'Invite user' %>
    <% end %>
  </div>
</div>
