<% content_for :before_content, govuk_back_link_to(previous_page, 'Back') %>
<% content_for :browser_title, title_with_error_prefix('Providers', @wizard.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_update_invitation_provider_permissions_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'provider_interface/fields_for_permissions', top_level_form: f, permissions_form: @wizard.permissions_form, provider: @provider, provider_user_name: "#{@wizard.first_name} #{@wizard.last_name}" %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
