<% content_for :title, t('page_titles.decisions.accept_offer') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_offer_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.decisions.accept_offer') %>
    </h1>

    <%= render(CandidateInterface::OfferReviewComponent.new(course_choice: @application_choice)) %>

    <% if single_application_choice? %>
      <p class="govuk-body">By accepting this offer you confirm that you have not accepted any other offers of teacher training places (for example through UCAS Teacher Training).</p>
    <% else %>
      <p class="govuk-body">By accepting this offer, you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you understand any other applications made through Apply for teacher training will be automatically withdrawn</li>
        <li>you have not accepted any other offers of teacher training places (for example through UCAS Teacher Training)</li>
      </ul>
    <% end %>

    <%= form_with model: @respond_to_offer, url: candidate_interface_accept_offer_path(@application_choice) do |f| %>
      <%= f.govuk_submit t('decisions.accept_offer.confirm') %>
    <% end %>
  </div>
</div>
