<% content_for :title, t('page_titles.withdraw_course_choice') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path, 'Back to application dashboard') %>

<h1 class="govuk-heading-xl govuk-heading-xl">
  <%= t('page_titles.withdraw_course_choice') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You can withdraw your application to study:</p>
    <p class="govuk-body"><strong><%= @course_choice.course.name_and_code %> at <%= @course_choice.provider.name %></strong></p>
    <p class="govuk-body">by emailing us at <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %>.</p>
    <p class="govuk-body">We’ll contact your training provider and send you an email confirming that your application has been withdrawn.</p>
  </div>
</div>
