<% content_for :title, t('page_titles.decisions.withdraw') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.decisions.withdraw') %>
    </h1>

    <%= render(SummaryListComponent.new(rows: course_choice_rows)) %>

    <% if single_application_choice? %>
      <p class="govuk-body">If you withdraw this course choice you can still apply for more courses this year.</p>
    <% else %>
      <p class="govuk-body">If you withdraw this course choice (and all your other course choices) you can still apply for more courses this year.</p>
    <% end %>

    <%= govuk_button_to t('decisions.withdraw.confirm'), candidate_interface_withdraw_path, class: 'govuk-button--warning' %>
  </div>
</div>
