<% content_for :title, t('page_titles.decisions.withdraw') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, back_link_text, force_text: true) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.decisions.withdraw') %>
    </h1>

    <%= render(SummaryListComponent.new(rows: course_choice_rows)) %>

    <p class="govuk-body">Any upcoming interviews will be cancelled.</p>

    <%= govuk_button_to t('decisions.withdraw.confirm'), candidate_interface_withdraw_path, warning: true %>
  </div>
</div>
