<% content_for :title, title_with_error_prefix(@page_title, @degree_grade_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degree_completion_status_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree_grade_form, url: candidate_interface_degree_grade_path(@degree_grade_form.degree) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render 'form_fields', f: f, degree: @degree_grade_form.degree %>
    <% end %>
  </div>
</div>
