<% content_for :browser_title, "#{title} - Providers" %>
<% content_for :title, 'Providers' %>

<%= render SupportInterface::ProvidersNavigationComponent.new %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
