<% content_for :title, @provider.name_and_code %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Providers: support_interface_providers_path(onboarding_stages: %w[synced dsa_signed]),
    @provider.name => support_interface_provider_path(@provider),
  }.merge(title == 'Details' ? {} : { title => nil })) %>
<% end %>

<%= render 'lacks_admin_users_warning' %>

<%= render 'support_interface/provider_navigation_tabs' %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
