<% content_for :title, @provider.name_and_code %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Providers: support_interface_providers_path(onboarding_stages: %w[synced dsa_signed]),
    @provider.name => support_interface_provider_path(@provider),
  }.merge(title != 'Details' ? { title => nil } : {})) %>
<% end %>

<%= render 'lacks_admin_users_warning' %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_provider_path },
  { name: 'Applications', url: support_interface_provider_applications_path },
  { name: 'Users', url: support_interface_provider_user_list_path },
  { name: 'Courses', url: support_interface_provider_courses_path },
  { name: 'Relationships', url: support_interface_provider_relationships_path },
  { name: 'Ratified courses', url: support_interface_provider_ratified_courses_path },
  { name: 'Vacancies', url: support_interface_provider_vacancies_path },
  { name: 'Sites', url: support_interface_provider_sites_path },
  { name: 'History', url: support_interface_provider_history_path },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
