<% content_for :browser_title, title_with_error_prefix('Check permissions', @wizard.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(previous_page) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <span class="govuk-caption-xl">Set up permissions</span>
    <h1 class="govuk-heading-xl">Check permissions</h1>
    <% @permissions_models.each do |permissions_model| %>
      <% if permissions_model.training_provider.name != @current_training_provider_name %>
      <h2 class="govuk-heading-m">
        <%= permissions_model.training_provider.name %>
      </h2>
      <% end %>
      <% @current_training_provider_name = permissions_model.training_provider.name -%>
      <%= render ProviderInterface::ProviderRelationshipPermissionsListComponent.new(
        permissions_model: permissions_model,
        change_link_builder: ProviderInterface::ProviderRelationshipWizardChangeLinkBuilder,
      ) %>
    <% end %>

    <%= form_with model: @wizard, url: provider_interface_commit_provider_relationship_permissions_path do |f| %>
      <button class="govuk-button" data-module="govuk-button">
        Save permissions
      </button>
    <% end %>
  </div>
</div>
