<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Set organisational permissions
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <p>You belong to<% if @grouped_provider_names_from_relationships.keys.size > 1 %> the following organisations<% end %>:</p>
    <ul class="govuk-list govuk-list--bullet">
      <% @grouped_provider_names_from_relationships.each do |training_provider_name, _| %>
        <li><%= training_provider_name %></li>
      <% end %>
    </ul>

    <% @grouped_provider_names_from_relationships.each do |training_provider_name, ratifying_provider_names| %>
      <p>Your courses for <%= training_provider_name %> are ratified by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <% ratifying_provider_names.each do |ratifying_provider_name| %>
          <li><%= ratifying_provider_name %></li>
        <% end %>
      </ul>
    <% end %>

    <p>Organisational permissions let you choose whether your organisation, your partners, or both can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make decisions about applications</li>
      <li>access sensitive candidate information</li>
    </ul>
    <p>Your partner organisations will always be able to view applications for courses they ratify even if they’re given no other permissions.</p>
    <p>Once you have set these permissions, they’ll be reflected in the permissions you can give to users within your own organisations.</p>

    <%= govuk_link_to t('continue'), provider_interface_setup_provider_relationship_permissions_path(@permissions_model), class: 'govuk-button' %>
  </div>
</div>
