<% content_for :title, t('unsubscribe_from_emails.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m"><%=  t('unsubscribe_from_emails.heading')%></h1>
  </div>
</div>
