<p class="govuk-body">We’ll submit your application to your training provider once we receive <%= ApplicationForm::MINIMUM_COMPLETE_REFERENCES %> references for you. Choose referees who’ll endorse your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>teaching passion and potential</li>
  <li>suitability to work with children</li>
  <li>academic abilities</li>
  <li>reliability and professionalism</li>
</ul>
<p class="govuk-body">Suitable referees include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your current line manager at work</li>
  <li>previous employers</li>
  <li>a teacher at a school where you work or volunteer</li>
  <li>your university tutor or supervisor</li>
  <li>a supplier or client you’ve worked with (if you’re self-employed)</li>
</ul>

<p class="govuk-body">Referees should not be family members, partners or friends. Training providers will only accept character references if there's also an academic or professional reference. </p>
<p class="govuk-body">If you're not sure if your referees are suitable, contact your provider to discuss this.</p>
<div class="govuk-warning-text govuk-!-margin-bottom-4">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    We won’t contact your referees until you submit your application
  </strong>
</div>

<p class="govuk-body">If your referees don’t respond, we’ll get back in touch with you to ask for a replacement.</p>

<p class="govuk-body">
  <%= govuk_button_link_to 'Continue', candidate_interface_new_referee_path %>
</p>
