<p class="govuk-body">We’ll submit your application to your training provider once we receive <%= ApplicationForm::MINIMUM_COMPLETE_REFERENCES %> references for you. These need to be from different people. Choose referees who can endorse your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>teaching passion and potential</li>
  <li>suitability to work with children</li>
  <li>academic abilities</li>
  <li>reliability and professionalism</li>
</ul>

<p class="govuk-body">
  <%= govuk_button_link_to 'Continue', candidate_interface_new_referee_path %>
</p>
