<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_notes_path(@application_choice)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-notes__note">
      <p class="govuk-body">
        <% if @note.subject %>
          Subject: <%= @note.subject %>
          <br>
          <br>
        <% end %>
        <%= @note.message %>
      </p>
      <p class="meta">
        <%= "#{@note.provider_user.full_name}," if @note.provider_user.full_name.present? %>
        <%= @note.created_at.to_s(:govuk_date_and_time) %>
      </p>
    </div>
  </div>
</div>
