<% content_for :title, title_with_error_prefix(t('gcse_edit_institution_country.page_title', subject: @subject.capitalize), @institution_country.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_gcse_details_new_type_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @institution_country, url: candidate_interface_gcse_details_new_institution_country_path, method: :patch do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
