<% content_for :title, page_title(:other_qualification) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.other_qualification') %>
</h1>

<%= render(OtherQualificationsReviewComponent, application_form: @application_form) %>
