$govuk-images-path: '/assets/';
$govuk-fonts-path: '/assets/';
$govuk-font-url-function: 'font-url';
$govuk-image-url-function: 'image-url';
$govuk-global-styles: true;

@import 'govuk-frontend/all';
