<% content_for :title, @course.name_and_code %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    Providers: support_interface_providers_path,
    @course.provider.name => support_interface_provider_path(@course.provider),
    Courses: support_interface_provider_courses_path(@course.provider),
    @course.name => support_interface_course_path(@course),
  }.merge(title != 'Details' ? { title => nil } : {})) %>
<% end %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_course_path(@course) },
  { name: 'Applications', url: support_interface_course_applications_path(@course) },
  { name: 'Vacancies', url: support_interface_course_vacancies_path(@course) },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
