<%= f.govuk_error_summary %>
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
    <h1 class="govuk-fieldset__heading">
      You need <%= grade_explanation_subject_title(@subject) %> GCSE at grade 4 (C) or above, or equivalent
    </h1>
  </legend>
  <p class="govuk-body">You can still apply for teacher training if you do not have this. However, it will need to be in place by the start of your course.</p>
  <p class="govuk-body">For advice, contact your chosen training provider or <a href="https://getintoteaching.education.gov.uk/">Get Into Teaching</a>.</p>
  <%= f.govuk_text_area(
    :missing_explanation,
    label: { text: 'If you are working towards this qualification at grade 4 (C) or above, give us details (optional)', size: 'm' },
    rows: 6,
    max_words: 200,
  ) do %>
  <% end %>
</fieldset>

<%= f.govuk_submit t('save_and_continue') %>
