<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :title, title_with_error_prefix(t('page_titles.degree_subject'), @form.errors.any?) %>
    <% content_for :before_content, govuk_back_link_to(@form.back_link) %>

    <%= form_with model: @form, url: candidate_interface_degree_subject_path, scope: :candidate_interface_degree_form do |f| %>
      <%= f.govuk_error_summary %>
      <%= render DfE::Autocomplete::View.new(
        f,
        attribute_name: :subject,
        form_field: f.govuk_select(
          :subject,
          options_for_select(dfe_autocomplete_options(@form.subjects), f.object.subject),
          aria: { label: 'candidate-interface-degree-form-subject-field-select' },
          label: { text: t('application_form.degree.subject.label'), tag: 'h1', size: 'l' },
          hint: { text: t('application_form.degree.subject.hint') },
        ),
      ) %>
      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
