<% content_for :title, title_with_error_prefix(t('page_titles.which_study_mode'), @wizard.current_step.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@wizard.previous_step_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @wizard.current_step,
          url: @wizard.current_step_path(provider_id: params[:provider_id], course_id: params[:course_id]),
        ) do |f| %>
        <%= render 'form_fields', f: %>
    <% end %>
  </div>
</div>
