<% content_for :browser_title, title_with_error_prefix(t('.title'), @location_preference_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_draft_preference_location_preferences_path(@preference)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
      'form',
      location_preference_form: @location_preference_form,
      url: candidate_interface_draft_preference_location_preference_path(@preference),
      method: :patch,
      title: t('.title'),
      submit_text: t('.submit_text'),
    ) %>
  </div>
</div>
