<h1>Change location preferences</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= current_candidate.id %></h1>
    <%= render(
      'form',
      location_preference: @location_preference,
      preference: @preference,
      url: candidate_interface_preference_location_preference_path(@preference),
      method: :put,
    ) %>
  </div>
</div>
