<% content_for :title, t('.title') %>
<%# govuk_back_link(href: provider_interface_candidate_pool_root_path(@candidate)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= current_candidate.id %></h1>
    <%= render(
      'form',
      location_preference: @location_preference,
      preference: @preference,
      url: candidate_interface_preference_location_preferences_path(@preference),
      method: :post,
    ) %>
  </div>
</div>
