<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">See this application choice as it appears over the API</span>
  </summary>
  <div class="govuk-details__text">
    <%= json_code_sample(application_json) %>
  </div>
</details>
