<% if application_forms.any? %>
  <% application_forms.each do |application_form| %>
    <%= render SupportInterface::ApplicationCardComponent.new(application_form: application_form, heading_level: @row_heading_level) %>
  <% end %>
<% else %>
  <p class="govuk-body">No applications found</p>
<% end %>
