<div class="govuk-summary-list__row govuk-!-margin-bottom-0">
  <dt class="govuk-summary-list__key" style="<%= style %>">
    <%= attribute %>
  </dt>
  <dd class="govuk-summary-list__value" style="<%= style %>">
    <%= format_audit_values %>
  </dd>
</div>
