<ul class="govuk-list">
  <% conditions.each do |condition| %>
    <li><%= condition.text %></li>
  <% end %>

  <div class="govuk-!-margin-top-2">
    <% if render_ske? %>
      <%= render(SummaryCardComponent.new(rows: ske_rows)) do %>
        <%= render(SummaryCardHeaderComponent.new(
          title: 'Subject knowledge enhancement course',
          heading_level: :h2,
        )) %>
    <% end %>
  <% end %>
  </div>
</ul>
