
<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="contact-information">Contact information</h2>
<div data-qa="contact-information">
  <%= render SummaryListComponent.new(rows: rows) %>
</div>
