<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= email.created_at.to_fs(:govuk_date_and_time) %>
  </td>
  <td class="govuk-table__cell govuk-!-padding-top-0">
    <%= render SummaryListComponent.new(rows: summary_list_rows) %>

    <%= govuk_details(summary_text: 'Email body') do %>
      <div class="app-details pre">
      <%= tag.pre(email.body) %>
      </div>
    <% end %>
  </td>
</tr>
