<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= email.created_at.to_s(:govuk_date_and_time) %>
  </td>
  <td class="govuk-table__cell">
    <%= render SummaryListComponent.new(rows: summary_list_rows) %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Email body
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= tag.pre(email.body) %>
      </div>
    </details>
  </td>
</tr>
