<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= email.created_at.to_s(:govuk_date_and_time) %>
  </td>
  <td class="govuk-table__cell govuk-!-padding-top-0">
    <%= render SummaryListComponent.new(rows: summary_list_rows) %>

    <%= govuk_details(
      summary: 'Email body',
    ) do %>
      <%= tag.pre(email.body, class: 'app-json-code-sample') %>
    <% end %>
  </td>
</tr>
