<section class="interview app-summary-card govuk-!-margin-top-3">
  <header class="app-summary-card__header">
    <span class="date-and-time">
      <%= interview.date_and_time.to_fs(:govuk_date_and_time) %>
    </span>
    <span class="interview-status">
      Status: <strong><%= interview_status %></strong>
    </span>
  </header>
  <div class="app-summary-card__body">
    <%= render SummaryListComponent.new(rows: rows) %>
  </div>
</section>
