<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="personal-details">Personal details</h2>
<div data-qa="personal-details">
  <%= render SummaryListComponent.new(rows: rows) %>
</div>
