<%= form_with model: @provider, url: toggle_path, method: :post do |f| %>
  <h3 class="govuk-heading-m">
    Course syncing
  </h3>

  <p class="govuk-body"><%= status_label %></p>

  <%= f.govuk_submit button_label %>
<% end %>
