<table class="govuk-table">
  <tbody class="govuk-table__body">
    <% sub_reasons.each do |sub_reason, sub_reason_result| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
            <%= sub_reason_label(sub_reason) %>
            <%= sub_reason_percentage(sub_reason) %>
          </h2>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">
          <%= sub_reason_result&.all_time || 0 %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">
          <%= sub_reason_result&.this_month || 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
