<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::AdditionalRefereesStartComponent, application_form: @current_application %>
  </div>
</div>
