<% content_for :title, page_title('contact_details') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= heading_for_gcse_show(@subject) %></h1>

    <%= render(ReviewGcseQualificationComponent, application_qualification: @application_qualification) %>
  </div>
</div>
