<% content_for :browser_title, t('.title') %>
<% content_for :before_content, govuk_back_link_to(@previous_page_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t('.caption') %></span>
    <h1 class="govuk-heading-l"><%= t('.title') %></h1>
    <% @grouped_relationships_by_name.each do |main_provider_name, relationship_list| %>
      <% if @grouped_relationships_by_name.length > 1 %>
        <h2 class="govuk-heading-m"><%= main_provider_name %></h2>
      <% end %>
      <% relationship_list.each do |relationship| %>
        <%= render ProviderInterface::OrganisationPermissionsReviewCardComponent.new(
          provider_user: current_provider_user,
          provider_relationship_permission: relationship,
          change_path: edit_provider_interface_organisation_permissions_setup_path(relationship, checking_answers: true),
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
