<% content_for :browser_title, t('.title') %>
<% content_for :before_content, govuk_back_link_to(@previous_page_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t('.caption') %></span>
    <h1 class="govuk-heading-l"><%= t('.title') %></h1>
    <% @relationships.each do |relationship| %>
      <%= render ProviderInterface::OrganisationPermissionsReviewCardComponent.new(
        provider_user: current_provider_user,
        provider_relationship_permission: relationship,
        change_path: edit_provider_interface_organisation_permissions_setup_path(relationship, checking_answers: true),
      ) %>
    <% end %>
  </div>
</div>
