@use "../base/govuk";

.itt-status-totals {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(2);

  &__count-header {
    color: govuk.govuk-colour("blue");
  }

  &__count-data {
    margin-left: 0;
  }

  &--grey {
    background-color: $app-grey;
  }
}
