@use "../base/govuk";

.itt-report-tabs.govuk-tabs {
  padding: govuk.govuk-spacing(2);

  background-color: govuk.govuk-colour("light-grey");

  .govuk-tabs {
    &__list {
      display: flex;

      flex-wrap: wrap;

      border-bottom: govuk.govuk-spacing(0);
    }

    &__panel {
      border: govuk.govuk-spacing(0);
    }

    &__tab {
      padding-bottom: 2px;

      color: $govuk-link-colour;

      text-decoration: underline;

      cursor: pointer;
    }

    &__list-item {
      padding: govuk.govuk-spacing(2);
      margin-right: 0;

      text-align: left;

      background-color: transparent;
      border: govuk.govuk-spacing(0);
    }

    // This is a hack to prevent the text from changing the size of the element when it becomes bold.
    // Make the ::before element take up the same amount of space the element would if it were bold.
    &__list-item a::before {
      display: block;
      visibility: hidden;

      height: 0;

      overflow: hidden;

      font-weight: bold;

      content: attr(title);
    }
    // end hack

    &__list-item--selected {
      margin-top: govuk.govuk-spacing(0);

      font-weight: $govuk-font-weight-bold;
    }

    &__list-item--selected a {
      text-decoration: none;
    }
  }

  .govuk-table {
    font-size: 1rem;
  }

  .govuk-table__body {
    th[scope="row"] {
      font-weight: $govuk-font-weight-regular;
    }
  }
}
