@use "../base/govuk";

.govuk-grid-row:has(.itt-grid) {
  margin-right: 0;
}

.itt-grid {
  display: grid;

  grid-template-columns: repeat(1, 1fr);

  gap: govuk.govuk-spacing(3) govuk.govuk-spacing(4);
}

@include govuk-media-query($from: tablet) {
  .itt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
