<% content_for :browser_title, 'New API token generated' %>

<%= govuk_panel(
  title: 'New API token generated',
  body: "Your token is<br><code>#{@unhashed_token}</code>".html_safe,
) %>

<p class="govuk-body">
  <%= govuk_link_to 'Return to list of API tokens', support_interface_api_tokens_path %>
</p>
