<h1 class="govuk-heading-l"><%= t('.title') %></h1>
<p class="govuk-body"><%= t('.candidate_information_agreement') %></p>
<p class="govuk-body"><%= t('.review_candidates') %></p>

<%= render ProviderInterface::FindCandidates::TabNavigationComponent.new(selected_tab) %>
