<% content_for :title, t('page_titles.find_a_course') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_choose_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.find_a_course') %>
    </h1>

    <p class="govuk-body-l">Search for courses near you on Find postgraduate teacher&nbsp;training.</p>

    <%= govuk_start_now_button(
      text: t('application_form.begin_button'),
      href: 'https://www.find-postgraduate-teacher-training.service.gov.uk',
      classes: 'govuk-!-margin-bottom-2',
      html_attributes: {
        target: '_blank',
        rel: 'noopener',
        'aria-describedby': 'find-new-window',
      },
    ) %>

    <p class="govuk-body-s govuk-!-margin-bottom-6" id="find-new-window" aria-hidden="true">Opens in a new window</p>
    <p class="govuk-body"><%= govuk_link_to 'Return to your application', candidate_interface_application_form_path %></p>
  </div>
</div>
