<h2 class="govuk-heading-l" id="important">Version 1.7 changes</h2>

<p class="govuk-heading-s">Add the previous teacher training</p>

<p class="govuk-body">
  The <%= govuk_link_to 'PreviousTeacherTraining', 'reference#previousteachertraining-object' %> object has been added to the <%= govuk_link_to 'ApplicationAttributes', '#applicationattributes-object' %> object.
  <br>
  <br>
  This reflects the introduction of the Previous Teacher Training section on Apply.
  <br>
  <br>
