<h2 class="govuk-heading-l" id="important">Version 1.8 changes</h2>

<p class="govuk-heading-s">New attributes added to the candidate object for viewing the candidates intention of taking an English as a foreign language assessment if they don't have one</p>

<p class="govuk-body">
  A new attribute, <code>will_obtain_english_language_qualifications</code>, has been added to the candidate object.
</p>
<p class="govuk-body">
  A new attribute, <code>obtaining_english_language_qualification_details</code>, has been added to the candidate object.
</p>

<p class="govuk-body">
  If a candidate does not have an English language qualification, they can state their intention of gaining one or not. If they do intend to gain this qualification they can add further details about their plans
  If a candidate intends to gain this qualification the <code>will_obtain_english_language_qualifications</code> attribute will be true and <code>obtaining_english_language_qualification_details</code> will contain more details about their intention.
</p>
<p class="govuk-body">
  If a candidate intends to gain this qualification the <code>will_obtain_english_language_qualifications</code> attribute will be <code>true</code> and <code>obtaining_english_language_qualification_details</code> will contain more details about their intention.
</p>

<p class="govuk-body">
  If a candidate does not have an English language qualification and they don't intend to gain one the attribute <code>will_obtain_english_language_qualifications</code> will be <code>false</code> and <code>obtaining_english_language_qualification_details</code> will be <code>nil</code>.
</p>
<p class=">govuk-body">
  If a candidate has an English language qualifications both attributes will be <code>nil</code>.
</p>
