<h2 class="govuk-heading-l" id="important">Version 1.7 changes</h2>

<p class="govuk-heading-s">New attribute added to the application object for viewing data on possible undeclared previous ITT</p>

<p class="govuk-body">
  A new attribute, <code>possible_undeclared_previous_teacher_training_url</code>, has been added to the application object.
</p>
<p class="govuk-body">
  If we have identified possible undeclared previous teacher training, this attribute provides a URL that can be used to view possible undeclared previous teacher training details associated with an application.
  If no undeclared previous training experiences have been found, the value of the attribute will be null.
</p>
<p class=">govuk-body">
  This is speculative data based on the comparison of records with some matching attributes. More information on how to use this information and providers’ duties with regard to it is provided at the link destination.
</p>
