<h2 class="govuk-heading-l" id="important">Version 1.6 changes</h2>

<p class="govuk-heading-s">Add the confidentiality status, selected by the referee for the reference</p>

<p class="govuk-body">
  The following field has been added to the <%= govuk_link_to 'reference', '#reference-object' %> object:

<ul class="govuk-list govuk-list--bullet">
  <li><code>confidential</code> (boolean, required)</li>
</ul>
