<h2 class="govuk-heading-l" id="important">Version 1.2 changes</h2>

<p class="govuk-heading-s">Reject applications by codes</p>
<p class="govuk-body">
  We now support <%= govuk_link_to 'rejecting applications by codes', '#post-applications-application_id-reject-by-codes' %>.
  Reference data for valid reason codes can be requested via the <%= govuk_link_to 'rejection-reason-codes', '#get-reference-data-rejection-reason-codes' %> endpoint.
</p>

<p class="govuk-body">Please refer to the <%= govuk_link_to 'Application lifecycle', api_docs_lifecycle_path %> for details of application state transitions.</p>
