<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.candidate_complaints') %></h1>

    <p class="govuk-body">You can email us at <%= bat_contact_mail_to %> to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make a complaint</li>
      <li>give feedback</li>
      <li>get help with a technical problem</li>
      <li>let us know if a teacher training provider has treated you unfairly - for example, you’ve experienced discrimination or bias</li>
    </ul>

    <p class="govuk-body">We’ll respond within 5 to 7 working days, or one working day if a technical problem prevents you from progressing your application.</p>

    <h2 class="govuk-heading-m">If you need advice about your teacher training application</h2>

    <p class="govuk-body"><%= govuk_link_to 'Call us or chat online', t('get_into_teaching.url_online_chat') %> instead.</p>

    <h2 class="govuk-heading-m">If you let us know about discrimination, bias or unfairness</h2>

    <p class="govuk-body">We’ll email you with some advice about where to get support.</p>

    <p class="govuk-body">We cannot investigate individual cases about teacher training providers. However, sharing your experience helps us ensure that applying for teacher training is accessible and fair for everyone.</p>

    <p class="govuk-body">Your personal details and experience will not be shared with teacher training providers.</p>

    <p class="govuk-body">If your experience relates to the Department for Education (DfE), for example it concerns a member of DfE staff or the application form itself, we’ll respond within 5 to 7 working days.</p>

  </div>
</div>
