<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.candidate_complaints') %></h1>

    <p class="govuk-body">You can email us at <%= bat_contact_mail_to %> to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make a complaint</li>
      <li>give feedback</li>
      <li>get help with a technical problem</li>
      <li>let us know if you’ve been treated unfairly - for example, you’ve experienced discrimination or bias from a teacher training provider</li>
    </ul>

    <p class="govuk-body">We’ll respond within 5 to 7 working days, or one working day if a technical problem prevents you from progressing your application.</p>

    <h2 class="govuk-heading-m">If you let us know about discrimination, bias or unfairness</h2>

    <p class="govuk-body">We’ll ask you whether you’d like us to share your experience with the teacher training provider, so that we can ask the provider to take action.</p>

    <p class="govuk-body">The Department for Education cannot take legal action but we can help you find support services if you want to take further action.</p>
    
    <h2 class="govuk-heading-m">If you need advice about your teacher training application</h2>

    <p class="govuk-body"><%= govuk_link_to 'Call us or chat online', t('get_into_teaching.url_online_chat') %> instead.</p>

  </div>
</div>
