<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.candidate_complaints') %></h1>

    <p class="govuk-body">Contact us at <%= bat_contact_mail_to %> to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make a complaint</li>
      <li>give feedback</li>
      <li>get help with a technical problem</li>
    </ul>

    <p class="govuk-body">We will respond within 5 to 7 working days, or one working day if a technical problem prevents you from progressing your application.</p>

    <h2 class="govuk-heading-m">What to do if a teacher training provider has treated you unfairly</h2>

    <p class="govuk-body">If you’ve been treated unfairly - for example, you’ve experienced discrimination or bias - you can raise your concern with the teacher training provider. They should have an established complaints procedure.</p>

    <p class="govuk-body">You can also visit the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality and Advisory Support Service</a> to find out if they can help.</p>

  </div>
</div>
