name: Deploy
concurrency: build_and_deploy_${{ github.ref_name }} # ensures that the job waits for any deployments triggered by the build workflow to finish

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        type: choice
        options:
        - qa
        - staging
        - production
        - sandbox
      sha:
        description: Commit sha to be deployed
        required: true

jobs:
  deploy:
    name: ${{ github.event.inputs.environment }} deployment
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
      url: ${{ steps.deploy_app.outputs.deploy-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deploy App to ${{ github.event.inputs.environment }}
        id: deploy_app
        uses: ./.github/actions/deploy/
        with:
          arm-access-key: ${{ secrets.ARM_ACCESS_KEY }}
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ github.event.inputs.environment }}
          sha: ${{ github.event.inputs.sha }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
