name: Deploy v2
concurrency: build_and_deploy_v2_${{ github.ref_name }} # ensures that the job waits for any deployments triggered by the build workflow to finish

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        type: choice
        default: qa
        options:
        - qa
        - staging
        - sandbox
        - production
      sha:
        description: Commit sha to be deployed
        required: true

jobs:
  deploy:
    name: ${{ github.event.inputs.environment }} deployment
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
      url: ${{ steps.deploy_app_v2.outputs.deploy-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy App to ${{ github.event.inputs.environment }}
        id: deploy_app_v2
        uses: ./.github/actions/deploy_v2/
        with:
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ github.event.inputs.environment }}
          sha: ${{ github.event.inputs.sha }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
