<div class="app-cookie-banner" data-module="cookie-message">
  <p class="app-cookie-banner__message">GOV.UK uses cookies to make the site simpler. <%= govuk_link_to 'Find out more about cookies', (current_namespace == 'candidate_interface' ? candidate_interface_cookies_path : provider_interface_cookies_path) %></p>
</div>
