<footer class="govuk-footer govuk-footer--app" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <% case current_namespace %>
        <% when 'candidate_interface' %>
          <%= render 'layouts/footer_meta_candidate' %>
        <% when 'provider_interface' %>
          <%= render 'layouts/footer_meta_provider' %>
        <% end %>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
