<div class="govuk-phase-banner app-!-print-display-none">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag app-environment-tag app-environment-tag--<%= HostingEnvironment.environment_name %>">
    <%= HostingEnvironment.phase %>
  </strong>
  <span class="govuk-phase-banner__text">
    <%= HostingEnvironment.phase_banner_text %>
  </span>
  </p>
</div>
