<% if current_provider_user %>
  <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item">
      <b><%= current_provider_user.email_address %></b>
    </li>

    <li class="govuk-header__navigation-item">
      <%= link_to 'Sign out', provider_interface_sign_out_path, method: 'delete', class: 'govuk-header__link' %>
    </li>
  </ul>
<% end %>
