<% content_for :content do %>
  <% if yield(:title).present? %>
    <h1 class='govuk-heading-xl'><%= yield :title %></h1>
  <% end %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>
