<% content_for :content do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if yield(:context).present? %>
        <span class="govuk-caption-xl"><%= yield :context %></span>
      <% end %>

      <% if yield(:title).present? %>
        <h1 class='govuk-heading-xl'><%= yield :title %></h1>
      <% end %>
    </div>
  </div>

  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>
