<% content_for :body_class, 'app-template--support' %>

<% content_for :content do %>
  <% if yield(:context).present? %>
    <span class="govuk-caption-l"><%= yield :context %></span>
  <% end %>

  <% if yield(:title).present? && controller_name != 'errors' %>
    <h1 class="govuk-heading-l"><%= yield :title %></h1>
  <% end %>

  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>
