<% content_for :title, title_with_error_prefix(t('page_titles.which_study_mode'), @pick_study_mode.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_course_path(params['id'], params['provider_id'])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @pick_study_mode,
          url: candidate_interface_replace_course_choice_study_mode_path(
            params['id'],
            params['provider_id'],
            params['course_id'],
          ),
        ) do |f| %>

        <%= render partial: 'candidate_interface/course_choices/shared/study_mode_fields', locals: { f: f }  %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
