<% content_for :title, title_with_error_prefix(t('page_titles.personal_information'),
                                                @personal_details_form.errors.any? ||
                                                 @nationalities_form.errors.any? ||
                                                 @languages_form.errors.any? ||
                                                  @completion_form.errors.any? ) %>

<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.personal_information') %>
</h1>

<%= render(CandidateInterface::CompleteSectionComponent.new(
  completion_form: @completion_form,
  path: candidate_interface_personal_details_complete_path,
  request_method: :patch,
  field_name: :personal_details_completed,
  summary: SummaryCardComponent.new(rows: @personal_details_review.rows)
)) %>
