<p class="govuk-body">You need to add details of 2 people who could give a reference for you. They will only be contacted if you accept an offer on a course.</p>

<p class="govuk-body">You should choose:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an academic tutor if you have not yet graduated or graduated within the past 5 years</li>
  <li>a headteacher if you have been working in a school</li>
</ul>
<p class="govuk-body">They’ll be asked if they know any reason why you should not work with children.</p>

<%= govuk_button_link_to t('application_form.new_references.add_reference', count: application_form.application_references.count), candidate_interface_new_references_type_path, options_for_add_reference_link %>
