<h1 class="govuk-heading-l">
  <%= t('after_deadline_content_component.title') %>
</h1>
<p class="govuk-body">
  <%= t('after_deadline_content_component.deadline_has_passed', academic_year:) %>
</p>
<p class="govuk-body">
  <%= t('after_deadline_content_component.apply_opens', apply_opens_date:, next_academic_year:) %>
</p>
