<% if FeatureFlag.active?(:feedback_prompts) %>
  <div class="govuk-width-container govuk-!-margin-top-6">
    <div class="app-feedback__container">
      <p class="govuk-body-m govuk-!-margin-bottom-0 govuk-!-margin-top-4">
        <%= govuk_link_to(
          t('application_feedback_component.feedback_link'),
          candidate_interface_application_feedback_path(
            section: section,
            path: path,
            page_title: page_title,
          ),
          class: 'govuk-!-margin-top-4',
          target: '_blank',
          rel: 'noopener' )%>
      </p>
    </div>
  </div>
<% end %>
