<% if FeatureFlag.active?(:feedback_prompts) %>
  <div class="govuk-width-container govuk-!-margin-top-6">
    <div class="app-feedback__container">
      <h2 class="app-feedback__container-title">
        Are there any issues with this section?
      </h2>

      <ul class="app-feedback__list">
        <li class="app-feedback__list-item">
          <%= form_with url: candidate_interface_application_feedback_path(
              issues: true,
              section: section,
              path: path,
              page_title: page_title,
              id_in_path: id_in_path
            ),
            class: 'app-feedback__list-item app-feedback__button',
            method: :post do |f| %>
              <%= f.govuk_submit 'Yes' %>
          <% end %>

          <%= form_with url: candidate_interface_application_feedback_path(
              issues: false,
              section: section,
              path: path,
              page_title: page_title,
              id_in_path: id_in_path
            ),
            class: 'app-feedback__list-item app-feedback__button govuk-!-margin-left-1',
            method: :post,  remote: true do |f| %>
              <%= f.govuk_submit 'No' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
