<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
  <%= course_choice_title %>
</h2>

<ul class="app-task-list govuk-!-margin-bottom-8">
  <li class="app-task-list__item">
    <%= render(
      TaskListItemComponent.new(
        text: course_choice_title,
        completed: completed?,
        path: view_courses_path,
      )
    ) %>
  </li>
</ul>
