<div class="govuk-inset-text govuk-!-margin-top-0">
  <h2 class="govuk-heading-m"><%= title %></h2>

  <p class="govuk-body">If now’s the right time, you can still apply for courses that start this academic year.</p>

  <p class="govuk-body">To talk about your options, get in touch with a <a href="https://beta-adviser-getintoteaching.education.gov.uk/">teacher training adviser</a>.</p>

  <%= govuk_button_to(
    'Apply again',
    candidate_interface_apply_again_path,
  ) %>
</div>
