<div class="govuk-width-container">
  <div class="app-feedback">
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-4">
      <%= govuk_link_to(
        t('application_feedback.feedback_link'),
        candidate_interface_application_feedback_path(
          path: path,
          page_title: page_title,
          original_controller: params[:controller],
        ),
        class: 'govuk-!-margin-top-4',
        target: '_blank',
        rel: 'noopener',
      ) %>
    </p>
  </div>
</div>
