<%= govuk_inset_text(classes: 'govuk-!-margin-top-0') do %>
  <h2 class="govuk-heading-m"><%= title %></h2>

  <p class="govuk-body">If now’s the right time for you, you can still apply for courses that start this academic year.</p>

  <p class="govuk-body">
    A <%= govuk_link_to('teacher training adviser', I18n.t('get_into_teaching.url_get_an_adviser_start')) %> can help you apply again.
  </p>

  <%= govuk_button_to(
    'Apply again',
    candidate_interface_apply_again_path,
    class: 'govuk-!-margin-bottom-0',
  ) %>
<% end %>
