<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.course') %></h2>

  <ol class="app-task-list">
    <li class="app-task-list__item">
      <%= render(
        TaskListItemComponent.new(
          text: t('section_items.choose_course'),
          completed: completed?,
          path: view_courses_path,
        )
      ) %>
    </li>
  </ol>
</section>
