<% if no_offers_awaiting_decisions? %>

  <% if multiple_applications? %>
    <p class="govuk-body">Your applications have been submitted and are with the training providers.</p>
  <% else %>
    <p class="govuk-body">Your application has been submitted and is with the training provider.</p>
  <% end %>

  <p class="govuk-body">Our <%= govuk_link_to('teacher training advisers', 'https://beta-adviser-getintoteaching.education.gov.uk/') %> can help you prepare for any interviews.</p>

<% elsif multiple_offers_but_awaiting_decisions? %>

  <p class="govuk-body">2 of your training providers have made a decision on your application.</p>
  <p class="govuk-body">Our <%= govuk_link_to('teacher training advisers', 'https://beta-adviser-getintoteaching.education.gov.uk/') %> can help you prepare for any interviews.</p>

<% elsif single_offer_but_awaiting_decisions? %>

  <p class="govuk-body">One of your training providers has made a decision on your application.</p>
  <p class="govuk-body">Our <%= govuk_link_to('teacher training advisers', 'https://beta-adviser-getintoteaching.education.gov.uk/') %> can help you prepare for any interviews.</p>

<% elsif offer_accepted? %>

  <p class="govuk-body">You’ve accepted the offer from <%= accepted_offer_provider_name %></p>

  <p class="govuk-body">Before your offer is confirmed, there are some final conditions to meet.</p>

<% elsif offer_deferred? %>

  <p class="govuk-body">You’ve chosen to defer your course.</p>

<% elsif conditions_met? %>

  <p class="govuk-body">Congratulations on joining your teacher training course.</p>

<% end %>
