<% if any_recruited? %>
  <p class="govuk-body">
    Your training provider will be in touch with you directly to explain what happens next.
  </p>
<% elsif any_deferred? %>
  <p class="govuk-body">
    We’ve sent you an email to confirm this. Your training provider will be in
    touch with you directly to explain what happens next.
  </p>
<% elsif any_accepted_offer? %>
  <p class="govuk-body">
    We’ve sent you an email to confirm this. Your training provider will be in
    touch with you directly to explain what happens next.
  </p>
<% elsif any_offers? %>
  <p class="govuk-body">
    <%= t('application_complete.dashboard.providers_respond_by', date: respond_by_date) %>
  </p>

  <p class="govuk-body">
    If you accept an offer now, your remaining applications will be withdrawn.
  </p>
<% elsif any_awaiting_provider_decision? %>
  <p class="govuk-body">
    <%= t('application_complete.dashboard.providers_respond_by', date: respond_by_date) %>
  </p>
<% end %>
