<div class="app-banner">
  <div class="app-banner__message">
    <h2 class="govuk-heading-m">
      <% if @application_form.application_choices.all?(&:cancelled?) %>
        Your application has been withdrawn. <%= govuk_link_to 'Do you want to apply again?', candidate_interface_start_apply_again_path %>
      <% else %>
        <%= govuk_link_to 'Do you want to apply again?', candidate_interface_start_apply_again_path %>
      <% end %>
    </h2>
  </div>
</div>
