<% if show_missing_banner? %>
  <%= render(
    CandidateInterface::IncompleteSectionComponent.new(
      section: :becoming_a_teacher,
      section_path: @application_form.becoming_a_teacher.present? ? candidate_interface_edit_becoming_a_teacher_path : candidate_interface_new_becoming_a_teacher_path,
      error: @missing_error,
      review_needed: review_needed?,
    ),
  ) %>
<% else %>
  <div class="app-summary-card govuk-!-margin-bottom-6">
    <% if @editable %>
      <div class="app-summary-card__header govuk-body">
        <%= govuk_link_to 'Edit your personal statement', candidate_interface_edit_becoming_a_teacher_path(return_to_params) %>
      </div>
    <% end %>
    <div class="app-summary-card__body">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">
          <%= simple_format(@application_form.becoming_a_teacher, class: 'govuk-body') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
