<% if show_missing_banner? %>
  <%= render(
    CandidateInterface::IncompleteSectionComponent.new(
      section: :becoming_a_teacher,
      section_path: @application_form.becoming_a_teacher.present? ? candidate_interface_edit_becoming_a_teacher_path : candidate_interface_new_becoming_a_teacher_path,
      error: @missing_error,
      review_needed: review_needed?,
    ),
  ) %>
<% else %>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <div class="app-summary-card__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <%= simple_format(@application_form.becoming_a_teacher, class: 'govuk-body') %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="<%= candidate_interface_edit_becoming_a_teacher_path(return_to_params) %>">
            Edit your answer
          </a>
        </dd>
      </div>
    </dl>
  </div>
</section>
<% end %>
