<div class="app-banner">
  <div class="app-banner__message">
    <div class="govuk-heading-m">
      <% if EndOfCycleTimetable.between_cycles_apply_2? %>
        <p>
          Courses for the <%= current_cycle_span %> academic year are now closed
        </p>

        <p class='govuk-body govuk-!-font-size-24'>
          Your references did not come back in time, but you can <%= govuk_link_to 'apply again', start_path %>
        </p>
      <% else %>
        <p>
          Do you want to continue applying?
        </p>

        <p class='govuk-body govuk-!-font-size-24'>
          Applications are open for courses starting next academic year <%= current_cycle_span %>.
        </p>

        <p class='govuk-body govuk-!-font-size-24'>
          <%= govuk_link_to 'Continue your application', start_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>
