<%= form_with model: @application_form, url: @path, method: @request_method do |f| %>
  <div class='govuk-form-group'>
    <%= f.hidden_field @field_name, value: false %>
    <%= f.govuk_check_box @field_name, true, multiple: false, label: { text: t(checkbox_label) } %>
  </div>

  <%= f.govuk_submit t('continue') %>
<% end %>
