<%= govuk_inset_text(classes: 'app-inset-text--narrow-border app-inset-text--important') do %>
  <p class="govuk-heading-s app-inset-text__title">Visa sponsorship is not available for this course</p>

  <p class="govuk-body">
    If you need a Student or Skilled Worker visa to get the right to work or study in the UK, you should
    <%= govuk_link_to('find a course', t('find_teacher_training.production_url')) %> where sponsorship is available.
  </p>

  <p class="govuk-body">
    Check your eligibility for different <%= govuk_link_to('visa types and immigration statuses', t('train_to_teach_in_england.url')) %>.
  </p>
<% end %>
