<% if can_sponsor_visa? %>
  <%= title %>
<% else %>
  <%= govuk_inset_text(classes: 'app-inset-text--narrow-border app-inset-text--important govuk-!-margin-top-0 govuk-!-padding-bottom-1') do %>
    <p class="govuk-heading-s app-inset-text__title"><%= title %></p>

    <p class="govuk-body">
      You said that you do not yet have the right to work or study in the UK.
    </p>

    <p class="govuk-body">You can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>find a course that can sponsor student visas</li>
      <li>find out about <a href="https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-non-uk-applicants#visas-and-immigration" class="govuk-link">other visas that allow you to study in the UK</a></li>
    </ul>
  <% end %>
<% end %>
