<% if action == :withdraw %>
  <p class="govuk-body">
    <%= govuk_link_to 'Withdraw this application', path_for_withdrawals %>
  </p>
<% elsif action == :respond_to_offer %>
  <p class="govuk-body">
    <%= govuk_link_to 'Respond to offer', candidate_interface_offer_path(application_choice.id) %>
  </p>
<% end %>
