<div class="app-banner">
  <div class="app-banner__message">
    <h2 class="govuk-heading-m">Coronavirus (COVID-19)</h2>
    <p class="govuk-body">
      Training providers may take longer to respond to your application.
      You may also have longer to respond to any offers. Deadlines will show on this page.
    </p>
  </div>
</div>
