<%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
  sdfds
  <% notification_banner.heading(text: "The deadline for applying to courses starting in the #{academic_year} academic year is #{deadline[:time]} on #{deadline[:date]}") %>
  <p class="govuk-body">Courses may fill up before then. Check course availability with your provider.</p>
<% end %>
