<%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
  <% notification_banner.with_heading(text: t('.heading', academic_year:, deadline_time: deadline[:time], deadline_date: deadline[:date])) %>
  <p class="govuk-body"><%= t('.text') %></p>
<% end %>
