<p class="govuk-body">You need a bachelor’s degree or equivalent to start teacher training.</p>

<p class="govuk-body">Add your bachelor’s degree even if you have not got your grade yet.</p>

<p class="govuk-body">You can also add any other degrees that you have, or you are working towards.</p>

 <p class="govuk-body">Find out how you can get qualified teacher status (QTS) as part of an <%= govuk_link_to_with_utm_params 'undergraduate degree', t('get_into_teaching.url_if_you_dont_have_a_degree'), utm_campaign(params) %> if you do not have a degree yet and are not already studying for one.</p>

<% unless @application_form.no_degree_and_degree_completed? %>
  <%= govuk_button_link_to degrees.empty? ? t('application_form.degree.add.button') : t('application_form.degree.another.button'), candidate_interface_degree_country_path, primary: true %>
<% end %>
