<div class="govuk-inset-text">
  <% if @section_policy.personal_statement? %>
    <%= t('editable_section_warning.not_included_in_submitted_personal_statement') %>
  <% elsif @section_policy.work_history? %>
    <%= t('editable_section_warning.not_included_in_submitted') %>
  <% else %>
    <%= t('editable_section_warning.included_in_submitted') %>
  <% end %>
</div>
