<p class="govuk-body"><%= render(CandidateInterface::PendingGcseRequiredComponent.new(application_choice)) %></p>
<p class="govuk-body"><%= render(CandidateInterface::GcseEquivalencyRequiredComponent.new(application_choice)) %></p>
