<% find_down = CycleTimetable.find_down? %>

<% courses_by_provider_and_region.each do |region_code, courses_by_provider| %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8"><%= label_for(region_code) %></h2>
  <%= govuk_accordion(id: region_code) do |component| %>
    <% courses_by_provider.each_with_index do |provider, index| %>
      <% component.slot(:section, title: provider.provider_name) do %>
        <ul class="govuk-list govuk-list--bullet">
          <% provider.courses.sort_by(&:name).each do |course| %>
            <% if find_down %>
              <li><%= course.name_and_code %></li>
            <% else %>
              <li><%= govuk_link_to course.name_and_code, course.find_url %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
