<%= govuk_inset_text(classes: "app-inset-text--narrow-border app-inset-text--#{@error ? 'error' : 'important'}", html_attributes: { id: "incomplete-#{section}-error" }) do %>
  <p class="app-inset-text__title"><%= message %></p>
  <p class="govuk-body"><%= govuk_link_to link_text, @section_path, class: 'govuk-link--no-visited-state', 'data-qa': "incomplete-#{section}" %></p>
<% end %>
