<div class="govuk-inset-text app-inset-text--<% if @error %>error<% else %>important<% end %>" id="<%= "incomplete-#{section}-error" %>">
  <p class="govuk-heading-s govuk-!-margin-bottom-2"><%= @text %></p>
  <p class="govuk-body"><%= govuk_link_to link_text, @section_path, class: 'govuk-link--no-visited-state', 'data-qa': "incomplete-#{section}" %></p>
</div>
