<% submitted_applications.each do |application_form| %>
  <%= govuk_link_to ordinalize(application_form), candidate_interface_application_review_previous_path(application_form.candidate.id, application_form.id) %>
  <p class="govuk-body-s">
    <%= "Submitted #{application_form.submitted_at.to_s(:govuk_date).strip}" %>
  </p>
<% end %>
