<div class="govuk-grid-column-full govuk-!-margin-top-4">
  <h2 class="govuk-heading-m">Sharing your application details</h2>
  <% if pool_opt_in? %>
    <p class="govuk-body">
      You are sharing your application details with training providers that you have not submitted an application to.
    </p>
  <% else %>
    <p class="govuk-body">
      You are not sharing your application details with training providers that you have not submitted an application to.
    </p>
  <% end %>

  <%= govuk_list(
    [
      govuk_link_to(
        'Read about how sharing your application details works',
        candidate_interface_share_details_path,
      ),
      govuk_link_to(
        'Change your sharing and location settings',
        path_to_change_preferences,
      ),
    ],
    type: :bullet,
  ) %>
</div>
