<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Sharing your application details</h2>
  <p class="govuk-body">
    You are sharing your application details with training providers that you have not submitted an application to.
  </p>

  <%= govuk_list(links_list) %>
</div>

