<ul class="govuk-list govuk-list--bullet">
  <% @conditions.each do |condition| %>
    <li><%= condition %></li>
  <% end %>
</ul>

<p class="govuk-body">
  Contact the provider to find out more about these conditions.
</p>
