<div class="govuk-!-margin-bottom-6">
<h2 class="govuk-heading-m"><%= "Applications for courses in the #{timetable.cycle_range_name} recruitment cycle" %></h2>
  <% application_choices.each do |application_choice| %>
    <%= render CandidateInterface::ApplicationChoiceItemComponent.new(application_choice:, previous_application: true) %>
  <% end %>
</div>
