<% if description.present? %>
  <p class="govuk-body"><%= provider_name %> said:</p>
  <%= govuk_inset_text(classes: 'govuk-!-margin-top-0') do %>
    <p class="govuk-body">
      <%= description %>
    </p>
  <% end %>
<% end %>
<% if show_extra_content? %>
  <p class="govuk-body">If the people you have chosen to provide references have not responded yet, you can request another reference. We will also email them to remind them 7, 14 and 28 days after you accepted this offer.</p>
  <p class="govuk-body govuk-!-margin-bottom-7">Find out more about who you should ask to be a reference on the <%= govuk_link_to('Get Into Teaching website', t('get_into_teaching.url_references'), new_tab: true) %>.</p>
<% end %>
