<% if can_send_reminder? %>
<%= govuk_button_link_to candidate_interface_references_new_reminder_path('request-reference', @reference.id) do %>
    <%= t('application_form.references.send_reminder.post_offer_action') %>
    <span class="govuk-visually-hidden"> <%= @reference.name %></span>
  <% end %>
<% else %>
  <p class="govuk-body">
    <%= I18n.t(
      'application_form.references.send_reminder.remind_again',
      remind_again_at: remind_again_at.to_fs(:govuk_date_and_time),
    ) %>
  </p>
<% end %>
