<ol class="app-task-list govuk-!-margin-bottom-2">
  <% references.each do |reference| %>
    <li class="app-task-list__item">
      <div class="app-task-list__content">
        <% if reference_condition_met? %>
          <strong class="govuk-task-list__status--black">
            Received by training provider
          </strong>
        <% else %>
          <%= render CandidateInterface::ReferenceStatusesComponent.new(reference: reference) %>
        <% end %>
        <div class="app-task-list__task-name">
          <%= govuk_link_to reference.name, candidate_interface_application_offer_dashboard_reference_path(reference.id) %>
          <% unless reference_condition_met? %>
            <%= render(CandidateInterface::ReferenceStatusLineComponent.new(reference)) %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ol>
