<p class="govuk-body">
  You can choose to make your application details visible to training providers
  who you have not submitted an application to.
</p>
<p class="govuk-body">
  They can search a list of candidates and view their application details.
  If you meet the eligibility criteria for their course, they can invite you to apply directly.
</p>

<%= govuk_button_to('Continue', path_to_continue, method: :get) %>

<div class="app-card app-card--light-blue">
  <h2 class="govuk-heading-m">How this works with the current application process </h2>
  <p class="govuk-body">
    This feature should be used alongside the current application process.
    You should continue to choose courses and submit applications yourself.
  </p>
  <p class="govuk-body">
    Your application details will only be visible to training providers if all
    of your active applications are unsuccessful. Each time you submit a new
    application, you will stop being searchable by other providers.
  </p>
  <p class="govuk-body">
    You can still submit up to 4 application choices at a time. Any that you
    are invited to apply to will count towards this total.
  </p>
  <p class="govuk-body">
    You can change your decision to share your application details at any time.
  </p>
<div>
