<p class="govuk-body">
  You can choose to make your application details visible to training providers
  who you have not submitted an application to.
</p>
<p class="govuk-body">
  They can search a list of candidates and view your application details.
  If they think you are suitable for their course, they can invite you to apply directly.
</p>

<% if submit_application %>
  <%= govuk_button_to('Continue', path_to_continue, method: :get) %>
<% end %>

<div class="<%= app_card_class %>">
  <h2 class="govuk-heading-m">How this works with the current application process</h2>
  <p class="govuk-body">
    This feature should be used alongside <%= govuk_link_to 'the current application process', candidate_interface_guidance_path %>.
    You must continue to choose courses and submit applications yourself.
  </p>
  <p class="govuk-body">
    You can still submit up to 4 application choices at a time.
    If a provider invites you to apply and you submit an application, it will count towards your total.
  </p>
  <p class="govuk-body">
    You can change your decision to share your application details at any time.
  </p>
</div>

<% if !submit_application %>
  <p class="govuk-body">
    <%= govuk_link_to('Change your sharing and location settings', path_to_continue) %>
  </p>
<% end %>
