<% if show_missing_banner? %>
  <%= render(
    CandidateInterface::IncompleteSectionComponent.new(
      section: :subject_knowledge,
      section_path: candidate_interface_edit_subject_knowledge_path,
      error: @missing_error,
      review_needed: review_needed?,
    ),
  ) %>
<% else %>
  <section class="app-summary-card govuk-!-margin-bottom-6">
    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <%= simple_format(@subject_knowledge_form.subject_knowledge, class: 'govuk-body') %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% if @editable %>
              <%= govuk_link_to 'Edit your answer', candidate_interface_edit_becoming_a_teacher_path(return_to_params) %>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </section>
<% end %>
