<div class="app-task-list__content">
  <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1">
    <% if references.feedback_provided.count >= ApplicationForm::REQUIRED_REFERENCE_SELECTIONS %>
      <%= govuk_link_to t('page_titles.references_review'), references_path, 'aria-describedby': "#{t('page_titles.references_review').parameterize}-badge-id" %>
    <% else %>
      <%= govuk_link_to 'Request your references', references_path, 'aria-describedby': "#{t('page_titles.references_review').parameterize}-badge-id" %>
    <% end %>
  </p>
</div>
