<div class="app-banner app-banner--warning govuk-!-margin-bottom-7">
  <div class="app-banner__message">
    <h2 class="govuk-heading-m">UCAS planned maintenance</h2>
    <p class="govuk-body">UCAS services won’t be available from 6pm on Friday 24 April until Sunday 26 April.</p>
  </div>
</div>
