<% if @application_choice.visa_explanation_other? %>
  <p class="govuk-body govuk-!-margin-bottom-5">
    <%= t(".#{@application_choice.visa_explanation}") %>:
  </p>
  <p class="govuk-body">
    <%= @application_choice.visa_explanation_details %>
  </p>
<% else %>
  <%= t(".#{@application_choice.visa_explanation}") %>
<% end %>
