<% content_for :title, title_with_error_prefix(t('page_titles.contact_details'), @contact_details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_contact_information_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_form, url: candidate_interface_edit_phone_number_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.contact_information') %>
      </h1>

      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
